= div_for wow_character do
  %h3
    = wow_character.name
    %span.actions
      = link_to( 'Edit', edit_wow_character_path(wow_character))
      = link_to( 'Delete', wow_character, :confirm => 'Are you sure?', :method => :delete)
