- title "Editing World of Warcraft Character"

#body
  %h1 Editing World of Warcraft Character

  = simple_form_for @wow_character, :html => {:novalidate => true}  do |f|
    %fieldset
      %ol
        = render 'fields', :f => f, :wow_character => @wow_character
      %p.submit
        %button{ :type => 'submit' } Save character
        = link_to 'Remove Character', @wow_character, :method => :delete, :confirm => 'This cannot be undone. Are you sure you want to remove this character?', :class => 'secondary'

  = render 'shared/user_account_links'