= f.text_field :content, :title => 'Answer'
%span.actions
  = link_to 'Remove', 'javascript:;', :class => 'remove', :title => 'Remove answer field', :onclick => "remove_fields($(this).parents('dd'), 1, $(this).parents('.answers'), 'dd')"