@import url(../../../stylesheets/reset.css);
@import url(type.css) all;
@import url(screen.css) screen;
/*
@import url(print.css) print;
@import url(handheld.css) handheld;
*/

@font-face {
  font-family: 'SansationRegular';
  src: url('../fonts/sansation_regular-webfont.eot');
  src: local('☺'),
       url('../fonts/sansation_regular-webfont.woff') format('woff'),
       url('../fonts/sansation_regular-webfont.ttf') format('truetype'),
       url('../fonts/sansation_regular-webfont.svg#webfont53w7gvWg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
@font-face {
  font-family: 'SansationLight';
  src: url('../fonts/sansation_light-webfont.eot');
  src: local('☺'),
       url('../fonts/sansation_light-webfont.woff') format('woff'),
       url('../fonts/sansation_light-webfont.ttf') format('truetype'),
       url('../fonts/sansation_light-webfont.svg#webfontyPH74JF8') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
  font-family: 'SansationBold';
  src: url('../fonts/sansation_bold-webfont.eot');
  src: local('☺'),
       url('../fonts/sansation_bold-webfont.woff') format('woff'),
       url('../fonts/sansation_bold-webfont.ttf') format('truetype'),
       url('../fonts/sansation_bold-webfont.svg#webfontYtnkLv7p') format('svg');
  font-weight: normal;
  font-style: normal;
}