body {
  background: #181a1b;
  min-width: 980px;
  text-align: center; }

.container {
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 960px; }

button,
.button,
input[type=button],
input[type=submit] {
  background: url(../images/button-sprite.png) 0 0 repeat-x #2c2c2c;
  border: 1px solid #181a1b;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 26px;
  line-height: 24px;
  padding: 0 15px;
  text-align: center; }
  button:focus, button:hover,
  .button:focus,
  .button:hover,
  input[type=button]:focus,
  input[type=button]:hover,
  input[type=submit]:focus,
  input[type=submit]:hover {
    background-color: #3e778b !important;
    background-position: 0 -60px !important; }

.button {
  height: 24px; }

input[type=text],
input[type=password],
textarea {
  background: url(../images/input-sprite.png) 0 0 repeat-x #a9a9a9;
  border: 1px solid #000;
  border-bottom-color: #323333;
  border-right-color: #323333;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 28px;
  line-height: 28px;
  padding: 0 7px; }
  input[type=text]:focus, input[type=text]:hover,
  input[type=password]:focus,
  input[type=password]:hover,
  textarea:focus,
  textarea:hover {
    background-color: #bababa;
    background-position: 0 -30px; }

textarea {
  background-image: none;
  height: 10em;
  padding: 0.3em 7px; }

#announcements {
  margin: -5px 0 15px; }
  #announcements li {
    height: 39px;
    margin: 5px 0 0;
    position: relative; }
    #announcements li .msg {
      bottom: 0;
      display: block;
      background: #6e2222;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-bottomright: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      left: 0;
      line-height: 39px;
      overflow: hidden;
      padding: 0 15px;
      position: absolute;
      right: 0;
      top: 0;
      white-space: nowrap;
      z-index: 1; }
    #announcements li:focus .msg, #announcements li:hover .msg {
      background: #902525; }
    #announcements li.alert .msg {
      background: #9c9b22; }
    #announcements li.notice .msg {
      background: #c3c3c3; }
    #announcements li .dismiss {
      background: url(../images/flash-close-sprite.png) 0 -1px no-repeat;
      border: 0;
      height: 39px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      text-indent: -500em;
      width: 46px;
      z-index: 2; }
      #announcements li .dismiss:focus, #announcements li .dismiss:hover {
        background-color: transparent !important;
        background-position: 0 -42px !important;
        border: 0; }
    #announcements li button {
      background: url(../images/announcement-button-sprite.png) 0 -1px no-repeat;
      border: 0;
      height: 39px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      text-indent: -500em;
      width: 122px;
      z-index: 2; }
      #announcements li button:focus, #announcements li button:hover {
        background-color: transparent !important;
        background-position: 0 -42px !important;
        border: 0; }

#header {
  background: url(../images/header-bg.png) 0 0 repeat-x #181a1b;
  height: 115px;
  position: relative;
  margin: 0 0 40px; }
  #header .title {
    left: 0;
    position: absolute;
    top: 30px; }
  #header .slogan {
    left: 0;
    position: absolute;
    top: 70px; }
  #header .userbox {
    position: absolute;
    right: 0;
    top: 10px; }
    #header .userbox form,
    #header .userbox form * {
      display: inline-block; }
    #header .userbox * {
      display: inline-block; }
    #header .userbox #mailbox_list {
      display: inline; }
      #header .userbox #mailbox_list a {
        background: url(../images/mail-icons.png) no-repeat;
        height: 50px;
        margin: 0 -8px;
        overflow: hidden;
        position: relative;
        text-indent: -500px;
        top: -16px;
        width: 50px; }
      #header .userbox #mailbox_list .compose a {
        background-position: 0 0; }
        #header .userbox #mailbox_list .compose a:hover {
          background-position: 0 -49px; }
      #header .userbox #mailbox_list .mailboxes ul {
        display: inline; }
        #header .userbox #mailbox_list .mailboxes ul li {
          display: inline; }
          #header .userbox #mailbox_list .mailboxes ul li.inbox a {
            background-position: -50px 0;
            z-index: 3; }
            #header .userbox #mailbox_list .mailboxes ul li.inbox a:hover {
              background-position: -50px -49px; }
          #header .userbox #mailbox_list .mailboxes ul li.sent a {
            background-position: -100px 0;
            z-index: 2; }
            #header .userbox #mailbox_list .mailboxes ul li.sent a:hover {
              background-position: -100px -49px; }
          #header .userbox #mailbox_list .mailboxes ul li.trash a {
            background-position: -150px 0;
            z-index: 1; }
            #header .userbox #mailbox_list .mailboxes ul li.trash a:hover {
              background-position: -150px -49px; }

#menu {
  height: 60px;
  margin: 0 0 20px; }
  #menu .container {
    height: 300px; }
  #menu ul {
    background: url(../images/menu.png) top center no-repeat;
    height: 60px;
    left: 0;
    padding: 0 7px;
    position: absolute;
    top: 0;
    width: 946px;
    z-index: 1; }
    #menu ul li {
      float: left;
      position: relative; }
      #menu ul li a {
        border: 1px solid transparent;
        float: left;
        display: block;
        height: 24px;
        line-height: 24px;
        margin: 7px 0;
        padding: 10px 18px;
        position: relative; }
      #menu ul li ul,
      #menu ul li form {
        display: none; }
      #menu ul li:hover a {
        background: #000;
        border: 1px solid #666;
        border-bottom: 0;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 0px;
        -webkit-border-bottom-left-radius: 0px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 0px;
        -moz-border-radius-bottomleft: 0px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px; }
      #menu ul li:hover ul,
      #menu ul li:hover form {
        background: #000;
        border: 1px solid #666;
        -webkit-border-top-left-radius: 0px;
        -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-top-left-radius: 0px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top: 0;
        display: block;
        height: auto;
        left: 0;
        position: absolute;
        padding: 10px;
        top: 46px;
        width: 200px; }
        #menu ul li:hover ul li,
        #menu ul li:hover form li {
          display: inline;
          float: none; }
          #menu ul li:hover ul li a,
          #menu ul li:hover form li a {
            background: transparent;
            border: 0;
            border-left: 3px solid transparent;
            -webkit-border-top-left-radius: 3px;
            -webkit-border-top-right-radius: 3px;
            -webkit-border-bottom-right-radius: 3px;
            -webkit-border-bottom-left-radius: 3px;
            -moz-border-radius-topleft: 3px;
            -moz-border-radius-topright: 3px;
            -moz-border-radius-bottomright: 3px;
            -moz-border-radius-bottomleft: 3px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-top: 1px solid #222;
            float: none;
            height: auto;
            line-height: 1.2em;
            margin: 0;
            padding: 10px 5px; }
            #menu ul li:hover ul li a:focus, #menu ul li:hover ul li a:hover,
            #menu ul li:hover form li a:focus,
            #menu ul li:hover form li a:hover {
              background-color: #3e778b;
              border-left-color: #ccc;
              padding: 10px 2px 10px 8px; }
          #menu ul li:hover ul li.current a,
          #menu ul li:hover form li.current a {
            background-image: url(../images/bullet-arrow.png);
            background-position: 2px center;
            background-repeat: no-repeat;
            padding-left: 14px; }
            #menu ul li:hover ul li.current a:focus, #menu ul li:hover ul li.current a:hover,
            #menu ul li:hover form li.current a:focus,
            #menu ul li:hover form li.current a:hover {
              background-position: 5px center;
              padding-left: 17px; }
      #menu ul li.search {
        float: none;
        position: absolute;
        right: 7px; }
        #menu ul li.search a.main {
          background-image: url(../images/menu-icons.png);
          background-position: -65px -7px;
          background-repeat: no-repeat;
          overflow: hidden;
          text-indent: -500em;
          width: 14px; }
        #menu ul li.search:hover a.main {
          background-position: -65px -67px; }
        #menu ul li.search form {
          -webkit-border-top-left-radius: 4px;
          -webkit-border-top-right-radius: 0px;
          -webkit-border-bottom-right-radius: 4px;
          -webkit-border-bottom-left-radius: 4px;
          -moz-border-radius-topleft: 4px;
          -moz-border-radius-topright: 0px;
          -moz-border-radius-bottomright: 4px;
          -moz-border-radius-bottomleft: 4px;
          border-top-left-radius: 4px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
          height: 24px;
          left: auto;
          right: 0;
          width: 300px; }
          #menu ul li.search form input {
            background: #222;
            -webkit-border-top-left-radius: 3px;
            -webkit-border-top-right-radius: 3px;
            -webkit-border-bottom-right-radius: 3px;
            -webkit-border-bottom-left-radius: 3px;
            -moz-border-radius-topleft: 3px;
            -moz-border-radius-topright: 3px;
            -moz-border-radius-bottomright: 3px;
            -moz-border-radius-bottomleft: 3px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            height: 24px;
            left: 10px;
            line-height: 24px;
            padding: 0 7px;
            position: absolute;
            right: 108px; }
            #menu ul li.search form input:focus {
              background: #333; }
          #menu ul li.search form button {
            background-position: 0 -30px;
            position: absolute;
            right: 10px; }
            #menu ul li.search form button:focus, #menu ul li.search form button:hover {
              background-position: 0 -60px; }
      #menu ul li.locale {
        float: none;
        position: absolute;
        right: 57px; }
        #menu ul li.locale a.main {
          background-image: url(../images/menu-icons.png);
          background-position: -5px -7px;
          background-repeat: no-repeat;
          overflow: hidden;
          padding-bottom: 5px;
          text-indent: -500em;
          width: 14px;
          z-index: 2; }
        #menu ul li.locale:hover a.main {
          background-position: -5px -67px; }
        #menu ul li.locale ul {
          -webkit-border-top-left-radius: 4px;
          -webkit-border-top-right-radius: 0px;
          -webkit-border-bottom-right-radius: 4px;
          -webkit-border-bottom-left-radius: 4px;
          -moz-border-radius-topleft: 4px;
          -moz-border-radius-topright: 0px;
          -moz-border-radius-bottomright: 4px;
          -moz-border-radius-bottomleft: 4px;
          border-top-left-radius: 4px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
          left: auto;
          right: 0; }
          #menu ul li.locale ul img {
            border: 1px solid #000;
            position: absolute;
            right: 11px;
            top: 10px; }
          #menu ul li.locale ul a {
            background-image: none; }
            #menu ul li.locale ul a:focus img, #menu ul li.locale ul a:hover img {
              border-color: #fff; }

#body {
  margin: 0 0 60px; }
  #body h1 {
    padding: 0 0 10px; }
  #body h2,
  #body h3,
  #body p {
    padding: 0 0 10px; }

.comments ol li {
  position: relative; }
  .comments ol li span {
    display: block; }
    .comments ol li span.author {
      left: 105px;
      position: absolute;
      top: 15px;
      z-index: 2; }
    .comments ol li span.body {
      background: url(../images/comment-bg.png) 0 0 repeat-x #252829;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 3px;
      -moz-border-radius-bottomright: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      margin: 0 0 2px;
      min-height: 30px;
      padding: 45px 20px 20px 105px;
      position: relative;
      z-index: 1; }
    .comments ol li span.actions {
      top: 10px;
      right: 20px;
      padding: 2px 0 0;
      position: absolute;
      right: 20px;
      z-index: 2; }
      .comments ol li span.actions a {
        border-bottom: 1px solid #2e3233;
        float: left;
        padding: 0 5px;
        margin: 0 2px 0 0;
        text-decoration: none; }
        .comments ol li span.actions a:focus, .comments ol li span.actions a:hover {
          background: #5ba7b4; }
  .comments ol li img {
    border: 1px solid #000;
    left: 10px;
    position: absolute;
    top: 10px;
    z-index: 3; }
  .comments ol li ol {
    margin: 0 0 0 30px;
    z-index: 2; }
.comments #new_comment {
  margin: 0 0 2px 30px; }

#new_comment {
  background: url(../images/comment-bg.png) 0 0 repeat-x #252829;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 150px;
  padding: 20px;
  position: relative; }
  #new_comment .field {
    left: 20px;
    bottom: 70px;
    position: absolute;
    right: 36px;
    top: 20px; }
    #new_comment .field textarea {
      height: 100%;
      width: 100%; }
  #new_comment .actions {
    bottom: 20px;
    left: 20px;
    position: absolute; }
    #new_comment .actions input {
      background-color: #bababa;
      background-position: 0 -30px; }
    #new_comment .actions a {
      padding: 0 0 0 10px; }

#footer {
  background: url(../images/footer-bg.png) 0 0 repeat-x;
  min-height: 241px;
  padding: 40px 0 0; }
  #footer .menu {
    float: left;
    width: 200px;
    padding: 0 40px 40px 0; }
    #footer .menu h3 {
      padding: 0 40px 1em 0; }
    #footer .menu a {
      border-top: 1px solid #222;
      border-left: 3px solid transparent;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 3px;
      -moz-border-radius-bottomright: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      display: block;
      margin: 0 0 0 -3px;
      padding: 7px 14px 7px 0;
      text-transform: uppercase; }
      #footer .menu a:focus, #footer .menu a:hover {
        background: #3e778b;
        border-left: 3px solid #ccc;
        padding: 7px; }
  #footer .copyright {
    padding: 0 0 10px 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 220px; }

.logged_out #announcements li {
  margin: 5px 0 0 -10px; }
.logged_out #menu {
  height: 300px; }
  .logged_out #menu .container {
    background: url(../images/header-temp.jpg) 0 74px no-repeat;
    height: 300px; }
  .logged_out #menu .login {
    background: url(../images/icon-lock.png) -7px 13px no-repeat;
    height: 95px;
    left: 5px;
    position: absolute;
    top: 15px;
    width: 335px;
    z-index: 2; }
    .logged_out #menu .login label {
      display: none; }
    .logged_out #menu .login input[type=text] {
      border-bottom-color: #a9a9a9;
      border-right-color: #a9a9a9;
      left: 25px;
      position: absolute;
      top: 0;
      width: 174px; }
    .logged_out #menu .login input[type=password] {
      border-bottom-color: #a9a9a9;
      border-right-color: #a9a9a9;
      left: 25px;
      position: absolute;
      top: 32px;
      width: 174px; }
    .logged_out #menu .login input[type=submit] {
      background-color: #3e778b;
      background-position: 0 -30px;
      border-bottom-color: #525252;
      border-right-color: #525252;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 110px; }
    .logged_out #menu .login .remember {
      height: 15px;
      line-height: 15px;
      overflow: hidden;
      position: absolute;
      right: -15px;
      top: 40px;
      width: 125px; }
      .logged_out #menu .login .remember input {
        left: -100px;
        position: absolute; }
      .logged_out #menu .login .remember label {
        background: url(../images/checkbox.png) 0 0 no-repeat;
        display: block;
        height: 15px;
        line-height: 15px;
        padding: 0 0 0 20px; }
        .logged_out #menu .login .remember label.checked {
          background-position: 0 -40px; }
    .logged_out #menu .login .apply {
      bottom: 0;
      border-top: 1px solid #666;
      left: 0;
      padding: 5px 0 0;
      position: absolute;
      right: 0; }
  .logged_out #menu ul {
    background-image: url(../images/menu-home.png);
    height: 284px;
    left: -10px;
    padding: 16px 0 0 375px;
    width: 595px; }
