body {
  background: #181a1b;
  min-width: 980px;
  text-align: center; }

.container {
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 960px; }

button,
.button,
input[type=button],
input[type=submit] {
  background: url(../images/button-sprite.png) 0 0 repeat-x #2c2c2c;
  border: 1px solid #000;
  border-bottom-color: #323333;
  border-right-color: #323333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  text-align: center; }
  button:focus, button:hover,
  .button:focus,
  .button:hover,
  input[type=button]:focus,
  input[type=button]:hover,
  input[type=submit]:focus,
  input[type=submit]:hover {
    background-color: #3394b4 !important;
    background-position: 0 -60px !important; }

input[type=text],
input[type=password] {
  background: url(../images/input-sprite.png) 0 0 repeat-x #a9a9a9;
  border: 1px solid #000;
  border-bottom-color: #323333;
  border-right-color: #323333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 28px;
  line-height: 28px;
  padding: 0 7px; }
  input[type=text]:focus, input[type=text]:hover,
  input[type=password]:focus,
  input[type=password]:hover {
    background-color: #bababa;
    background-position: 0 -30px; }

#announcements {
  margin: -5px 0 15px; }
  #announcements li {
    height: 39px;
    margin: 5px 0 0 -10px;
    position: relative; }
    #announcements li a,
    #announcements li span {
      bottom: 0;
      display: block;
      background: #6e2222;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      left: 0;
      line-height: 39px;
      overflow: hidden;
      padding: 0 15px;
      position: absolute;
      right: 0;
      top: 0;
      white-space: nowrap;
      z-index: 1; }
    #announcements li:focus a, #announcements li:focus span, #announcements li:hover a, #announcements lihover span {
      background: #902525; }
    #announcements li.alert span {
      background: #9c9b22; }
    #announcements li.notice span {
      background: #c3c3c3; }
    #announcements li button {
      background: url(../images/announcement-button-sprite.png) 0 -1px no-repeat;
      border: 0;
      height: 39px;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      text-indent: -500em;
      width: 122px;
      z-index: 2; }
      #announcements li button:focus, #announcements li button:hover {
        background-color: transparent !important;
        background-position: 0 -42px !important;
        border: 0; }

#header {
  background: url(../images/header-bg.png) 0 0 repeat-x #181a1b;
  height: 115px;
  position: relative;
  margin: 0 0 40px; }
  #header .title {
    left: 0;
    position: absolute;
    top: 30px; }
  #header .slogan {
    left: 0;
    position: absolute;
    top: 70px; }

#menu {
  height: 300px;
  margin: 0 0 20px; }
  #menu .container {
    background: url(../images/header-temp.jpg) 0 74px no-repeat;
    height: 300px; }
  #menu .login {
    background: url(../images/icon-lock.png) -7px 13px no-repeat;
    height: 95px;
    left: 5px;
    position: absolute;
    top: 15px;
    width: 335px;
    z-index: 2; }
    #menu .login label {
      display: none; }
    #menu .login input[type=text] {
      border-bottom-color: #a9a9a9;
      border-right-color: #a9a9a9;
      left: 25px;
      position: absolute;
      top: 0;
      width: 174px; }
    #menu .login input[type=password] {
      border-bottom-color: #a9a9a9;
      border-right-color: #a9a9a9;
      left: 25px;
      position: absolute;
      top: 32px;
      width: 174px; }
    #menu .login input[type=submit] {
      background-color: #3e778b;
      background-position: 0 -30px;
      border-bottom-color: #525252;
      border-right-color: #525252;
      font-size: 0.9em;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 110px; }
    #menu .login .remember {
      height: 15px;
      line-height: 15px;
      overflow: hidden;
      position: absolute;
      right: -15px;
      top: 40px;
      width: 125px; }
      #menu .login .remember input {
        left: -100px;
        position: absolute; }
      #menu .login .remember label {
        background: url(../images/checkbox.png) 0 0 no-repeat;
        display: block;
        height: 15px;
        line-height: 15px;
        padding: 0 0 0 20px; }
        #menu .login .remember label.checked {
          background-position: 0 -20px; }
    #menu .login .apply {
      bottom: 0;
      border-top: 1px solid #666;
      left: 0;
      padding: 5px 0 0;
      position: absolute;
      right: 0; }
  #menu #userbox {
    left: 5px;
    position: absolute;
    top: 10px;
    z-index: 2; }
  #menu ul {
    background: url(../images/menu.png) top center no-repeat;
    height: 284px;
    left: -10px;
    padding: 16px 0 0 375px;
    position: absolute;
    top: 0;
    width: 595px;
    z-index: 1; }
    #menu ul li {
      display: inline; }
      #menu ul li a {
        float: left;
        display: block;
        height: 18px;
        line-height: 18px;
        margin: 10px 0 10px 10px;
        padding: 10px; }
        #menu ul li a:hover {
          background: #2c2c2c;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px; }

#body {
  margin: 0 0 60px; }
  #body h1 {
    padding: 0 0 10px; }
  #body h2,
  #body h3,
  #body p {
    padding: 0 0 10px; }

#footer {
  background: url(../images/footer-bg.png) 0 0 repeat-x;
  min-height: 241px;
  padding: 40px 0 0; }
  #footer .menu {
    float: left;
    max-width: 175px;
    padding: 0 40px 40px 0; }
    #footer .menu h3 {
      padding: 0 0 1em; }
    #footer .menu a {
      border-bottom: 1px solid #181a1b;
      display: block;
      padding: 5px 10px; }
      #footer .menu a:hover {
        background: #181a1b; }
  #footer .copyright {
    border-left: 1px solid #1c1e1f;
    height: 105x;
    padding: 10px 0 10px 20px;
    position: absolute;
    right: 0;
    width: 285px; }
