body {
  background: #181a1b;
  min-width: 960px;
  text-align: center;
}

.container {
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 960px;
}

#header {
  background: url(../images/header-bg.png) 0 0 repeat-x #181a1b;
  height: 115px;
  position: relative;
  margin: 0 0 40px;
  
  .title {
    left: 0;
    position: absolute;
    top: 30px;
  }  
  .slogan {
    left: 0;
    position: absolute;
    top: 70px;
  }
}

#menu {
  background: url(../images/menu.png) 0 0 no-repeat;
  height: 160px;
  margin: 0 0 0 -10px;
  position: absolute;
  width: 970px;
  
  ul {
    height: 58px;
    left: 365px;
    padding: 0 0 0 10px;
    position: absolute;
    top: 16px;
    width: 604px;
  
    li {
      display: inline;
      
      a {
        float: left;
        display: block;
        height: 38px;
        line-height: 38px;
        margin: 10px 0 10px 10px;
        padding: 0 10px;
        text-shadow: 0.1em 0.1em 0.1em #4e4f4f;
        vertical-align: middle;
        
        &:hover {
          background: #2c2c2c;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          color: #4c91a1;
          text-shadow: 0.1em 0.1em 0.1em #000;
        }
      }
    }
  }
}

#body {
  position: absolute;
  top: 325px;
}
