body {
  background: #181a1b;
  min-width: 980px;
  text-align: center; }

.container {
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 960px; }

button,
input[type=button],
input[type=submit] {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  border: 1px solid #000;
  border-bottom-color: #323333;
  border-right-color: #323333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: url(../images/button-sprite.png) 0 0 repeat-x #2c2c2c; }
  button:focus, button:hover,
  input[type=button]:focus,
  input[type=button]:hover,
  input[type=submit]:focus,
  input[type=submit]:hover {
    background-color: #3394b4 !important;
    background-position: 0 -60px !important; }

input[type=text],
input[type=password] {
  height: 28px;
  line-height: 28px;
  padding: 0 7px;
  border: 1px solid #000;
  border-bottom-color: #323333;
  border-right-color: #323333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: url(../images/input-sprite.png) 0 0 repeat-x #a9a9a9; }
  input[type=text]:focus, input[type=text]:hover,
  input[type=password]:focus,
  input[type=password]:hover {
    background-color: #bababa;
    background-position: 0 -30px; }

#header {
  background: url(../images/header-bg.png) 0 0 repeat-x #181a1b;
  height: 115px;
  position: relative;
  margin: 0 0 40px; }
  #header .title {
    left: 0;
    position: absolute;
    top: 30px; }
  #header .slogan {
    left: 0;
    position: absolute;
    top: 70px; }

#menu {
  height: 300px;
  margin: 0 0 20px; }
  #menu .container {
    background: url(../images/header-temp.jpg) 0 74px no-repeat;
    height: 300px; }
  #menu .login {
    background: url(../images/icon-lock.png) 310px -2px no-repeat;
    height: 95px;
    left: 5px;
    position: absolute;
    top: 15px;
    width: 335px;
    z-index: 2; }
    #menu .login input[type=text] {
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-color: #a9a9a9;
      border-right-color: #a9a9a9;
      left: 0;
      position: absolute;
      top: 0;
      width: 209px; }
    #menu .login input[type=submit] {
      background-color: #3e778b;
      background-position: 0 -30px;
      -webkit-border-top-left-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-bottomleft: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-color: #525252;
      border-right-color: #525252;
      padding: 0;
      position: absolute;
      right: 30px;
      top: 0;
      width: 80px; }
  #menu ul {
    background: url(../images/menu.png) top center no-repeat;
    height: 284px;
    left: -10px;
    padding: 16px 0 0 375px;
    position: absolute;
    top: 0;
    width: 595px;
    z-index: 1; }
    #menu ul li {
      display: inline; }
      #menu ul li a {
        float: left;
        display: block;
        height: 18px;
        line-height: 18px;
        margin: 10px 0 10px 10px;
        padding: 10px; }
        #menu ul li a:hover {
          background: #2c2c2c;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px; }

#body {
  margin: 0 0 60px; }

#footer {
  background: url(../images/footer-bg.png) 0 0 repeat-x;
  min-height: 241px;
  padding: 40px 0 0; }
  #footer .menu {
    float: left;
    max-width: 175px;
    padding: 0 40px 40px 0; }
    #footer .menu h3 {
      padding: 0 0 1em; }
    #footer .menu a {
      border-bottom: 1px solid #181a1b;
      display: block;
      padding: 5px 10px; }
      #footer .menu a:hover {
        background: #181a1b; }
  #footer .copyright {
    border-left: 1px solid #1c1e1f;
    height: 105x;
    padding: 10px 0 10px 20px;
    position: absolute;
    right: 0;
    width: 285px; }
