body {
  color: #808080;
  font-family: arial, sans-serif;
  font-size: 100.01%;
  line-height: 1.3em;
  text-align: center; }

.container {
  text-align: left; }

h1 {
  color: #5ba7b4;
  font-family: 'SansationRegular', serif;
  font-size: 1.6em;
  line-height: 1em;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase; }

h2 {
  color: white;
  font-family: 'SansationRegular', serif;
  font-size: 1.3em;
  line-height: 1em;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase; }

h3 {
  color: white;
  font-family: 'SansationRegular', serif;
  font-size: 1.1em;
  line-height: 1em;
  text-shadow: 1px 1px 1px black; }

p,
ol,
ul,
dl,
blockquote {
  font-size: 0.9em; }
  p p,
  p ol,
  p ul,
  p blockquote,
  ol p,
  ol ol,
  ol ul,
  ol blockquote,
  ul p,
  ul ol,
  ul ul,
  ul blockquote,
  dl p,
  dl ol,
  dl ul,
  dl blockquote,
  blockquote p,
  blockquote ol,
  blockquote ul,
  blockquote blockquote {
    font-size: 100%; }

dt {
  color: #fff;
  font-weight: bold; }

b,
strong,
i,
em {
  color: #aaa; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

a {
  text-decoration: underline; }
  a:focus, a:hover {
    color: #5ba7b4; }

button,
.button,
input[type=button],
input[type=submit] {
  color: #4c91a1 !important;
  display: inline-block;
  font-family: 'SansationBold', serif;
  font-size: 1em;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none !important;
  word-spacing: .3em; }
  button:focus, button:hover,
  .button:focus,
  .button:hover,
  input[type=button]:focus,
  input[type=button]:hover,
  input[type=submit]:focus,
  input[type=submit]:hover {
    color: #181a1b !important; }

#body button,
#body .button {
  color: #000 !important; }
  #body button:focus, #body button:hover,
  #body .button:focus,
  #body .button:hover {
    color: #181a1b !important; }

input[type=text],
input[type=password],
textarea {
  color: #464646; }
  input[type=text]:focus, input[type=text]:hover,
  input[type=password]:focus,
  input[type=password]:hover,
  textarea:focus,
  textarea:hover {
    color: #181a1b; }

textarea {
  line-height: 1.3em !important; }

table {
  color: #c0e1ed; }
  table a:hover {
    color: #fff; }
  table caption {
    text-align: left; }
    table caption * {
      font-size: 1em; }
  table tbody {
    font-size: .8em; }
    table tbody th {
      font-weight: bold; }
    table tbody td {
      font-weight: normal; }
  table thead th,
  table tfoot th {
    color: #fff;
    font-family: 'SansationRegular', serif;
    font-size: 1em;
    font-weight: normal; }
  table thead td,
  table tfoot td {
    color: #fff;
    font-size: .8em; }
  table td.amount,
  table th.amount {
    text-align: right; }
  table .button {
    color: #000 !important; }

#bcrumb {
  font-size: .75em; }
  #bcrumb a {
    color: #888 !important;
    text-decoration: none !important; }
    #bcrumb a:hover {
      color: #fff !important; }
  #bcrumb span {
    color: #666; }

#announcements li a {
  text-decoration: none; }
#announcements li a,
#announcements li span {
  color: #caa59d; }
#announcements li span a {
  text-decoration: underline; }
#announcements li em {
  font-weight: bold; }
#announcements li strong {
  color: #fff;
  font-family: 'SansationRegular', serif;
  font-weight: normal;
  text-transform: uppercase; }
#announcements li:focus a,
#announcements li:focus span,
#announcements li:focus strong, #announcements li:hover a, #announcements li:hover span, #announcements li:hover strong {
  color: #fff; }
#announcements li.alert span, #announcements li.alert span * {
  color: #000; }
  #announcements li.alert span a, #announcements li.alert span * a {
    color: #dddca6; }
    #announcements li.alert span a:focus, #announcements li.alert span a:hover, #announcements li.alert span * a:focus, #announcements li.alert span * a:hover {
      color: #fff; }
#announcements li.notice span, #announcements li.notice span * {
  color: #000; }
  #announcements li.notice span a, #announcements li.notice span * a {
    color: #8b3030; }
    #announcements li.notice span a:focus, #announcements li.notice span a:hover, #announcements li.notice span * a:focus, #announcements li.notice span * a:hover {
      color: #a13c3c; }

#header .title {
  color: #939393;
  font-family: 'SansationRegular', serif;
  font-size: 2.4em;
  line-height: 1em;
  text-shadow: 2px 2px 2px #000; }
  #header .title a {
    text-decoration: none; }
#header .slogan {
  color: #484c4e;
  font-family: 'SansationRegular', serif;
  font-size: 0.9em;
  line-height: 1em;
  letter-spacing: 0.2em; }
#header .userbox {
  font-size: 0.8em; }
  #header .userbox .profile > a {
    color: #4c91a1 !important;
    display: inline-block;
    font-size: 0.9em;
    font-family: 'SansationBold', serif;
    text-transform: uppercase;
    font-weight: normal; }
  #header .userbox .profile:focus > a, #header .userbox .profile:hover > a {
    color: #000 !important; }
  #header .userbox .profile:focus ul a, #header .userbox .profile:hover ul a {
    font-family: arial, sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    text-transform: uppercase; }
    #header .userbox .profile:focus ul a:hover, #header .userbox .profile:hover ul a:hover {
      color: #fff; }
  #header .userbox .profile .current > a {
    color: #fff !important;
    font-weight: bold; }

#menu {
  color: #aaa; }
  #menu a:focus, #menu a:hover {
    color: #fff; }
  #menu .login input[type=submit] {
    color: #181a1b !important; }
  #menu .login .apply {
    font-size: 0.8em;
    line-height: 1em; }
  #menu .login .remember {
    line-height: 1.2em; }
    #menu .login .remember label {
      font-size: 0.8em; }
      #menu .login .remember label:hover {
        color: #fff; }
  #menu ul li a {
    color: #181a1b;
    font-family: 'SansationRegular', serif;
    font-size: 1.3em;
    text-decoration: none;
    text-transform: uppercase; }
  #menu ul li:hover a {
    color: #fff; }
  #menu ul li:hover ul a {
    color: #666;
    font-family: arial, sans-serif;
    font-size: 0.7em;
    letter-spacing: 0.1em; }
    #menu ul li:hover ul a:focus, #menu ul li:hover ul a:hover {
      color: #fff; }
  #menu ul li:hover ul .current a {
    color: #fff; }
  #menu .search input {
    color: #fff !important; }
  #menu .search button {
    color: #000 !important; }

#usercheckboxes label:hover, #usercheckboxes label.checked {
  color: #000; }

#page #author cite,
#page #author time {
  font-size: .9em;
  font-style: italic;
  text-align: right; }

#results dt {
  color: #666;
  font-weight: normal; }
  #results dt:hover {
    color: #ccc; }
  #results dt.active {
    color: #fff;
    font-weight: bold; }

#comments span.author a {
  color: #5ba7b4;
  font-family: 'SansationBold', serif;
  font-size: 1.2em;
  text-decoration: none; }
#comments span.actions a {
  color: #666;
  font-size: 0.8em; }
  #comments span.actions a:focus, #comments span.actions a:hover {
    color: #000; }

#new_comment .actions input {
  color: #fff !important; }

#recipients ul.users li {
  color: #fff;
  font-size: .9em; }
#recipients ul.suggest {
  color: #000; }
  #recipients ul.suggest li {
    font-size: .9em;
    font-weight: bold; }

#footer a {
  color: #666;
  text-decoration: none; }
  #footer a:focus, #footer a:hover {
    color: #5ba7b4; }
#footer .menu h3 {
  color: #bbb;
  text-transform: uppercase; }
#footer .menu ul {
  line-height: 1em; }
  #footer .menu ul a {
    font-size: 0.7em;
    letter-spacing: 0.1em; }
    #footer .menu ul a:focus, #footer .menu ul a:hover {
      color: #fff; }
#footer .copyright {
  color: #333;
  font-size: 0.7em; }
  #footer .copyright a {
    text-decoration: underline; }
