@mixin heading($size, $color, $shadow: '') {
  color: $color;
  font-family: 'SansationRegular', serif;
  font-size: $size;
  line-height: 1em;
  text-transform: uppercase;
  @if $shadow != '' { text-shadow: $shadow }
}

body {
  color: #808080;
  font-family: arial, sans-serif;
  font-size: 100.01%;
  line-height: 1.3em;
  text-align: center;
}
.container {
  text-align: left;
}

h1 {
  @include heading(1.6em, #5ba7b4, 2px 2px 2px #000);
}
h2 { @include heading(1.3em, #fff, 1px 1px 1px #000); }
h3 { @include heading(0.9em, #fff, 1px 1px 1px #000); }

p,
ol,
ul,
dl,
blockquote {
  font-size: 0.9em;
  p,
  ol,
  ul,
  blockquote {
    font-size: 100%;
  }
}
b,
strong,
i,
em {
  color: #aaa;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

a {
  text-decoration: underline;
  &:focus,
  &:hover {
    color: #5ba7b4;
  }
}

button,
.button,
input[type=button],
input[type=submit] {
  color: #4c91a1 !important;
  display: inline-block;
  font-family: 'SansationBold', serif;
  font-size: 1em;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none !important;
  &:focus,
  &:hover {
    color: #181a1b !important;
  }
}
#body button,
#body .button {
  color: #000 !important;
  &:focus,
  &:hover {
    color: #181a1b !important;
  }
}
input[type=text],
input[type=password],
textarea {
  color: #464646;  
  &:focus,
  &:hover {
    color: #181a1b;
  }
}
textarea {
  line-height: 1.3em !important;
}

table {
  color: #c0e1ed;
  a:hover {
    color: #fff;
  }
  caption {
    font-size: 1.6em;
    text-align: left;
    * {
      font-size: 1em;
    }
  }
  tbody {
    font-size: .8em;
    th {
      font-weight: bold;
    }
    td {
      font-weight: normal;
    }
  }
  thead,
  tfoot {
    th {
      color: #fff;
      font-family: 'SansationRegular', serif;
      font-size: 1.2em;
      font-weight: normal;
    }
  }
  thead,
  tfoot {
    td {
      color: #fff;
      font-size: .8em;
    }
  }
  .amount {
    text-align: right;
  }
  .button {
    color: #000 !important;
  }
}

#bcrumb {
  font-size: .75em;
  a {
    color: #888 !important;
    text-decoration: none !important;
    &:hover {
      color: #fff !important;
    }
  }
  span {
    color: #666;
  }
}

#announcements {
  li {
    a {
      text-decoration: none;
    }
    a,
    span {
      color: #caa59d;
    }
    span a {
      text-decoration: underline;
    }
    em {
      font-weight: bold;
    }
    strong {
      color: #fff;
      font-family: 'SansationRegular', serif;
      font-weight: normal;
      text-transform: uppercase;
    }
    &:focus,
    &:hover {
      a,
      span,
      strong {
        color: #fff;
      }
    }
    &.alert span,
    &.alert span * {
      color: #000;
      a {
        color: #dddca6;
        &:focus,
        &:hover {
          color: #fff;
        }
      }
    }
    &.notice span,
    &.notice span * {
      color: #000;
      a {
        color: #8b3030;
        &:focus,
        &:hover {
          color: #a13c3c;
        }
      }
    }
  }
}

#header {
  .title {
    @include heading(2.4em, #939393);
    text-shadow: 2px 2px 2px #000;
    a {
      text-decoration: none;
    } 
  }
  .slogan {
    @include heading(0.9em, #484c4e);
    letter-spacing: 0.2em;
  }
  .userbox {
    font-size: 0.8em;
    .profile {
      > a {
        color: #4c91a1 !important;
        display: inline-block;
        font-size: 0.9em;
        font-family: 'SansationBold', serif;
        text-transform: uppercase;
        font-weight: normal;
      }
      &:focus,
      &:hover {
        > a {
          color: #000 !important;
        }
        ul a {
          font-family: arial, sans-serif;
          font-size: 0.9em;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          &:hover {
            color: #fff;
          }
        }
      }
      .current {
        > a {
          color: #fff !important;
          font-weight: bold;
        }
      }
    }
  }
}

#menu {
  color: #aaa;
  a {
    &:focus,
    &:hover {
      color: #fff;
    }
  }
  .login {
    input[type=submit] {
      color: #181a1b !important;
    }
    .apply {
      font-size: 0.8em;
      line-height: 1em;
    }
    .remember {
      line-height: 1.2em;
      label {
        font-size: 0.8em;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  ul {
    li {
      a {
        color: #181a1b;
        font-family: 'SansationRegular', serif;
        font-size: 1.3em;
        text-decoration: none;
        text-transform: uppercase;
      }
      &:hover {
        a {
          color: #fff;
        }
        ul {
          a {
            color: #666;
            font-family: arial, sans-serif;
            font-size: 0.7em;
            letter-spacing: 0.1em;
            &:focus,
            &:hover {
              color: #fff;
            }
          }
          .current a {
            color: #fff;
          }
        }
      }
    }
  }
  .search button {
    color: #000 !important;
  }
}

.comments {
  span {
    &.author a {
      color: #5ba7b4;
      font-family: 'SansationBold', serif;
      font-size: 1.2em;
      text-decoration: none;
    }
    &.actions a {
      color: #666;
      font-size: 0.8em;
      &:focus,
      &:hover {
        color: #000;
      }
    }
  }
}
#new_comment {
  .actions {
    input {
      color: #fff !important;
    }
  }
}

#footer {
  a {
    color: #666;
    text-decoration: none;
    &:focus,
    &:hover {
      color: #5ba7b4;
    }
  }
  .menu {
    h3 {
      color: #999;
    }
    ul {
      line-height: 1em;
      a {
        font-size: 0.7em;
        letter-spacing: 0.1em;
        &:focus,
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .copyright {
    color: #333;
    font-size: 0.7em;
    a {
      text-decoration: underline;
    }
  }
}