@mixin heading($size, $color) {
  color: $color;
  font-family: 'SansationRegular', serif;
  font-size: $size;
  line-height: 1em;
  text-transform: uppercase;
}

body {
  color: #808080;
  font-family: arial, sans-serif;
  font-size: 100.01%;
  line-height: 1.3em;
}

h1 {
  @include heading(2.4em, #5ba7b4);
  text-shadow: 2px 2px 2px #000;
}
h2 { @include heading(1.8em, #5ba7b4); }
h3 { @include heading(1.2em, #5ba7b4); }

p,
ol,
ul,
dl,
blockquote {
  font-size: 0.9em;
  p,
  ol,
  ul,
  blockquote {
    font-size: 100%;
  }
}
b,
strong,
i,
em {
  color: #aaa;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

a {
  text-decoration: underline;
  &:hover {
    color: #5ba7b4;
  }
}

button,
.button,
input[type=button],
input[type=submit] {
  color: #4c91a1 !important;
  display: inline-block;
  font-family: 'SansationBold', serif;
  font-size: 1em;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none !important;
  &:focus,
  &:hover {
    color: #181a1b !important;
  }
}
input[type=text],
input[type=password],
textarea {
  color: #464646;  
  &:focus,
  &:hover {
    color: #181a1b;
  }
}
textarea {
  line-height: 1.3em !important;
}

#announcements {
  li {
    a {
      text-decoration: none;
    }
    a,
    span {
      color: #caa59d;
    }
    span a {
      text-decoration: underline;
    }
    em {
      font-weight: bold;
    }
    strong {
      color: #fff;
      font-family: 'SansationRegular', serif;
      font-weight: normal;
      text-transform: uppercase;
    }
    &:focus,
    &:hover {
      a,
      span,
      strong {
        color: #fff;
      }
    }
    &.alert span,
    &.alert span * {
      color: #000;
      a {
        color: #dddca6;
        &:hover {
          color: #fff;
        }
      }
    }
    &.notice span,
    &.notice span * {
      color: #000;
      a {
        color: #8b3030;
        &:hover {
          color: #a13c3c;
        }
      }
    }
  }
}

#header {
  .title {
    @include heading(2.4em, #939393);
    text-shadow: 2px 2px 2px #000;
    a {
      text-decoration: none;
    } 
  }
  .slogan {
    @include heading(0.9em, #484c4e);
    letter-spacing: 0.2em;
  }
  .userbox {
    font-size: 0.8em;
  }
}

#menu {
  color: #aaa;
  a:hover {
    color: #fff;
  }
  .login {
    input[type=submit] {
      color: #181a1b !important;
    }
    .apply {
      font-size: 0.8em;
      line-height: 1em;
    }
    .remember {
      line-height: 1.2em;
      label {
        font-size: 0.8em;
        &:hover {
          color: #fff;
        }
      }
    }
  }  
  ul {
    li {
      a {
        color: #181a1b;
        font-family: 'SansationRegular', serif;
        font-size: 1.3em;
        text-decoration: none;
        text-transform: uppercase;
      }
      &:hover {
        a {
          color: #fff;
        }
        ul {
          a {
            color: #666;
            font-family: arial, sans-serif;
            font-size: 0.7em;
            letter-spacing: 0.1em;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
  #userbox {
    p {
      font-size: 0.8em;
    }
    .salutation {
      font-weight: bold;
    }
  }
}

.comments {
  span {
    &.author a {
      color: #5ba7b4;
      font-family: 'SansationBold', serif;
      font-size: 1.2em;
      text-decoration: none;
    }
    &.actions a {
      color: #666;
      font-size: 0.8em;
      &:hover {
        color: #000;
      }
    }
  }
}
#new_comment {
  .actions {
    input {
      color: #fff !important;
    }
  }
}

#footer {
  a {
    color: #666;
    text-decoration: none;
    &:hover {
      color: #5ba7b4;
    }
  }
  .menu {
    h3 {
      color: #999;
    }
    ul {
      line-height: 1em;
      a {
        font-size: 0.7em;
        letter-spacing: 0.1em;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .copyright {
    color: #333;
    font-size: 0.7em;
    a {
      text-decoration: underline;
    }
  }
}
