body {
  color: #808080;
  font-family: arial, sans-serif;
  font-size: 100.01%;
  line-height: 1.5em; }

h1 {
  color: #5ba7b4;
  font-family: 'SansationRegular', serif;
  font-size: 2.4em;
  line-height: 1em;
  text-transform: uppercase; }

h2 {
  color: #5ba7b4;
  font-family: 'SansationRegular', serif;
  font-size: 1.8em;
  line-height: 1em;
  text-transform: uppercase; }

h3 {
  color: #5ba7b4;
  font-family: 'SansationRegular', serif;
  font-size: 1.2em;
  line-height: 1em;
  text-transform: uppercase; }

p
ol,
ul,
dl,
blockquote {
  font-size: 0.8em; }

b,
strong,
i,
em {
  color: #aaa; }

a {
  text-decoration: underline; }
  a:hover {
    color: #5ba7b4; }

button,
.button,
input[type=button],
input[type=submit] {
  color: #4c91a1 !important;
  display: inline-block;
  font-family: 'SansationBold', serif;
  font-size: 0.8em;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none !important; }
  button:hover,
  .button:hover,
  input[type=button]:hover,
  input[type=submit]:hover {
    color: #181a1b !important; }

input[type=text],
input[type=password] {
  color: #464646; }
  input[type=text]:focus, input[type=text]:hover,
  input[type=password]:focus,
  input[type=password]:hover {
    color: #181a1b; }

#header .title {
  color: #939393;
  font-family: 'SansationRegular', serif;
  font-size: 2.4em;
  line-height: 1em;
  text-transform: uppercase; }
  #header .title a {
    text-decoration: none; }
#header .slogan {
  color: #484c4e;
  font-family: 'SansationRegular', serif;
  font-size: 0.9em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em; }

#menu {
  color: #181a1b; }
  #menu a:hover {
    color: #fff; }
  #menu .login input[type=submit] {
    color: #181a1b !important; }
  #menu .login .apply {
    font-size: 0.8em;
    line-height: 1em; }
  #menu .login .remember {
    line-height: 1.2em; }
    #menu .login .remember label {
      font-size: 0.8em; }
      #menu .login .remember label:hover {
        color: #fff; }
  #menu ul {
    font-family: 'SansationBold', serif;
    font-size: 1.2em; }
    #menu ul a {
      color: #181a1b;
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px #4e4f4f; }
      #menu ul a:hover {
        color: #4c91a1;
        text-shadow: 1px 1px 1px #000; }
  #menu #userbox p {
    font-size: 0.8em; }
  #menu #userbox .salutation {
    font-weight: bold; }

#footer a {
  color: #454545;
  text-decoration: none; }
  #footer a:hover {
    color: #5ba7b4; }
#footer .menu h3 {
  color: #747474; }
#footer .menu ul {
  line-height: 1em; }
#footer .copyright {
  color: #333;
  font-size: 0.7em;
  line-height: 1.4em; }
  #footer .copyright a {
    text-decoration: underline; }
