body {
  font-family: arial, sans-serif;
  font-size: 100.01%;
  line-height: 1.5em; }

h1 {
  color: #5ba7b4;
  font-family: 'SansationRegular', serif;
  font-size: 2.4em;
  line-height: 1em;
  text-transform: uppercase; }

h2 {
  color: #5ba7b4;
  font-family: 'SansationRegular', serif;
  font-size: 1.8em;
  line-height: 1em;
  text-transform: uppercase; }

h3 {
  color: #5ba7b4;
  font-family: 'SansationRegular', serif;
  font-size: 1.2em;
  line-height: 1em;
  text-transform: uppercase; }

p
ol,
ul,
dl,
blockquote {
  font-size: 0.8em; }

#header .title {
  color: #939393;
  font-family: 'SansationRegular', serif;
  font-size: 2.4em;
  line-height: 1em;
  text-transform: uppercase; }
#header .slogan {
  color: #484c4e;
  font-family: 'SansationRegular', serif;
  font-size: 0.9em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em; }

#menu ul {
  font-family: 'SansationBold', serif;
  font-size: 1.2em; }
  #menu ul a {
    text-transform: uppercase; }
