<h1>New Announcement</h1>

<%= link_to 'New Site Announcement', new_site_announcement_path %> |
<%= link_to 'New Game Announcement', new_game_announcement_path %>
<br />
<%= link_to 'Back', announcements_path %>
