<h1>New announcement</h1>

<%= link_to 'New Site Announcement', new_site_announcement_path %> |
<%= link_to 'New Game Announcement', new_game_announcement_path %>

<%= render 'form' %>

<%= link_to 'Back', 'javascript:history.go(-1);' %>
