- title @document.title

#body
  %h1= @document.title
  
  = simple_form_for accept_document_create_path do |f|
    #document
      :markdown
        #{@document.body}
      %p.accept
        = f.input :accept, :as => :boolean, :wrapper => false, :label => 'I accept this agreement.'
        %button{ :type => :submit } Accept