@import mixins
@import fonts/din
@import fonts/malbeck
@import application/reset
@import application/core
@import application/bar


#bar:before
  +bg_gradient(rgba(#480012,.3),rgba(#480012,0))

#flash
  position: absolute
  top: 75px
  
  li
    border-left-color: rgba(#fff,.3) 
    border-right-color: rgba(#fff,.3)
    
    &:last-child
      border-bottom-color: rgba(#fff,.3)

html,
body
  min-height: 100%

body
  background: #fff
  color: #896243
  font-family: DinLight, sans
  min-width: 980px
  
  &:before
    background: #480012
    content: ''
    height: 670px
    left: 0
    position: absolute
    right: 0
    top: 0
  
  &:after
    +bg_gradient(#d9b8c0,#fff)
    content: ''
    height: 200px
    left: 0
    position: absolute
    right: 0
    top: 670px
  
  strong
    font-family: DinMedium, sans

#content
  background: image-url('community/bg.jpg') center 70px no-repeat
  min-height: 400px
  padding: 270px 0 0
  position: relative
  
  &:before
    background: image-url('community/shadow.png') top center no-repeat
    content: ''
    height: 356px
    left: 0
    position: absolute
    right: 0
    top: 670px
    z-index: 2

#header
  height: 200px
  left: 50%
  margin: 0 0 0 -480px
  position: absolute
  text-align: left
  top: 70px
  width: 960px
  z-index: 10
  
  .title
    color: #fff
    left: 0
    position: absolute
    bottom: 90px
    
    strong
      display: block
      font-family: DinMedium, sans
      font-size: 36px
      letter-spacing: -2px
      text-shadow: 3px 3px 3px rgba(#000,.5)
    
    cite
      display: block
      font-size: 24px
      letter-spacing: -1px
      text-shadow: 2px 2px 2px rgba(#000,.5)
  
  .menu
    background: rgba(#480012,.9)
    +border_radius(5,5,0,0)
    bottom: 0
    height: 30px
    left: 0
    padding: 15px 5px
    position: absolute
    right: 0
    
    >li
      float: left
      list-style: none
      position: relative
      
      >a
        border: 1px solid transparent
        +border_radius(5)
        color: #bea761
        display: block
        font-size: 18px
        height: 30px
        line-height: 30px
        margin: 0 0 0 10px
        padding: 0 10px
        position: relative
        +transition(color .2s linear, background .2s linear)
        z-index: 12
            
        &:not(:only-child)
          padding: 0 30px 0 10px
    
          &:after
            border: 5px solid transparent
            border-top-color: #bea761
            content: ''
            height: 0
            position: absolute
            right: 10px
            top: 13px
            width: 0
      
      >ul
        background: #792914
        border: 1px solid rgba(#000,.2)
        +border_radius(0,5,5,5)
        +box_shadow(0 0 5px rgba(#000,.5))
        left: 10px
        +opacity(0)
        min-width: 120%
        padding: 5px 0 0
        position: absolute
        top: 25px
        z-index: 11
        
        >li
          height: 0
          padding: 0
        
          >a
            border-top: 1px solid rgba(#000,.2)
            color: #dac6b7
            display: block
            font-size: 13px
            padding: 0 40px 0 10px
            position: relative
            white-space: nowrap
            
            &[meta]:before
              background: #BFA65F
              +border_radius(3)
              color: #792914
              content: attr(meta)
              font: 12px DinMedium, sans
              line-height: 12px
              padding: 3px
              position: absolute
              right: 5px
              top: 5px
            
            &:hover
              background: rgba(#000,.1)
              color: #fff
            
              &[meta]:before
                background: #fff
          
          &:last-child,
          &:last-child >a
            +border_radius(0,0,5,5)
      
      &:hover
        
        >a
          background: #792914
          border-color: rgba(#000,.2)
          color: #fff
          +transition(color .2s linear)
          
          &:not(:only-child)
            border-bottom: 0
            +border_radius(5,5,0,0)
      
            &:after
              border-top-color: #fff
        
        >ul
          +opacity(1)
          top: 30px
          +transition(opacity .2s linear, top .2s linear)
          
          >li
            height: auto
            
            >a
              padding-bottom: 7px
              padding-top: 7px
              +transition(padding .2s linear)
      
      &.current
        
        >a
          background: #26000a
      
      &.special
        float: right
        
        >a
          color: #fff
          float: right
          font-size: 14px
          margin: 0 10px 0 0
          padding: 0 40px 0 10px
          
          &:before
            background: image-url('application/icons.png') -90px -30px no-repeat
            content: ''
            height: 30px
            position: absolute
            right: 5px
            top: 0
            width: 30px
          
          &:after
            display: none
          
          &:hover
            color: #fff
          
          &:not([href])
            background: transparent
            color: #fff
            cursor: default
        
        >ul
          +border-radius(5,0,5,5)
          left: auto
          right: 10px
      
      &.settings >a:before
        background-position: -90px -30px
      
      &.signup >a:before
        background-position: -120px -30px

#body
  background: rgba(#fff,.9)
  margin: 0 auto
  min-height: 735px
  padding: 30px
  position: relative
  text-align: left
  width: 900px
  z-index: 3
  
  
  // GENERAL CONTENT
  
  a
    +border_radius(3)
    color: #580B19
    padding: 0 3px
    text-decoration: underline
    +transition(background .2s linear)
    
    &:hover
      background: #6F2B3D
      color: #fff
      text-decoration: none
  
  h1,
  h2,
  h3
    color: #560716
    font-family: DinMedium, serif
    letter-spacing: -1px
    line-height: 30px
    padding: 0 0 15px
    text-decoration: none
  
  h1
    font-size: 30px
  
  h2
    font-size: 24px
    padding: 10px 0
  
  h3
    font-size: 18px
    padding: 10px 0
    
  nav
  
    h1
      background: #E1D5CD
      +bg_gradient(rgba(#fff,0),#E1D5CD)
      border-bottom: 1px solid #fff
      font-family: DinLight, serif
      font-size: 16px
      padding: 5px 25px
      margin: -30px -30px 30px
      
      a
        font-family: DinMedium, serif
      
      strong
        font-family: DinLight, serif
      
      a,
      strong
        margin-left: 20px
        position: relative
      
        &:before
          border-left: 1px solid #560716
          bottom: 0
          content: ''
          left: -10px
          position: absolute
          top: 0
        
      a:first-child
        margin-left: 0
        
        &:before
          display: none
  
  p
    padding: 10px 0
  
  dl
    
    dt
      color: #6e4b2f
      font-family: DinMedium, sans
      padding: 10px 0 0
    
    dd
      padding: 10px 0
    
  strong
    color: #6e4b2f

  time
    font: 12px DinMedium, sans
    white-space: nowrap

  // FORMS
  
  button,
  .button
    background: #a1391d
    border: 1px solid #771f07 !important
    +border_radius(5)
    color: #e3d5a9  
    display: block
    float: left
    font: 16px DinMedium, serif
    height: 30px
    line-height: 30px
    margin: 0 5px 0 0
    padding: 0 15px
    text-decoration: none
    +transition(background .2s linear)
    
    &:focus,
    &:hover
      background: #cd4723
      color: #fff
      
  input[type="checkbox"],
  input[type="radio"]
    height: 1px
    margin: 10px 0 0 5px
    position: absolute
    width: 1px
    
    + label
      display: block
      line-height: 24px
      margin: 0 0 5px
      position: relative
      text-indent: 34px
      z-index: 3
      
      &:before
        background: #C7B2A3
        +bg_gradient(#C7B2A3,#EBDED5)
        border: 1px solid #fff
        +border_radius(5)
        +box_shadow(0 0 3px #ddd)
        content: ''
        height: 24px
        left: 0
        position: absolute
        top: 0
        width: 24px
    
    &:focus + label
    
      &:before
        background: #d7eaf8
        +box_shadow(0 0 8px #2d7cb4)
        +bg_gradient(#f2f8fd,#d7eaf8)
    
    &:checked

      + label
            
        &:after
          background: #570A17
          +bg_gradient(#7B3D4C,#570A17)
          border: 1px solid #ddd
          +border_radius(20)
          +box_shadow(0 0 9px #999)
          content: ''
          height: 14px
          left: 5px
          position: absolute
          top: 5px
          width: 14px
          z-index: 2
      
      &:focus + label,
      &:hover + label,
      + label:hover
              
        &:after
          background: #A1391D
          +bg_gradient(#CD4723,#A1391D)
  
  div.select
    float: left
    margin: 0 5px 0 0
    width: 435px
  
  .select
    padding: 0 0 48px
    position: relative
  
    ul
      background: #C7B2A3
      +bg_gradient(#C7B2A3,#EBDED5)
      +border_radius(5)
      +box_shadow(0 0 3px rgba(#000,.2))
      border: 1px solid #fff
      display: block
      height: 0
      line-height: 30px
      overflow: hidden
      padding: 30px 1px 1px
      position: absolute
      +transition(box-shadow .2s linear)
      width: 428px
      z-index: 9
          
      &:before
        border: 5px solid transparent
        border-top-color: #A23919
        content: ''
        height: 0
        position: absolute
        right: 10px
        top: 13px
        width: 0
        z-index: 10
      
      li
        padding: 0
        
        label
          background: #ECDDD8
          +bg_gradient(#FDF3EE,#F2E5E1)
          +border_radius(5)
          border-top: 1px solid #ECDDD8
          color: #66482f
          display: none
          font-family: DinMedium, sans
          height: 30px
          line-height: 30px
          margin: 1px 0 0
          padding: 0 8px
          text-indent: 0
          
          &:before,
          &:after
            display: none
        
          .avatar
            background: #C7B2A3
            border: 1px solid #fff
            +border_radius(3)
            +box_shadow(0 0 5px rgba(#000,.2))
            float: left
            margin: 3px 6px 3px 0
        
        input
          left: -500em
          position: absolute
          
          &:checked + label
            background: transparent
            border-top-color: transparent
            color: #66482f
            display: block
            font-family: DinLight, sans
            position: absolute
            top: 0
            width: 420px
            z-index: 3
            
            .avatar
              background: #EADDD4

      &:hover
        background: #ECDDD8
        +box_shadow(0 0 8px #560B17)
        +bg_gradient(#FDF3EE,#F2E5E1)
        color: #580B15
        height: auto
        z-index: 11
        
        &:before
          z-index: 12
      
        li
        
          label
            color: #580B15 !important
            display: block
            position: static
          
            &:hover
              background: #580B15
              color: #fff !important
  
  fieldset
  
    li
      clear: both
      padding: 10px 0
  
      label
        display: block
        font-family: DinMedium, sans
        margin: 0 0 5px
      
      input,
      textarea
        position: relative
        z-index: 2
      
      input[type="email"],
      input[type="password"],
      input[type="text"],
      textarea
        background: #C7B2A3
        +bg_gradient(#C7B2A3,#EBDED5)
        color: #6F2D3D
        +border_radius(5)
        +box_shadow(0 0 3px #ddd)
        border: 1px solid #fff
        display: block
        position: relative
        +transition(box-shadow .2s linear)
        width: 410px
        
        &:focus
          background: #ECDDD8
          +box_shadow(0 0 8px #560B17)
          +bg_gradient(#FDF3EE,#F2E5E1)
          color: #580B15
          z-index: 3
        
        &[disabled]
          color: #999
          +opacity(.5)
      
      input[type="email"],
      input[type="password"],
      input[type="text"]
        line-height: 30px
        padding: 0 10px
      
      textarea
        height: 240px
        padding: 10px
    
      dfn.hint
        display: block
        font: 12px DinMedium, sans
        padding: 5px
        
        &:before
          content: '\2014\00A0'
        
      &.field_with_errors
        
        > input,
        > textarea
          border-color: #A43D33
        
        > mark.error
          background: #A43D33
          +border_radius(0,0,5,5)
          color: #fff
          display: block
          font-family: DinMedium, sans
          margin: -5px 0 0
          padding: 10px 10px 5px
          position: relative
          z-index: 1
        
  
  .full
    
    input[type="email"],
    input[type="password"],
    input[type="text"],
    textarea
      width: 880px
  
  
  // TABLES

  table
    +border_radius(5)
    margin: 15px 0
    
    td,
    tr
    
      &.r
        text-align: right
  
    thead
      text-align: left
    
      th
        background: #6F4324
        +bg_gradient(#83583a,#5e371b)
        border-bottom: 1px solid #fff
        font-family: DinMedium, serif
        color: #fff
        padding: 10px
        
        &:first-child
          +border_radius(5,0,0,0)
        
        &:last-child
          +border_radius(0,5,0,0)
        
        &:only-child
          +border_radius(5,5,0,0)
  
    tbody
      
      tr
    
        td
          background: #eee
          +bg_gradient(#f7f1ec,#eaddd4)
          border-bottom: 1px solid #c7b2a3
          border-top: 1px solid #fff
          padding: 5px 10px
          width: 100%
          
          &.actions
            padding: 5px
            white-space: nowrap
            
            div
              position: relative
            
              a
                background: image-url('application/icons.png') no-repeat #9C682F
                +border_radius(5)
                display: block
                float: left
                height: 30px
                overflow: hidden
                padding: 0
                margin: 0 0 0 5px
                text-indent: -500em
                +transition(background-color .2s linear, box-shadow .2s linear)
                width: 30px
                
                &:hover
                  background: image-url('application/icons.png') no-repeat #570A17
                  +box_shadow(0 0 10px #333)
                
                  &[meta]
                  
                    &:before
                      background: rgba(#6F2B3D,.9)
                      +border_radius(5)
                      color: #fff
                      content: attr(meta)
                      font-size: 13px
                      height: 30px
                      line-height: 30px
                      margin: 0 5px 0 0
                      padding: 0 10px
                      position: absolute
                      right: 100%
                      text-indent: 0
                      white-space: nowrap
                    
                    &:after
                      border: 5px solid transparent
                      border-left: 5px solid rgba(#6F2B3D,.9)
                      content: ''
                      height: 0
                      left: -5px
                      position: absolute
                      top: 10px
                      width: 0
                      
                
                &.apply
                  background-position: 0 -30px
                  
                &.delete
                  background-position: -30px -30px
                  
                &.edit
                  background-position: -60px -30px
              
                &.approve
                  background-position: -510px -30px
                
                &.reject
                  background-position: -540px -30px
                  
                &.review
                  background-position: -120px -30px
                
                &.submission
                  background-position: -600px -30px
            
          img.avatar
            background: #C7B2A3
            border: 1px solid #fff
            +border_radius(5)
            +box_shadow(0 0 10px rgba(#000,.2))
            float: left
            margin: 0 -5px
          
          img.icon
            border: 0
            +border_radius(3)
            +box_shadow(0 0 5px rgba(#000,.2))
          
          &.cinch
            white-space: nowrap
            width: 0
          
          &.character
          
            h3
              line-height: 1em
              padding: 5px 0 0
          
          &.characters
            
            li
              display: inline-block
              font: 13px DinLight, sans
              line-height: 20px
              padding: 0 0 3px
              width: 180px
            
              img.avatar
                margin: 0 5px 0 0
              
              label
                text-indent: 0
              
                img.avatar
                  margin: 3px 5px 0 30px
              
          &.check
            border-right: 1px #ccc solid
            padding: 5px 32px 5px 5px
            text-align: center
            width: 0
            
            label:before
              +box_shadow(0 0 10px rgba(#000,.3))
        
        &.dim
          
          td
            border-color: #aa856a
            +bg_gradient(#C7B2A3,#EADDD4)
        
    tfoot
    
      td
        background: #BCA964
        +bg_gradient(#b28769,#916749)
        border-top: 1px solid #fff
        color: #570A17
        padding: 10px
        position: relative
        
        &:before
          border-top: 1px solid #5E371B
          content: ''
          left: 0
          position: absolute
          right: 0
          top: 0
        
        &:first-child
          +border_radius(0,0,0,5)
        
        &:last-child
          +border_radius(0,0,5,0)
        
        &:only-child
          +border_radius(0,0,5,5)
        
        button,
        .button
          border-color: #1e102c
          
          &:focus,
          &:hover
            +box_shadow(0 0 10px #000)


  // Comments
  .comments
    background: #fff
    +border_radius(5)
    margin: 30px -30px 0
    padding: 20px
    
    ol
    
      li
        border-bottom: 1px solid #fff
        min-width: 500px
        position: relative
      
        blockquote
          margin: 0
          min-height: 88px
          padding: 0 15px 10px 92px
          position: relative
          +transition(margin .2s linear)
          z-index: 3
          
          &:before
            border-bottom: 1px solid #EBDFC4
            bottom: 15px
            content: ''
            left: 92px
            position: absolute
            right: 15px
            z-index: 3
          
          .avatar
            background: image-url('application/avatar.png') center center no-repeat #e1d5cd
            border: 1px solid #e1d5cd
            border-right: 0
            height: 62px
            left: 10px
            +opacity(1)
            position: absolute
            top: 10px
            +transition(box-shadow .2s linear, opacity 1s linear)
            width: 61px
            
            &:before
              background: image-url('application/comment-shadow.png') 0 0 no-repeat
              border-right: 20px solid #fff
              content: ''
              height: 101px
              position: absolute
              right: -20px
              top: -14px
              width: 18px
            
            &:after
              border-left: 10px solid transparent
              border-top: 10px solid #fff
              content: ''
              height: 0
              position: absolute
              right: 0
              top: 10px
              width: 0
            
            img
              background: #e1d5cd
              border: 1px solid #fff
              border-right: 0
              display: block
          
          .meta
            background: #fff
            border-bottom: 1px solid #ddd
            color: #b59d8b
            font-size: 12px
            line-height: 15px
            overflow: hidden
            padding: 5px 0 3px 0
            position: relative
            z-index: 4
            
            a
              color: #aa000b
              font-family: DinMedium, sans
              position: relative
              text-decoration: none
              
              &:hover
                background: #aa000b
                color: #fff
                
                &[meta]
                
                  &:before
                    background: rgba(#6F2B3D,.9)
                    +border_radius(3)
                    color: #fff
                    content: attr(meta)
                    font-size: 12px
                    height: 15px
                    left: 0
                    line-height: 15px
                    padding: 5px 10px
                    position: absolute
                    text-indent: 0
                    top: -30px
                    white-space: nowrap
                  
                  &:after
                    border: 5px solid transparent
                    border-left: 0
                    border-top: 5px solid rgba(#6F2B3D,.9)
                    content: ''
                    height: 0
                    left: 10px
                    position: absolute
                    top: -5px
                    width: 0
              
              &.expand
                background: #70293D
                +border_radius(3)
                color: #fff
                display: none
                
                &:hover
                  background: #aa000b
              
              &.collapse
                background: #C7B2A3
                +border_radius(3)
                color: #fff
                
                &:hover
                  background: #aa000b
          
          .actions
            position: absolute
            right: 15px
            top: -5px
            z-index: 4
            
            a
              background: image-url('application/icons.png') no-repeat
              +border_radius(0)
              display: block
              height: 20px
              overflow: hidden
              +opacity(0)
              margin: 5px 0 0
              padding: 0
              text-indent: -500em
              +transition(opacity .2s linear)
              width: 20px
              
              &:hover
                +opacity(1)
              
              &.edit
                background-position: -65px -5px
              
              &.delete
                background-position: -35px -5px
              
              &.lock
                background-position: -185px -5px
              
              &.unlock
                background-position: -155px -5px
                display: none
          
          p
            color: #000
            font-size: 14px
            line-height: 20px
            margin: 0
            padding: 12px 40px 40px 0
            position: relative
            word-wrap: break-word
            z-index: 2
            
            .body
              display: block
          
          em,
          .reply
            display: block
            float: left
            font: 12px DinMedium, sans
            line-height: 20px
            padding: 0 5px
            margin: 10px 0 0
            
          em
            background: #eee
            color: #999
            font-size: 12px
            
          .reply
            background: #EBDFC4
            +border_radius(0)
            color: #917000
            text-decoration: none
            
            &:hover
              background: #6F2B3D
              color: #fff
          
          &:hover
          
            .avatar
              +box_shadow(0 0 15px rgba(#000,.5))
              border-color: #C7B2A3
          
            .actions
            
              a
                +opacity(.3)
                
                &:hover
                  +opacity(1)
        
        ol
          margin: 0 0 0 20px
          position: relative
          
          >li.collapsed >blockquote
            margin: 0 0 0 -62px
          
          .avatar
            background-size: 40px 40px
            height: 42px
            margin-left: 20px
            width: 41px
            
            &:after
              border-left-width: 8px
              border-top-width: 8px
              top: 8px
            
            img
              height: 40px
              width: 40px
        
        &.owned
        
          >blockquote
            
            >.meta
            
              a[meta]
                background: #70293D
                +border_radius(3)
                color: #fff
                
                &:hover
                  background: #aa000b
                  color: #fff
        
        &.locked
          
          blockquote
          
            >p
              
              .reply
                display: none
            
            >.actions
            
              a
                display: none
            
          >blockquote
            
            >.actions
              
              >.unlock
                display: block
          
        &.deleted
          
          >blockquote
            
            &:before
              bottom: auto
              top: 62px
            
            >p
            
              .reply
                display: none
          
            >.actions
              .edit,
              .delete,
              .lock,
              .unlock
                display: none
            
            >.avatar
              +box_shadow(none)
              border-color: #ccc
        
        &.replying
          
          >blockquote
          
            >p
              
              .reply
                display: none
            
            >form
            
              &.open textarea,
              textarea:hover
                height: 80px
                
              button,
              >input,
              >label
                display: block
        
        &.editing
          
          >blockquote
            min-height: 0
            
            >p
            
              .body,
              .reply
                display: none
            
            >.actions
              display: none
            
            >form
              margin: -40px 0 12px 0
              
              &:before
                display: none
        
              .profile
                display: none
              
              textarea
                height: 80px
                
              button,
              >input,
              >label
                display: block
        
        &.collapsed
          
          >blockquote
            margin: 0 0 0 -82px
            min-height: 0
            
            &:before
              display: none
            
            .meta
            
              .collapse
                display: none
              
              .expand
                display: inline
            
            .avatar
              +opacity(0)
              +transition(none)
            
            .meta
              margin-left: 1px
              
            >p,
            >form,
            .actions
              display: none
          
          >ol
            display: none
      
      form
        margin: -10px 0 12px 62px
    
    form
      background: #EBDFC4
      border-right: 22px solid #EBDFC4
      margin: 0 15px 0 72px
      position: relative
      padding: 5px
      z-index: 3
      
      &:before
        border-left: 10px solid transparent
        border-top: 10px solid #EBDFC4
        content: ''
        height: 0
        position: absolute
        left: -10px
        top: 10px
        width: 0
        z-index: 3
      
      .profile
        background: #C7B2A3
        margin: 0
        overflow: hidden
        padding: 0
        position: absolute
        top: 0
        left: -62px
        +transition(box-shadow .2s linear)
        z-index: 1
        
        li
          background: none
          display: inline
          list-style: none
          margin: 0
          padding: 0
        
          label
            background: #E1D5CD
            display: none
            float: left
            height: 44px
            margin: 0
            position: relative
            width: 44px
            text-indent: 0
            +transition(background .2s linear)
            z-index: 2
            
            &:before,
            &:after
              display: none
            
            img
              background: #E1D5CD
              border: 1px solid #fff
              margin: 1px
          
          input
            display: block
            height: 1px
            margin: 20px
            overflow: hidden
            position: absolute
            width: 1px
            
            &:checked + label
              display: block
              +transition(none)
        
        &:hover
          +border_radius(5)
          +box_shadow(0 0 15px rgba(#000,.5))
          left: -72px
          overflow: visible !important
          padding: 10px
          top: -10px
          +transition(padding .2s linear, left .2s linear, top .2s linear)
        
          + textarea
            height: 80px
          
          li
            
            label
              display: block
              margin: 0 0 0 5px
              
              &:hover
                background: #7D3D4F
                
                &[meta]
                
                  &:before
                    background: rgba(#6F2B3D,.9)
                    +border_radius(3)
                    color: #fff
                    content: attr(meta)
                    font-size: 12px
                    height: 15px
                    left: 0
                    line-height: 15px
                    +opacity(1)
                    padding: 5px 10px
                    position: absolute
                    text-indent: 0
                    top: -35px
                    white-space: nowrap
                  
                  &:after
                    border: 10px solid transparent
                    border-left: 0
                    border-top: 10px solid rgba(#6F2B3D,.9)
                    content: ''
                    height: 0
                    left: 10px
                    +opacity(1)
                    position: absolute
                    top: -10px
                    width: 0

                img
                  cursor: pointer
                            
            input:checked + label
              background: #AB000B
              
              img
                border-color: #AB000B
          
          li:first-child
          
            label
              margin: 0
      
      textarea
        background: #fff
        border: 1px solid #BCA767
        display: block
        font-size: 14px
        height: 21px
        left: 5px
        line-height: 20px
        max-width: 100%
        padding: 5px 10px
        margin: 0
        +transition(height .2s linear, color .2s linear, opacity .2s linear)
        width: 100%
        
        &:focus,
        &.open
          color: #333
          height: 80px
          
          ~ button,
          ~ input,
          ~ label
            display: block
      
      &.busy
        
        textarea
          height: 21px !important
          +opacity(.2)
        
        button,
        >label,
        >input
          display: none !important
        
        &:after
          background: image-url('application/busy.gif') center center no-repeat rgba(#000,.1)
          bottom: 0
          content: ''
          left: 0
          position: absolute
          right: -22px
          top: 0
    
      button
        +border_radius(0)
        display: none
        float: none
        font: 12px DinMedium, sans
        height: auto
        line-height: 20px
        margin: 5px 0 0
        padding: 0 5px
      
      >input
        bottom: 14px
        display: none
        height: 1px
        margin: 0
        overflow: hidden
        padding: 0
        position: absolute
        right: -8px
        width: 1px
        z-index: 0
        
        &:checked + label:before
          background-position: -155px -5px
      
      >label
        bottom: 5px
        display: none
        font: 12px DinMedium, sans
        line-height: 20px
        margin: 0
        padding: 0 5px 0 0
        position: absolute
        right: 0
        
        &:before
          background: image-url('application/icons.png') -185px -5px no-repeat #EBDFC4
          border: 0
          bottom: 0
          content: ''
          height: 20px
          left: auto
          margin: 0 0 0 -25px
          position: absolute
          right: -20px
          width: 20px
          z-index: 2
            
        &:after
          display: none
    
    #newcomment
      height: 175px
  
  
  // Submissions & Community Applications
  .submission,
  .community_application
    margin: -30px 0 0 0
  
    h1,
    h2
      background: #792914
      +border_radius(5)
      color: #fff
      font: 20px DinLight, serif
      height: 40px
      line-height: 40px
      margin: 30px 0 15px
      padding: 0 10px 0 50px
      position: relative
      
      &:before
        background: image-url('application/icons.png') no-repeat
        content: ''
        height: 30px
        left: 5px
        position: absolute
        top: 5px
        width: 30px
      
      &:after
        border-left: 1px solid rgba(#000,.2)
        border-right: 1px solid rgba(#fff,.2)
        content: ''
        bottom: 0
        left: 40px
        position: absolute
        top: 0
        width: 0
  
    h1,
    .questions >h2
      width: 525px
      
      &:before
        background-position: -120px -30px
    
    .sidebar
      float: right
      width: 280px
      
      .applicant
        
        h2:before
          background-position: -570px -30px
      
      .characters
        
        h2:before
          background-position: -570px -30px
        
        p
          padding: 0 0 15px
        
        .select
          float: none
          margin: 15px 0 0
          width: 280px
          
          ul
            width: 276px
            
            label
              position: relative
              text-indent: 25px
              
              img
                display: block
                left: 3px
                position: absolute
                top: 1px
            
            input:checked + label
              display: none
        
      .characters >label,
      .characters >ul li,
      .applicant a
        background: #83583A
        +border_radius(5)
        color: #fff
        display: block
        min-height: 28px
        line-height: 28px
        margin: 0 0 2px
        padding: 0 20px 0 35px
        position: relative
        +transition(background .2s linear)
          
        img
          background: #C7B2A3
          +border_radius(4)
          +box_shadow(0 0 5px rgba(#000,.5))
          left: 4px
          position: absolute
          top: 4px
      
      .applicant a
        height: auto
        font: 14px DinMedium, sans
        line-height: 48px
        min-height: 48px
        padding: 0 8px 0 50px
        text-decoration: none
        +transition(background .2s linear)
        
        &:hover
          background: #5F381C
      
      .characters
      
        >label
        
          &:before
            display: none
          
          &:after
            color: #BBA55F
            content: '\00D7'
            font-size: 17px
            height: 28px
            line-height: 28px
            position: absolute
            right: 8px
          
          &:hover
            background: #5F381C
            
            &:after
              color: #fff
        >ul
          padding-bottom: 30px
          
          li
            height: auto
            min-height: 32px
            padding: 8px 8px 8px 50px
            
            span
              display: block
              min-height: 16px
              line-height: 16px
          
              &.name
                font: 14px DinMedium, sans
                
              &.game
                font: 12px DinLight, sans
      
      .instructions
        
        h2:before
          background-position: -450px -30px
        
        p
          padding: 0 0 3px

    .questions
      float: left
      padding: 0 0 30px
      width: 580px
      
      >fieldset
        
        >ol
        
          >li
          
            >label,
            .select >label
              color: #550A16
              font: 18px DinMedium, serif
            
            >input,
            >textarea
              width: 558px
              
            .select
              width: auto
              
              ul
                width: 576px
                
                input:checked + label
                  width: 560px
      
    h2.comments
      margin: 60px 0 0
      
      &:before
        background-position: -450px -30px
    
    aside.comments
      margin-top: 0
    
    #newcomment h3
      margin-left: 10px
      margin-right: 10px
    
  .submit
    +bg_gradient(#EBDED5,rgba(#fff,0))
    +border_radius(5,5,0,0)
    border-top: 1px solid #C8B3A4
    clear: both
    margin: 15px 0
    padding: 15px 15px 30px
  
  // Custom Forms
  form.custom_form
    
    >fieldset
    
      >ol
        position: relative
        
        li.instructions
          position: absolute
          right: 0
          top: 0
          
          textarea
            height: 120px
        
      ul.questions
        
        >li
          +bg_gradient(#E5DAD3,rgba(#fff,0))
          border-top: 1px solid #bb8b7d
          +border_radius(5)
          clear: both
          height: auto
          margin: 0 0 20px
          padding: 20px 10px
          position: relative
          
          &:after
            clear: both
            content: ''
            display: block
            height: 0
            visibility: hidden
              
          a.remove
            background: #A03A1B
            color: #E4D4A8
            display: block
            height: 20px
            line-height: 20px
            padding: 0 25px 0 5px
            position: absolute
            right: 10px
            text-decoration: none
            top: 10px
            
            &:before
              content: '\00D7'
              font: 17px DinLight, sans
              height: 20px
              right: 0
              line-height: 17px
              padding: 0
              position: absolute
              text-align: center
              text-indent: 0
              top: 0
              width: 20px
            
            &:hover
              background: #CC4820
              color: #fff
              
          >div
            
            p
              padding: 0
          
            &.left
              float: left
              width: 50%
              
              .select
                float: left
                margin-top: 5px
                width: 185px
                
                ul
                  width: 176px
                  
                  input:checked + label
                    width: 160px
              
              .optreq
                float: left
                margin: 8px 0 0
              
              .explanation
                clear: left
          
            &.right
              float: right
                
              .answers
                margin: -5px 0 0
                
                li
                  background: #ECE5E0
                  +border_radius(5)
                  margin: 0 0 1px
                  padding: 5px
                  position: relative
                  
                  input
                    margin: 0 25px 0 0
                    width: 380px
                  
                  .remove
                    background: #A28052
                    overflow: hidden
                    padding: 0
                    right: 5px
                    text-indent: -500em
                    top: 10px
                    width: 20px
                    
                    &:hover
                      background: #896243
                      
    .add
      text-align: right
      
      a
        background: #A03A1B
        color: #E4D4A8
        height: 20px
        line-height: 20px
        padding: 0 25px 0 5px
        position: relative
        text-decoration: none
        
        &:before
          content: '\002B'
          font: 17px DinLight, sans
          height: 20px
          right: 0
          line-height: 17px
          padding: 0
          position: absolute
          text-align: center
          text-indent: 0
          top: 0
          width: 20px
        
        &:hover
          background: #CC4820
          color: #fff


@import application/footer