- page = Page.find_by_id(activity.target_id)
- case activity.action
- when 'created'
  Created a
- when 'updated'
  Edited the
%strong= link_to_if (can? :show, page), 'page', page_url(page, :subdomain => activity.community_subdomain), :meta => page.name
in
%strong= link_to activity.community_name, root_url(:subdomain => activity.community_subdomain)