- roster_assignment = RosterAssignment.find_by_id(activity.target_id)
- community_profile = CommunityProfile.find_by_id(roster_assignment.community_profile_id)
Added a new character to
= (link_to community_profile.community_name, community_profile.community) + "'s"
roster