.bundle
db/*.sqlite3*
log/*.log
log/test.log
log/production.log
tmp/**/*
tmp/rspec_guard_result

.DS_Store
Icon?

*~
*.orig

.sass-cache/
coverage/
doc/reports/
doc/app/
doc/dev/
coverage/
public/uploads/tmp/

public/assets/

public/404.html
public/422.html
public/500.html
public/communities/

screenshots/
screenshots/*

# Visual Paradigm
*.vpp~*

# Metrics
.metrics


vendor/bundle
vender/
vendor
