.bundle
db/*.sqlite3*
log/*.log
log/test.log
log/production.log
tmp/**/*

.DS_Store
Icon?

*~
*.orig

.sass-cache/
coverage/
doc/reports/
doc/app/
doc/dev/
coverage/
public/uploads/tmp/

public/assets/

# Visual Paradigm
*.vpp~*

# Metrics
.metrics
