- title 'Cancel Confirmation'

#body
  %h1 Are you sure you want to cancel?
  Any communites your are the owner of will get removed.
  - # TODO Doug, Add content. -MO

  = simple_form_for(@user, :url => registration_url(@user, :subdomain => "secure", :protocol => (Rails.env.development? ? "http://" : "https://")), :html => { :method => :delete }) do |f|
    %fieldset
      %ol
        = f.input :current_password, :label => "Password", :hint => "(we need your password to confirm cancelation)"
        %li
          %button{ :type => 'submit' } Cancel Account
