- title 'Reinstate Account'

#body
  %h1 Reinstate Account
  %p An email will be sent with instructions on how to reinstate your disabled account.

  = simple_form_for(@user, :url => send_reinstate_url, :html => { :method => :put }) do |f|
    %fieldset
      %ol
        = f.input :email, :as => :email
      %p
        %button{ :type => 'submit' } Send instructions

  = render "devise/shared/links"
