- title 'Reactivate Account'

%h1 Reactivate Account

%p
  An email will be sent with instructions on how
  %br
  to reactivate your deactivated account.

= simple_form_for(@user, url: send_reinstate_url, html: { method: :put }) do |f|
  %fieldset
    %ol
      = f.input :email, as: :email
    %p
      %button{ type: 'submit' } Send instructions

= render "devise/shared/links"