<h1>Listing check_box_questions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @check_box_questions.each do |check_box_question| %>
  <tr>
    <td><%= link_to 'Show', check_box_question %></td>
    <td><%= link_to 'Edit', edit_check_box_question_path(check_box_question) %></td>
    <td><%= link_to 'Destroy', check_box_question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Check box question', new_check_box_question_path %>
