%table
  %thead
    %tr
      %th Name
      %th Announcements
      %th.actions
  %tbody
    - announcement_spaces.each do |space|
      %tr
        %td
          = link_to space.name, announcement_space_url(space)
        %td
          - if space.discussions.size > 0
            = space.discussions.size
        %td.actions
          %div
            - if can? :create, space.discussions.new
              = link_to 'New', new_discussion_space_discussion_path(space), :meta => 'New discussion', :class => 'new'
  %tfoot
    %tr
      %td{ :colspan => 3 }
