- title "Recruit New Members | #{current_community.name}"
- content_for :header do
  = javascript_include_tag 'community_recruit'

%h1 Recruit New Members
%p
  %input{ id: 'recruit_input', type: 'text', placeholder: 'Username or email address' }
= form_tag community_invites_mass_create_url, method: :post, id: 'recruits' do |f|
  %fieldset
    %ol
  %p.submit
    %button{ type: 'submit' } Recruit