- title "Recruit New Members | #{current_community.name}"
- content_for :header do
  = javascript_include_tag 'community_recruit'

%h1 Recruit New Members
%p
  %input{ id: 'recruit_input', type: 'text', placeholder: 'Username or email address' }
= simple_form_for @community_invite, html: {novalidate: true} do |f|
  %fieldset
    %ol
  %p.submit
    %button{ type: 'submit' } Recruit