- title "Recruit New Members | #{current_community.name}"

- content_for :footer do
  = javascript_include_tag 'community_recruit'

%h1 Recruit New Members
%p
  %input{ id: 'recruit_input', type: 'text', placeholder: 'Username or email address', autocomplete: 'off', data: {url: community_invites_autocomplete_url(format: :js), avatar: asset_path('application/avatar@20.png')} }
  %dfn.hint Tap enter after entry to create a list of recruits.
= form_tag community_invites_mass_create_url, method: :post, id: 'recruits' do |f|
  %fieldset
    %ol
  %p.submit
    %button{ type: 'submit' } Recruit
