<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @system_resource.name %>
</p>


<%= link_to 'Edit', edit_system_resource_path(@system_resource) %> |
<%= link_to 'Back', system_resources_path %>
