= f.input :name, hint: 'Case sensitive', input_html: { maxlength: MinecraftCharacter::MAX_NAME_LENGTH }
-#= f.input :about, as: :text, label: 'Optional Description', input_html: { rows: 5 }
- if character.persisted? and character.avatar_url.to_s and !f.object.errors.any?
  %li.avatar{ class: object_has_avatar_errors(f.object) ? 'with-errors' : '' }
    = image_tag(character.avatar_url :large)