%h1 Listing predefined_answers

%table
  %tr
    %th
    %th
    %th

  - @predefined_answers.each do |predefined_answer|
    %tr
      %td= link_to 'Show', predefined_answer
      %td= link_to 'Edit', edit_predefined_answer_path(predefined_answer)
      %td= link_to 'Destroy', predefined_answer, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Predefined answer', new_predefined_answer_path
