%li.character_proxy
  %h3= character.name
  = link_to image_tag(character.avatar_url :tiny), user_profile_url(user_profile), anchor: 'character'
  %span.communities
    - character.communities.each do |community|
      = link_to shorten_words(community.name), root_url(subdomain: community.subdomain)
  - unless character.about.blank?
    %q= character.about