%li.community
  %h3
    = link_to community.name, root_url(subdomain: community.subdomain)
    &mdash;
    = pluralize community.community_profiles.size, 'member', 'members'
  - if community.games
    %span.games
      %strong Games
      - community.games.each do |game|
        = link_to game.name, search_url(term: game.name)