%li.user_profile
  %h3
    = link_to user_profile.display_name, user_profile_url(user_profile, format: 'js'), remote: true, class: 'profile'
  = link_to image_tag(user_profile.avatar_url :small), user_profile_url(user_profile)
  %span.communities
    - user_profile.communities.each do |community|
      = link_to shorten_words(community.name), root_url(subdomain: community.subdomain)
  - unless user_profile.description.blank?
    %q= user_profile.description