- results.each do |result|
  - case result.class.to_s
  - when 'Community'
    = render 'li_community', community: result
  - when 'UserProfile'
    = render 'li_user_profile', user_profile: result
  - when 'CustomCharacter'
    %p=result
  - when 'MinecraftCharacter'
    %p=result
  - when 'SwtorCharacter'
    %p=result
  - when 'WowCharacter'
    %p=result
