- results.each do |result|
  - if result.class.to_s.match /character/i
    = render "characters/#{result.class.to_s.gsub(/character/i, '').downcase}/li", character: result
  - else
    - case result.class.to_s
    - when 'Community'
      = render 'li_community', community: result
    - when 'UserProfile'
      = render 'li_user_profile', user_profile: result