#submenu
  = link_to 'WoW', search_url(term: 'World of Warcraft'), class: 'wow'
  = link_to 'SW:TOR', search_url(term: 'Star Wars: The Old Republic'), class: 'swtor'
  = link_to 'Minecraft', search_url(term: 'Minecraft'), class: 'minecraft'