- title 'Search'
- content_for :header do
  = javascript_include_tag 'search'

#body
  %h1 Find Communities & Players

  #searchbox
    = form_tag search_url(subdomain: false), method: 'get' do
      %p
        = text_field_tag :term, params[:term], id: 'search', data: {url: search_url}
        %button{ type: 'submit' } Search

  %h2 Search Results
  %p
    %pre= @results.to_yaml