%fieldset
  %ol
    = f.input :name, :label => 'Name'
    = f.input :body, :label => 'Content', :as => :text
    = f.input :character_proxy_id, :label => 'Posted As', :collection => collection_with_blank(current_user.user_profile.characters, current_user.user_profile.display_name), :as => :radio, :wrapper_html => { :class => 'select' }
    = f.input :comments_enabled, :label => 'Comments Enabled', :as => :boolean