- title "New Discussion | #{@community.name}"

%h1 New Discussion

.full
  = simple_form_for [@discussion_space, @discussion], html: {novalidate: true} do |f|
    = render 'fields', f: f, discussion: @discussion
    %p.submit
      = f.button :submit, 'Create Discussion'