- title "New Discussion | #{@community.name}"

%h1 New Discussion

.full
  = simple_form_for [@discussion_space, @discussion] do |f|
    = render 'fields', :f => f
    %p.submit
      = f.button :submit, 'Create Discussion'