<%= form_for(@acknowledgment_of_announcement) do |f| %>
  <% if @acknowledgment_of_announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acknowledgment_of_announcement.errors.count, "error") %> prohibited this acknowledgment_of_announcement from being saved:</h2>

      <ul>
      <% @acknowledgment_of_announcement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
