%h1 Listing acknowledgment_of_announcements
%table
  %tr
    %th
    %th
    %th
  - @acknowledgment_of_announcements.each do |acknowledgment_of_announcement|
    %tr
      %td= link_to 'Show', acknowledgment_of_announcement
      %td= link_to 'Edit', edit_acknowledgment_of_announcement_path(acknowledgment_of_announcement)
      %td= link_to 'Destroy', acknowledgment_of_announcement, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Acknowledgment of announcement', new_acknowledgment_of_announcement_path
