- title 'Artwork Licensing Agreement'

- content_for :footer do
  = javascript_include_tag 'documents'

- cache @document do
  #body
    %h1 Artwork Licensing Agreement
    .document= render 'document', document: @document