- title 'Maintenance'

#body
  %h1 The system is down!
  %p
    %strong Don't worry. You didn't break anything. We're just down for maintenance.
    %br
    Our magical elves will have Crumblin back online soon.
  = render 'salutation'