- title 'Pricing'

#body
  %h1 Pricing
  %blockquote
    %strong Guild.io&trade; is free for players and great for communities.
    %br
    During the opening months of Guild.io's launch, communities will be free too!
  = image_tag 'main/cyborg.jpg', class: 'alignright', width: 200
  %p
    In time we will be offering Guild.io to communities with a sliding scale,
    meaning that your costs only increase as your total number of members increases.
  %h3
    When is this going to happen?
  %p
    We haven't set a date yet, but you can expect an early heads up from us when that time comes near.
    Our priority is on improving Guild.io&trade; every day so that the cost seems like nothing compared to how awesome the service is.
  %h3
    How much will it be?
  %p
    Guild.io&trade; is a premium service, but that doesn't mean the price will be outrageous.
    Moving from a free model to a paid one can be really annoying for users, and we understand that.
    We believe that Guild.io&trade; will be affordable for guilds of all sizes.
  = render 'salutation'