- title 'Pricing'

%h1 Community Pricing

.col3
  .col.basic
    %h2 Basic Communities
    .price
      %strong Free
      %em Seriously, FTW
    %p
      Just starting out? Get started with Tabard for free, because we're cool like that.
    %blockquote
      %p
        %strong
          Up to 20 members.

  .col.pro
    %h2
      Pro Communities
      - unless !!ENV['ENABLE_PAYMENT']
        %mark Coming Soon!
    .price
      %strong $10
      %em Monthly
    %p
      For larger communities and serious guilds
      that want flexible member roles.
    %blockquote
      %p
        %strong
          Starts at 100 members.
          %br
          Custom member roles.

  .col.upgrade
    %h2
      Pay as you Grow
      - unless !!ENV['ENABLE_PAYMENT']
        %mark Coming Soon!
    .price
      %strong +$2
      %em Monthly*
    %p Has your Pro Community grown to epic proportions?
    %blockquote
      %p
        %strong Add as many packs of 20 members as you need.
    %p
      %em *Pro Communities only