- title 'Pricing'

#body
  %h1 Pricing
  %blockquote
    %strong Guild.io&trade; is currently free of charge!
  %h3
    Why launch for free? 
  %p
    We want an opportunity to get as much feedback from as many gamers as possible so that we can make Guild.io the best choice for gaming communities.
    Also, our team has not settled on a payment model yet. However, rest easy in knowing that all options we are considering do include a level of free access.
  %p
    Whether we decide to charge based on community size, feature set, or other factor will largely depend on the information and feedback we gather during this free period.
  %h3
    When is this going to happen?
  %p
    We haven't set a date yet, but you can expect an early heads up from us when the time comes near.
    Our priority is on improving Guild.io&trade; every day so that when this takes place, you can feel confident this is a service worth supporting.
  %h3
    How will this impact existing communities?
  %p
    %strong As little as possible.
    Our plan is to always have a free option for using the service.
    This isn't a bait and switch scheme; the last thing we want is to bring in a user base just to later chase them away.
    Our early adopters mean a lot to us, and we intend to do right by you all.
    Thank you for supporting Guild.io.
  = render 'salutation'

#sidebar
  = image_tag 'main/sidebar-pricing.jpg', class: 'alignright', width: 200, height: 400