- title 'Pricing'

%h1 Community Pricing

.col3
  %article.basic
    %h2 Basic Communities
    .price
      %strong Free
      %em We're cool like that
    %p
      Just starting out? Enjoy all of our
      = link_to 'features', top_level_features_url
      for free.
    %blockquote
      %p
        %strong
          Up to 20 members.
  %article.pro
    %h2 Pro Communities
    .price
      %strong $10
      %em monthly
    %p Serious guilds that need space and flexible permission sets.
    %blockquote
      %p
        %strong
          Starts at 100 members.
          %br
          Custom member roles.
        
  %article.upgrade
    %h2 Pay as you Grow
    .price
      %strong +$2
      %em monthly*
    %p Has your Pro Community grown to epic proportions?
    %blockquote
      %p
        %strong Add as many packs of 20 members as you need.
    %p
      %em *Pro Communities only