- title 'Pricing'

#body
  %h1 Pricing
  %blockquote
    %strong Your Crumblin™ account is absolutely FREE
    %br
    And, for an extended period of time, everything else is free too!
  = image_tag 'main/cyborg.jpg', :class => 'alignright', :width => 200
  %p
    That said, we do intend to offer various levels of paid services in time.
    This would be based jointly between the features you use and the number of users in your community.
    Most likely, this will mean that owners of communities will be the ones directly responsible for the cost,
    but we have some cool ideas brewing when it comes to sharing the costs between your members.
  %h3
    When is this going to happen?
  %p
    We haven't set a date yet, but you can expect an early heads up from us when that time comes near.
    Our priority is on improving Crumblin™ every day so that the cost seems like nothing compared to how awesome the service is.
  %h3
    How much will it be?
  %p
    Crumblin™ is a premium service, but that doesn't mean the price will be outrageous.
    Moving from a free model to a paid one can be really annoying for users, and we understand that.
    We believe that Crumblin™ will be affordable for guilds of all sizes.
  = render 'salutation'