- title 'Terms of Service and User Agreement'

- content_for :footer do
  = javascript_include_tag 'documents'

%h1 Terms of Service and User Agreement

.document.plain= render 'document', document: @document