- title 'Trademark Usage Disclaimer'

%h1 Trademark Usage Disclaimer

%blockquote
  %p
    %strong "Tabard&reg;"
    is a Registered Trademark of DigitalAugment, Inc., in the United states and/or other countries.

%h2 Others
%ul
  %li 
    %strong "Blizzard Entertainment&reg;," "Warcraft&reg;," and "World of Warcraft&reg;"
    are Registered Trademarks of Blizzard Entertainment, Inc., in the United States and/or other countries.
  %li
    %strong "Minecraft&reg;"
    is a Registered Trademark of Mojang, AB and/or Notch Development, AB of Sweden, in the United States and/or other countries.
  %li
    %strong "Star Wars&reg;" and "Star Wars The Old Republic&reg;"
    are Registered Trademarks of Lucasfilm Entertainment Company Ltd., in the United States and/or other countries.
  %li
    Any other trademarks referenced on this website belong to their respective owners.

%p All use of the trademarks listed above are for reference and/or illustrative purposes only and does not imply or suggest any ownership or licensee rights in such trademarks.  Neither Tabard&trade; nor its owner DigitalAugment Inc., are associated in any way with any of the owners of trademarks used herein and described above, and none of said trademark owners sponsor and/or endorse Tabard or any of the contents herein in any way.