= f.simple_fields_for :permissions, role.permissions_for_resource("Announcement") do |pf|
  .slider_with_none
    = pf.input :_destroy, :as => :boolean, :label => '×', :wrapper => false, :input_html => { :checked => !pf.object.persisted? }
    = pf.collection_radio :permission_level, [['Update', 'Edit'], ['Create', 'Add'], ['Delete', 'Delete']], :first, :last