= f.simple_fields_for :permissions, role.permissions_for_resource("CommunityInvite") do |pf|
  = pf.input :subject_class, as: :hidden
  = pf.input :can_create, as: :boolean, label: 'Invite New Members', wrapper: false