= f.simple_fields_for :permissions, role.permissions_for_resource("Event") do |pf|
  = pf.input :subject_class, as: :hidden
  = pf.input :permission_level, as: :radio_buttons, wrapper: :slider, collection: [['×',''], ['Add','Create'], ['Delete','Delete']]
