= f.simple_fields_for :roles, role.permissions_for_resource("Role") do |pf|
  = pf.input :subject_class, as: :hidden
  = pf.input :can_accept, as: :boolean, label: 'Assign/Remove roles', wrapper: false