%h1 Sent Messages

%table
  - if @messages.size > 0
    %thead
      %tr
        %th.name To
        %th.subject Subject
        %th.date Sent
    %tbody
      - for message in @messages
        %tr
          %td
            - if message.recipients
              - message.recipients.each do |profile|
                = profile.name
          %td= link_to h(message.subject), message_path(message)
          %td= distance_of_time_in_words(message.created_at, Time.now) + ' ago'
  - else
    %tbody
      %tr
        %td{ :colspan => 3 } No messages.
  %tfoot
    %tr
      %td{ :colspan => 3 }
