= form_for(@text_question, :remote => true) do |f|
  = f.hidden_field :site_form_id
  %h2 Text Question
  %p.field
    = f.label :content, "Question"
    = f.text_area :content, :rows => 3
  %p.actions
    %button{ :type => 'submit' } Add Question