$('#questions').append("#{escape_javascript(render(:partial => 'management/text_questions/text_question', :object => @text_question))}");
$('#new_text_question').detach();
$('.new_question_link').show();
