<h1>Listing text_questions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @text_questions.each do |text_question| %>
  <tr>
    <td><%= link_to 'Show', text_question %></td>
    <td><%= link_to 'Edit', edit_text_question_path(text_question) %></td>
    <td><%= link_to 'Destroy', text_question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Text question', new_text_question_path %>
