%h1 Listing text_questions
%table
  %tr
    %th
    %th
    %th
  - @text_questions.each do |text_question|
    %tr
      %td= link_to 'Show', text_question
      %td= link_to 'Edit', edit_text_question_path(text_question)
      %td= link_to 'Destroy', text_question, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Text question', new_text_question_path
