= form_tag active_profile_path do
  = label_tag 'active_profile_character_id', 'Profile'
  = collection_select(:active_profile, :character_id, current_user.active_profile_helper_collection, :character_id, :name)
  %button{ :type => 'submit' }
    Activate