<%= div_for combo_box_question do %>
  <h3>
    <%= combo_box_question.content %> 
			<br />
      <ul>
        <% for answer in combo_box_question.answers %>
          <li><%=h answer.content %></li>
        <% end %>
      </ul>
  </h3>
<% end %>