%h1 Listing combo_box_questions
%table
  %tr
    %th
    %th
    %th
  - @combo_box_questions.each do |combo_box_question|
    %tr
      %td= link_to 'Show', combo_box_question
      %td= link_to 'Edit', edit_combo_box_question_path(combo_box_question)
      %td= link_to 'Destroy', combo_box_question, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Combo box question', new_combo_box_question_path
