%p#bcrumb
  = link_to 'Management', management_path
  = link_to 'Roles', management_roles_path
  = link_to @role.name, [:management, @role]
  %span New Permission

%h1 New permission
- if params[:permission]
  %pre=YAML::dump(params[:permission])
- else
  = render 'form'
