@font-face {
  font-family: 'DinMedium';
  src: url("/fonts/din-medium.eot");
  src: url("/fonts/din-medium.eot?#iefix") format('embedded-opentype'),
       url("/fonts/din-medium.woff") format('woff'),
       url("/fonts/din-medium.ttf") format('truetype'),
       url("/fonts/din-medium.svg#DinMedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DinLight';
  src: url("/fonts/din-light.eot");
  src: url("/fonts/din-light.eot?#iefix") format('embedded-opentype'),
       url("/fonts/din-light.woff") format('woff'),
       url("/fonts/din-light.ttf") format('truetype'),
       url("/fonts/din-light.svg#DinLight") format('svg');
  font-weight: normal;
  font-style: normal;
}