@font-face {
  font-family: 'MuseoSans500';
  src: url("/fonts/museo-sans-500.eot");
  src: url("/fonts/museo-sans-500.eot?#iefix") format('embedded-opentype'),
       url("/fonts/museo-sans-500.woff") format('woff'),
       url("/fonts/museo-sans-500.ttf") format('truetype'),
       url("/fonts/museo-sans-500.svg#MuseoSans500") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Picara';
  src: url("/fonts/picara.eot");
  src: url("/fonts/picara.eot?#iefix") format('embedded-opentype'),
       url("/fonts/picara.woff") format('woff'),
       url("/fonts/picara.ttf") format('truetype'),
       url("/fonts/picara.svg#Picara") format('svg');
  font-weight: normal;
  font-style: normal;
}