<%= div_for check_box_question do %>
  <h3>
    <%= check_box_question.content %> 
			<br />
			<ul>
        <% for answer in check_box_question.answers %>
          <li><%= answer.content %></li>
        <% end %>
      </ul>
  </h3>
<% end %>