<%= div_for check_box_question do %>
  <h3>
    <%= check_box_question.content %> 
			<br />
			<ul>
        <% for answer in check_box_question.answers %>
					<%= check_box_tag :question_answers, answer.id %>
					<%= label_tag answer.content %>
        <% end %>
      </ul>
  </h3>
<% end %>