%h1 Listing check_box_questions
%table
  %tr
    %th
    %th
    %th
  - @check_box_questions.each do |check_box_question|
    %tr
      %td= link_to 'Show', check_box_question
      %td= link_to 'Edit', edit_check_box_question_path(check_box_question)
      %td= link_to 'Destroy', check_box_question, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Check box question', new_check_box_question_path
