%h1 Listing Forms
%table
  %tr
    %th Name
    - if @show
      %th View Submissions
      %th Count
      %th Published
  - @site_forms.each do |site_form|
    %tr
      %td= link_to(site_form.name, new_site_form_submission_path(site_form))
      - if @show
        %td= link_to("Submissions", site_form_submissions_path(site_form))
        %td= site_form.submissions.count
        %td= (site_form.published)