%h1 Listing Forms
%table
  %tr
    %th Name
    %th View Submissions
    %th Published
  - @site_forms.each do |site_form|
    %tr
      %td= link_to(site_form.name, new_submission_path(:site_form => site_form)) 
      %td= link_to("Submissions", submissions_path(:site_form => site_form)) if current_user.can_show("SiteForm")
      %td= (site_form.published) if current_user.can_show("SiteForm")
      
