- current = '' unless !!current
#submenu
  = link_to 'Subscriptions', subscriptions_url, class: (current == 'subscriptions' ? 'current' : '')
  = link_to 'Statements', invoices_url, class: (current == 'invoices' ? 'current' : '')
  = link_to 'Update Card', card_url, class: (current == 'card' ? 'current' : '')