- title "New Played Game"
- content_for :footer do
  = javascript_include_tag 'played_games'
%h1 New Played Game

= simple_form_for @played_game, html: {novalidate: true} do |f|
  %fieldset
    %ol
      = f.input :game_name, hint: 'WoW, League of Legends, Black Ops, etc.', input_html: {data: {autocomplete_source: autocomplete_played_games_url(subdomain:'www')}}
      %li
        %button{ type: 'submit' } Create Game

.sidelinks
  %h2 Popular Games
  %ul
    - @popular_games.each do |game|
      %li= game
