- title 'Roles'

%h1 User Roles & Permissions

%ul#roles
  - @roles.each do |role|
    %li= link_to role.name
  - if (can? :create, @community.roles.new)
    %li= link_to 'New role', new_role_path, :class => 'button'
    
#role
  = render 'form', :role => @roles.first