- title 'Roles'

%h1 User Roles & Permissions

%table
  - if @roles and @roles.size > 0
    %thead
      %tr
        %th Role
        %th
    %tbody
      - @roles.each do |role|
        %tr
          %td
            = link_to_if (can? :update, role), role.name, edit_role_path(role)
          %td.actions
            %div
              - if (can? :update, role)
                = link_to 'Edit', edit_role_path(role), :class => 'edit', :meta => (role.is_system_generated ? 'Edit permissions' : 'Edit users and permissions')
              - if (can? :destroy, role)
                = link_to 'Delete', role, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :meta => 'Delete this role'
  %tfoot
    %tr
      %td{ :colspan => 6 }
        - if (can? :create, @community.roles.new)
          = link_to 'New role', new_role_path, :class => 'button'