&nbsp;
      
#homebox
  %ol
    %li
      %h2 Sign up.
      It’s free and takes less time than a flight to Orgrimmar.
    %li
      %h2 Create.
      Character profiles, communities, pages, applications, private discussions, and a lot more.
    %li
      %h2 Connect.
      Join other communties as your character and socialize with your friends.
    %li
      %h2 Play.
      Because you actually have time now.
  
#home
  - title 'Home'
  %h1 Home#index
  %p Find me in app/views/home/index.html.haml