- title "Community Announcements | #{@community.name}"

#breadcrumb
  %ol
    %li= link_to "Announcements", announcements_url(:subdomain => current_community.subdomain)
    %li
      %span Community Announcements

%h1 Community Announcements

= render 'table', :announcements => @announcements