- title "Editing Announcement | #{@community.name}"

%h1 Editing Announcement

.full
  = simple_form_for announcment[@announcement_space, @announcement], :url => new_announcment_url, :html => {:novalidate => true, :action =>:update} do |f|
    = render 'fields', :f => f
    %p.submit
      = f.button :submit, 'Save Changes'