- title "New Announcement | #{@community.name}"

%h1 New Announcement

.full
  = simple_form_for @announcement do |f|
    = render 'fields', :f => f
    %p.submit
      = f.button :submit, 'Create Announcement'