%p#bcrumb
  = link_to 'Page Spaces', page_spaces_path
  = link_to @page.page_space.name, @page.page_space
  = link_to @page.title, [@page.page_space,@page]
  %span Edit

%h1 Editing page

= render 'form'
