%h2 Played games
= link_to "Add new game", new_user_profile_played_game_url(user_profile) if can? :create, PlayedGame.new(user_profile_id: user_profile.id)
- if @played_games.any?
  %ul
    - @played_games.each do |played_game|
      %li
        %h3= played_game.game_name
        %p= "Has #{pluralize(played_game.characters.count,'character')}"
        -if played_game.characters.any?
          %ul
            - played_game.characters.each do |character|
              %li=character.to_yaml
- else
  %p None
