%h1 LOLOLOL ROLES
%ul
  -@roles.group_by{|r| r.community }.each do |community, roles|
    -temp_ability = Ability.new(current_user)
    -temp_ability.dynamicContextRules(current_user, community)
    %h2=community
    -community.roles.each do |role|
      - if not role.is_member_role? and temp_ability.can? :can_accept, Role
        %span="MAGIC EDIT LINK"
        %span="Has? #{roles.include?(role).to_s}"
        %li=role.to_yaml
      - else
        %span="MAGIC NOTEDIT LINK"
        %span="Has? #{roles.include?(role).to_s}"
        %li=role.to_yaml
