- if roles.any?
  - roles.group_by{|r| r.community }.each do |community, roles|
    %h2= "#{community.name} roles"
    - if community.admin_profile == user_profile
      %ul
        %li Community Admin
    - else
      - temp_ability = Ability.new(current_user)
      - temp_ability.dynamicContextRules(current_user, community)
      - if temp_ability.can? :accept, Role
        %ul.checkboxes
          %li.checked
            %strong Member
            (required)
          - community.roles.each do |role|
            - next if role.is_member_role?
            %li{ class: roles.include?(role) ? 'checked' : ''}
              = link_to role.name, user_profile_role_url(user_profile, role), method: :put, remote: :true
      - else
        %ul
          %li Member
          - community.roles.each do |role|
            - next if role.is_member_role?
            - if roles.include?(role)
              %li= role.name