- if roles.any?
  - roles.group_by{|r| r.community }.each do |community, roles|
    %h2= "#{community.name} roles"
    %ul.checkboxes
      - if community.admin_profile == user_profile
        %li
          %strong Community Leader
      - else
        %li Member
        - temp_ability = Ability.new(current_user)
        - temp_ability.dynamicContextRules(current_user, community)
        - community.roles.each do |role|
          - next if role.is_member_role?
          %li{ class: roles.include?(role) ? 'checked' : ''}
            - if temp_ability.can? :can_accept, Role
              = link_to role.name, user_profile_role_url(user_profile, role), method: :put, remote: :true
            - else
              = role.name