- title "Profile: #{@user_profile.display_name}"

%article
  %h1 Inactive Profile
  %p
    Here a profile once existed,
    %br
    and though some data persisted,
    %br
    it's echos carry an author nevermore.
  %p
    &mdash; Anonymous