- title "Users"

#body
  %h1 All Public Users
  - if @user_profiles.any?
    = paginate @user_profiles
    = render "user_profiles/table", :user_profiles => @user_profiles
    = paginate @user_profiles
  -else
    %p
      There are no public user profiles.