%h1 Donations

%table
  - if @donations
    %thead
      %tr
        %th.name Donation
        %th.edit
    - @donations.each do |donation|
      %tr
        %td.name
          = link_to donation.name, donation
        %td.edit
          - if logged_in? and current_user.can_update(donation)
            = link_to 'Edit', edit_donation_path(donation), :class => 'edit', :title => 'Edit'
          - if logged_in? and current_user.can_delete(donation)
            = link_to 'Destroy', donation, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete'
  - else
    %tbody
      %tr
        %td{ :colspan => 2 } There are no donations.
  %tfoot
    %tr
      %td{ :colspan => 2 }
        = link_to 'New Donation', new_donation_path, :class => 'button'
