%h1 Games

%table
  %thead
    %tr
      %th.amount Players
      %th.name Game Name
      %th.edit
  %tbody
    - @games.each do |game|
      %tr
        %td.amount
          = game.characters.size.to_s
        %td.name
          = link_to game.name, game
        %td.edit
  %tfoot
    %tr
      %td{ :colspan => 3 }
