<%= render @game %>

<h3>Characters:</h3>
<div id="characters">
  <%= render @game.characters %>
</div>

<br/>
<h3>Add New Character:</h3>

<%= render :file => 'characters/new' %>
<br/>

<%= link_to 'Back', games_path %>
