%h1 
  = @site_form.name
- if !@submissions.empty?
  %h3 Submissions 
  %table
    %tr
      %th Username
      %th Date Submitted
    - @submissions.each do |submission|
      %tr
        %td= link_to submission.name, site_form_submission_path(@site_form, submission)
        %td= submission.created_at
- else
  No Submissions For This Form