%h1
  = @site_form.name
- if !@submissions.empty?
  %h3 Submissions
  %table
    %tr
      %th Username
      %th Submitted
    - @submissions.each do |submission|
      %tr
        %td= link_to submission.name, site_form_submission_path(@site_form, submission)
        %td
          = distance_of_time_in_words(submission.created_at, Time.now)
          ago
- else
  No Submissions For This Form
