%p#notice= notice
%p
  %b Username:
  = @submission.name
  %p= render :partial => "questions/question_answer", :collection => @submission.all_questions, :locals => {:submission =>  @submission}
|
\#{link_to 'Back', submissions_path}
