<%= div_for radio_button_question do %>
  <h3>
    <%= radio_button_question.content %> 
			<br />
      <ul>
        <% for answer in radio_button_question.answers %>
          <li><%=h answer.content %></li>
        <% end %>
      </ul>
  </h3>
<% end %>