<%= div_for radio_button_question do %>
  <h3>
    <%= radio_button_question.content %> 
			<br />
      <ul>
        <% for answer in radio_button_question.answers %>
          <%=radio_button_tag :question_answers, answer.id %>
					<%= label_tag answer.content %>
        <% end %>
      </ul>
  </h3>
<% end %>