<h1>Listing radio_button_questions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @radio_button_questions.each do |radio_button_question| %>
  <tr>
    <td><%= link_to 'Show', radio_button_question %></td>
    <td><%= link_to 'Edit', edit_radio_button_question_path(radio_button_question) %></td>
    <td><%= link_to 'Destroy', radio_button_question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Radio button question', new_radio_button_question_path %>
