%h1 Letters

%table
  - if @letters.size > 0
    %thead
      %tr
        %th.name
        %th.edit
    - @letters.each do |letter|
      %tr
        %td.name
          = link_to letter.id, letter
        %td.edit
          - if logged_in?
            - if current_user.can_udpate(letter)
              = link_to 'Edit', edit_letter_path(letter), :class => 'edit', :title => 'Edit Letter'
            - if current_user.can_delete(letter)
              = link_to 'Delete', letter, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete Letter'
  - else
    %tbody
      %tr
        %td{ :colspan => 2 } There are no letters.
  %tfoot
    %tr
      %td{ :colspan => 2 }
        - if logged_in? and current_user.can_create('Letter')
          = link_to 'New Letter', new_letter_path, :class => 'button'