<h1>Listing team_speaks</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @team_speaks.each do |team_speak| %>
  <tr>
    <td><%= link_to 'Show', team_speak %></td>
    <td><%= link_to 'Edit', edit_team_speak_path(team_speak) %></td>
    <td><%= link_to 'Destroy', team_speak, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team speak', new_team_speak_path %>
