- content_for :footer do
  = javascript_include_tag "activities"

- if current_user.user_profile == current_community.admin_profile and !Page.find_by_id(current_community.home_page_id)
  %p
    %strong You do not have a home page setup yet.
    = (link_to 'Create a wiki page', page_spaces_url) + ','
    and set it as your home page in
    = link_to 'community settings', edit_community_settings_url
    %hr

%h1 Recent Activity

.activities
= link_to 'Recent Activity', community_activities_url(format: :js), remote: true, class: 'dynload', data: { type: :text, target: '#body div.activities' }