- title 'Edit Subscription'

#body
  %h1 Subscriptions#edit

  = simple_form_for @community, url: subscription_url(@community), html: {novalidate: true} do |f|
    %h2=@community.name
    =f.association :community_plan, :collection => @available_plans, :prompt => "Choose a Plan", as: :radio_buttons
    %p.submit
      = f.button :submit, 'Save Changes'