- title 'Edit Subscription'

- card_is_present = (@stripe_card_token.present? or current_user.stripe_customer_token.present?)

- content_for :header do
  %meta{ name: "stripe-key", content: STRIPE_PUBLIC_KEY }
  = javascript_include_tag "https://js.stripe.com/v1/"
  = javascript_include_tag "subscriptions"
  = stylesheet_link_tag "top_level/subscriptions"
=simple_form_for @current_invoice, url: subscription_url(@community, subdomain: "secure", protocol: (Rails.env.development? ? "http://" : "https://")), html: {novalidate: true, id: "form_with_subscription"} do |f|
  %p=@current_invoice.to_yaml
  %hr
  %h2 Your Plan
  =f.simple_fields_for :invoice_items do |sf|
    =sf.input :community_id, as: :hidden
    =sf.input :item_type, as: :hidden
    =sf.input :item_id, as: :radio, collection: @available_plans.map{|p| p.id }
  %hr
  = f.button :submit, 'Update Subscription'