- title 'Sign in'

#body
  %h1 Sign in to Crumblin™

  = simple_form_for(resource, :as => resource_name, :url => session_url(resource_name, :subdomain => "secure", :protocol => (Rails.env.development? ? "http://" : "https://"))) do |f|
    %fieldset
      %ol
        = f.input :email
        = f.input :password
        %li
          %button{ :type => 'submit' } Sign in

  = render "/devise/shared/links"
