= f.input :faction, as: :radio_buttons, collection: Swtor.factions, wrapper_html: { class: 'select with-label faction' }
= f.input :server_name, as: :radio_buttons, label: 'Server', collection: Swtor.server_names, wrapper_html: { class: 'select with-label server' }