= simple_form_for [support_ticket, support_comment], method: :post, as: :support_comment, url: support_comment_index_url(support_ticket), html: {novalidate: true} do |f|
  = f.input :body, wrapper_tag: :p
  %p.submit
    %button{ type: :submit } Add comment