= simple_form_for comment do |f|
  -#TODO Doug - Create method for selecting a different profile by clicking/hovering over this avatar
  %span.avatar
    = image_tag current_user.user_profile.avatar_url(:tiny)
  = f.input :body, :label => false, :wrapper => false
  %button{ :type => 'submit' } Post comment
  = f.input :has_been_locked, :label => 'Lock comment?', :type => :boolean, :wrapper => false