<h1>Listing discussion_spaces</h1>

<table>
  <tr>
    <th>Name</th>
    <th>System Created</th>
    <th></th>
  </tr>

<% @discussion_spaces.each do |discussion_space| %>
  <tr>
    <td><%= discussion_space.name %></td>
    <td><%= discussion_space.system %></td>
    <td><%= link_to 'Show', discussion_space %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discussion space', new_discussion_space_path %>
