#wmd-fields
  %fieldset
    %ol
      = f.input :name, label: false, placeholder: 'Page name', input_html: { maxlength: Page::MAX_NAME_LENGTH }
      = f.input :markup, as: :text, label: false, placeholder: 'Page content', input_html: { id: "wmd-input", class: "wmd-input" }, wrapper_html: { class: "wmd-panel" }