%table
  %thead
    %tr
      %th Name
      %th.actions
  %tbody
    - pages.each do |page|
      %tr
        %td= link_to shorten_words(page.name, 21), page
        %td.actions
          %div
            - if (can? :update, page)
              = link_to 'Edit', edit_page_path(page), :meta => 'Edit page', :class => 'edit'
            - if (can? :destroy, page)
              = link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete, :meta => 'Delete page', :class => 'delete'
  %tfoot
    %tr
      %td{ :colspan => 3 }
        - if can? :create, Page.new({ page_space: page_space }, :without_protection => true)
          = link_to 'New Page', new_page_space_page_path(page_space), :class => 'button'