- title "New Page | #{@community.name}"

%h1 New Page

.full
  = simple_form_for [@page.page_space,@page] do |f|
    = render 'fields', :page => @page, :f => f
    %p.submit
      = f.button :submit, 'Create Page'