%p
  %strong Hello from #{@user_profile.full_name},
%p
  I have added the following comment for support ticket ##{@support_ticket.id}:
%p
  #{@support_comment.body}
%hr
%p Help this user out by clicking the link below:
%p= link_to 'View Support Ticket', @url, style: 'color: #BE4124'