%p
  %strong Hello #{@user_profile.display_name},
%p
- if @message_association.is_system_sent
  You have a new message on Crumblin!
- else
  #{@message_association.author_name} sent you a message on Crumblin!
%p You can view your message at the link below:
%p= link_to 'View Message', mail_url(@message_association), :style => 'color: #BE4124'
