%p 
  %strong Hello #{@user_profile.display_name},
%p
  #{@acknowledgement.poster_display_name} created a new #{@acknowledgement.community_name} announcement on Crumblin!
%p You can view your announcement at the link below:
%p= link_to 'View Announcement', @url, :style => 'color: #BE4124'