%p
  %strong Hello #{@user_profile.display_name},
%p
- if @message_association.is_system_sent
  You have a new message on Guild.io&trade;!
- else
  #{@message_association.author_name} sent you a message on Guild.io&trade;!
%h2
  #{@message_association.subject}
%p You can view your message at the link below:
%p= link_to 'View Message', mail_url(@message_association), style: 'color: #BE4124'
