%p
  %strong Hello #{@user_profile.full_name},
%p
  A problem occurred when we attempted to bill your credit card:
%hr

%font{ color: '#333' }
  %h2 #{@message_short}
  %p #{@message_full}

%hr
%p
  Please check out your recent billing statement and update your card if needed:
%p
  = link_to @url, @url, style: 'color: #BE4124'