- title "New Custom Form | #{current_community.name}"

#breadcrumb
  %ol
    %li= link_to 'Custom Forms', custom_forms_url
    %li
      %span New

%h1 New Custom Form

= render 'form', custom_form: @custom_form
