%h1 Registration Applications
%table
  %tr
    %th Name
    %th Date
    %th Status
    - @registration_applications.each do |registration_application|
      %tr
        %td= link_to registration_application.name, registration_application
        %td= registration_application.submission_date
        %td= registration_application.status
%br/
= link_to 'Edit Registration Application Form', management_site_form_path(@form)
