%dl.tabs
  %dt{ :class => 'account active' } Account Details
  %dd{ :class => 'account active' }
    %h2 Crumblin Account Details
    = render :partial => 'form_account', :locals => {:f => f}
  %dt.characters Characters
  %dd.characters
    %h2 Characters
    = render :partial => 'form_characters', :locals => {:f => f}
= submit_or_cancel(f)                