%p#bcrumb
  = link_to 'Account', account_path
  %span Edit

%h1 Editing Profile Account

= form_tag(edit_account_path, :method => "put", :html => {:multipart => true}) do |f|
  = render :partial => 'form', :locals => {:f => f}