@import mixins
@import fonts/din
@import fonts/malbeck
@import reset
@import bar


#bar:before
  border-top: 1px solid #480012
  +bg_gradient(rgba(#480012,.3),rgba(#480012,0))

html,
body
  min-height: 100%

body
  background: #fff
  color: #896243
  font-family: DinLight, sans
  min-width: 980px
  
  &:before
    background: #480012
    content: ''
    height: 670px
    left: 0
    position: absolute
    right: 0
    top: 0
  
  &:after
    +bg_gradient(#d9b8c0,#fff)
    content: ''
    height: 200px
    left: 0
    position: absolute
    right: 0
    top: 670px
  
  strong
    font-family: DinMedium, sans

#content
  background: image-url('community/bg.jpg') center 70px no-repeat
  min-height: 400px
  padding: 270px 0 0
  position: relative
  
  &:before
    background: image-url('community/shadow.png') top center no-repeat
    content: ''
    height: 356px
    left: 0
    position: absolute
    right: 0
    top: 670px
    z-index: 2

#header
  height: 200px
  left: 50%
  margin: 0 0 0 -480px
  position: absolute
  text-align: left
  top: 70px
  width: 960px
  z-index: 10
  
  .title
    color: #fff
    left: 0
    position: absolute
    top: 50px
    
    strong
      display: block
      font-family: DinMedium, sans
      font-size: 36px
      letter-spacing: -2px
      text-shadow: 3px 3px 3px rgba(#000,.5)
    
    cite
      display: block
      font-size: 24px
      letter-spacing: -1px
      text-shadow: 2px 2px 2px rgba(#000,.5)
  
  .menu
    background: rgba(#480012,.9)
    +border_radius(5,5,0,0)
    bottom: 0
    height: 30px
    left: 0
    padding: 15px 5px
    position: absolute
    right: 0
    
    >li
      float: left
      list-style: none
      position: relative
      
      >a
        border: 1px solid transparent
        +border_radius(5)
        color: #bea761
        display: block
        font-size: 18px
        height: 30px
        line-height: 30px
        margin: 0 0 0 10px
        padding: 0 10px
        position: relative
        +transition(color .2s linear, background .2s linear)
        z-index: 12
            
        &:not(:only-child)
          padding: 0 30px 0 10px
    
          &:after
            border: 5px solid transparent
            border-top-color: #bea761
            content: ''
            height: 0
            position: absolute
            right: 10px
            top: 13px
            width: 0
      
      >ul
        background: #704323
        border: 1px solid rgba(#000,.2)
        +border_radius(0,5,5,5)
        +box_shadow(0 0 5px rgba(#000,.5))
        left: 10px
        +opacity(0)
        min-width: 120%
        padding: 5px 0 0
        position: absolute
        top: 25px
        z-index: 11
        
        >li
          height: 0
          padding: 0
        
          >a
            border-top: 1px solid rgba(#000,.2)
            color: #dac6b7
            display: block
            font-size: 13px
            padding: 0 10px
            position: relative
            white-space: nowrap
            
            &:hover
              background: rgba(#000,.1)
              color: #fff
          
          &:last-child,
          &:last-child >a
            +border_radius(0,0,5,5)
      
      &:hover
        
        >a
          background: #704323
          border-color: rgba(#000,.2)
          color: #fff
          +transition(color .2s linear)
          
          &:not(:only-child)
            border-bottom: 0
            +border_radius(5,5,0,0)
      
            &:after
              border-top-color: #fff
        
        >ul
          +opacity(1)
          top: 30px
          +transition(opacity .2s linear, top .2s linear)
          
          >li
            height: auto
            
            >a
              padding: 7px 10px
              +transition(padding .2s linear)
      
      &.current
        
        >a
          background: #26000a
      
      &.special
        float: right
        
        >a
          color: #fff
          float: right
          font-size: 14px
          margin: 0 10px 0 0
          padding: 0 40px 0 10px
          
          &:before
            background: image-url('application/icons.png') -90px -30px no-repeat
            content: ''
            height: 30px
            position: absolute
            right: 5px
            top: 0
            width: 30px
          
          &:after
            display: none
          
          &:hover
            color: #fff
        
        >ul
          +border-radius(5,0,5,5)
          left: auto
          right: 10px
      
      &.settings >a:before
        background-position: -90px -30px
      
      &.signup >a:before
        background-position: -120px -30px

#body
  background: rgba(#fff,.9)
  margin: 5px auto 0
  min-height: 735px
  padding: 30px
  position: relative
  text-align: left
  width: 900px
  z-index: 3
  
  
  // GENERAL CONTENT
  
  a
    color: #580B19
    padding: 0 3px
    text-decoration: underline
    +transition(background .2s linear)
    
    &:hover
      background: #6F2B3D
      +border_radius(3)
      color: #fff
      text-decoration: none
  
  h1,
  h2,
  h3
    color: #560716
    font-family: DinMedium, serif
    letter-spacing: -1px
    line-height: 30px
    padding: 0 0 15px
    text-decoration: none
  
  h1
    font-size: 30px
  
  h2
    font-size: 24px
  
  h3
    font-size: 18px
    
  nav
  
    h1
      background: #ccc
      +bg_gradient(rgba(#fff,0),#ccc)
      border-bottom: 1px solid #fff
      font-family: DinLight, serif
      font-size: 16px
      padding: 5px 25px
      margin: -30px -30px 30px
      
      a
        font-family: DinMedium, serif
      
      strong
        font-family: DinLight, serif
      
      a,
      strong
        margin-left: 20px
        position: relative
      
        &:before
          border-left: 1px solid #560716
          bottom: 0
          content: ''
          left: -10px
          position: absolute
          top: 0
        
      a:first-child
        margin-left: 0
        
        &:before
          display: none
  
  p
    padding: 10px 0


  // FORMS
  
  button,
  .button
    background: #6F2D3D
    border: 1px solid #8f364e
    +border_radius(5)
    color: #efd9df
    display: block
    float: left
    font: 16px DinMedium, serif
    height: 30px
    line-height: 30px
    padding: 0 15px
    text-decoration: none
    +transition(background .2s linear)
    
    &:hover
      background: #8f364e
      color: #fff
  
  fieldset
  
    li
      padding: 10px 0
  
    label
      display: block
      font-family: DinMedium, sans
      margin: 0 0 5px
    
    input[type="email"],
    input[type="password"],
    input[type="text"],
    textarea
      background: #eee
      color: #66482f
      +bg_gradient(#ddd,#eee)
      +border_radius(5)
      +box_shadow(0 0 3px #ddd)
      border: 1px solid #fff
      display: block
      +transition(box-shadow .2s linear)
      width: 410px
      
      &:focus
        background: #ECDDD8
        +box_shadow(0 0 8px #560B17)
        +bg_gradient(#FDF3EE,#F2E5E1)
        color: #580B15
    
    input[type="email"],
    input[type="password"],
    input[type="text"]
      line-height: 30px
      padding: 0 10px
    
    textarea
      height: 240px
      padding: 10px
    
    input[type="checkbox"],
    input[type="radio"]
      height: 1px
      margin: 10px 0 0 5px
      position: absolute
      width: 1px
      z-index: 1
      
      + label
        display: block
        line-height: 24px
        margin: 0 0 5px
        position: relative
        text-indent: 34px
        z-index: 2
        
        &:before
          background: #eee
          +bg_gradient(#ddd,#eee)
          border: 1px solid #fff
          +border_radius(5)
          +box_shadow(0 0 3px #ddd)
          content: ''
          height: 24px
          left: 0
          position: absolute
          top: 0
          width: 24px
      
      &:focus + label
      
        &:before
          background: #d7eaf8
          +box_shadow(0 0 8px #2d7cb4)
          +bg_gradient(#f2f8fd,#d7eaf8)
      
      &:checked
  
        + label
              
          &:after
            background: #ddd
            +bg_gradient(#7a569e,#51346e)
            border: 1px solid #ddd
            +border_radius(20)
            +box_shadow(0 0 9px #999)
            content: ''
            height: 14px
            left: 5px
            position: absolute
            top: 5px
            width: 14px
            z-index: 2
        
        &:focus + label,
        &:hover + label,
        + label:hover
                
          &:after
            background: #be4124
            +bg_gradient(#2d7bb3,#155481)
    
    .select
      height: 55px
      position: relative
    
      ul
        background: #eee
        +bg_gradient(#ddd,#eee)
        +border_radius(5)
        +box_shadow(0 0 3px #ddd)
        border: 1px solid #fff
        display: block
        height: 0
        line-height: 30px
        overflow: hidden
        padding: 30px 1px 1px
        position: absolute
        +transition(box-shadow .2s linear)
        width: 430px
        z-index: 9
            
        &:before
          border: 5px solid transparent
          border-top-color: #bea761
          content: ''
          height: 0
          position: absolute
          right: 10px
          top: 13px
          width: 0
          z-index: 10
        
        li
          padding: 0
          
          label
            background: #ECDDD8
            +bg_gradient(#FDF3EE,#F2E5E1)
            +border_radius(5)
            border-top: 1px solid #ECDDD8
            color: #66482f
            display: none
            font-family: DinMedium, sans
            height: 30px
            line-height: 30px
            margin: 1px 0 0
            padding: 0 5px
            text-indent: 0
            
            &:before,
            &:after
              display: none
          
          input
            left: -500em
            position: absolute
            
            &:checked + label
              background: transparent
              border-top-color: transparent
              color: #66482f
              display: block
              font-family: DinLight, sans
              position: absolute
              top: 0
              width: 420px
              z-index: 3
        
        &:hover
          background: #ECDDD8
          +box_shadow(0 0 8px #560B17)
          +bg_gradient(#FDF3EE,#F2E5E1)
          color: #580B15
          height: auto
        
          li
          
            label
              color: #580B15 !important
              display: block
              position: static
            
              &:hover
                background: #580B15
                color: #fff !important
  
  .full
    
    input[type="email"],
    input[type="password"],
    input[type="text"],
    textarea
      width: 880px
  
  
  // TABLES

  table
    +border_radius(5)
    margin: 0 0 15px
    
    td,
    tr
    
      &.r
        text-align: right
  
    thead
      text-align: left
    
      th
        background: #6F4324
        +bg_gradient(#83583a,#5e371b)
        border-bottom: 1px solid #fff
        font-family: DinMedium, serif
        color: #fff
        padding: 10px
        
        &:first-child
          +border_radius(5,0,0,0)
        
        &:last-child
          +border_radius(0,5,0,0)
        
        &:only-child
          +border_radius(5,5,0,0)
  
    tbody
    
      td
        background: #eee
        +bg_gradient(#eee,#ddd)
        border-bottom: 1px solid #ccc
        border-top: 1px solid #fff
        padding: 5px 10px
        width: 100%
        
        &.actions
          padding: 5px
          white-space: nowrap
          
          div
            position: relative
          
            a
              background: image-url('application/icons.png') no-repeat #D47B48
              +border_radius(5)
              display: block
              float: left
              height: 30px
              overflow: hidden
              padding: 0
              margin: 0 0 0 5px
              text-indent: -500em
              +transition(background-color .2s linear, box-shadow .2s linear)
              width: 30px
              
              &:hover
                background: image-url('application/icons.png') no-repeat #570A17
                +box_shadow(0 0 10px #333)
              
                &[meta]
                
                  &:before
                    background: rgba(#6F2B3D,.9)
                    +border_radius(5)
                    color: #fff
                    content: attr(meta)
                    font-size: 13px
                    height: 30px
                    line-height: 30px
                    margin: 0 5px 0 0
                    padding: 0 10px
                    position: absolute
                    right: 100%
                    text-indent: 0
                    white-space: nowrap
                  
                  &:after
                    border: 5px solid transparent
                    border-left: 5px solid rgba(#6F2B3D,.9)
                    content: ''
                    height: 0
                    left: -5px
                    position: absolute
                    top: 10px
                    width: 0
                    
              
              &.apply
                background-position: 0 -30px
                
              &.delete
                background-position: -30px -30px
                
              &.edit
                background-position: -60px -30px
    
    tfoot
    
      td
        background: #BCA964
        +bg_gradient(#9b8c4a,#cdbf81)
        border-top: 1px solid #fff
        color: #570A17
        padding: 10px
        position: relative
        
        &:before
          border-top: 1px solid #ccc
          content: ''
          left: 0
          position: absolute
          right: 0
          top: 0
        
        &:first-child
          +border_radius(0,0,0,5)
        
        &:last-child
          +border_radius(0,0,5,0)
        
        &:only-child
          +border_radius(0,0,5,5)
        
        button,
        .button
          border-color: #1e102c
          
          &:hover
            +box_shadow(0 0 10px #000)


  // Comments
  .comments
    background: #fff
    +border_radius(5)
    margin: 30px -30px 0
    padding: 20px
    
    li
      border-bottom: 1px solid #fff
    
      blockquote
        margin: 0
        padding: 0 15px 10px 72px
        position: relative
        
        &:before
          border-bottom: 1px solid #EBDFC4
          bottom: 15px
          content: ''
          left: 92px
          position: absolute
          right: 15px
          z-index: 3
        
        .avatar
          background: #ddd
          border: 1px solid #eee
          border-right: 0
          left: 10px
          position: absolute
          top: 10px
          +transition(box-shadow .2s linear)
          
          &:before
            background: image-url('application/comment-shadow.png') 0 0 no-repeat
            content: ''
            height: 101px
            position: absolute
            right: 0
            top: -14px
            width: 18px
          
          &:after
            border-left: 10px solid transparent
            border-top: 10px solid #fff
            content: ''
            height: 0
            position: absolute
            right: 0
            top: 10px
            width: 0
          
          img
            border: 1px solid #fff
            border-right: 0
            display: block
        
        .meta
          background: #fff
          color: #999
          font-size: 12px
          padding: 5px 0 0 20px
          position: relative
          z-index: 3
          
          &:before
            border-bottom: 1px solid #ddd
            bottom: -3px
            content: ''
            left: 20px
            position: absolute
            right: 0
            top: 20px
          
          a
            color: #aa000b
            font-family: DinMedium, sans
            text-decoration: none
            
            &:hover
              color: #fff
        
        .actions
          position: absolute
          right: 15px
          top: 5px
          z-index: 4
          
          a
            background: image-url('application/icons.png') no-repeat
            +border_radius(0)
            display: block
            height: 20px
            overflow: hidden
            +opacity(0)
            margin: 5px 0 0
            padding: 0
            text-indent: -500em
            +transition(opacity .2s linear)
            width: 20px
            
            &:hover
              +opacity(1)
            
            &.edit
              background-position: -65px -5px
            
            &.delete
              background-position: -35px -5px
            
            &.lock
              background-position: -185px -5px
            
            &.unlock
              background-position: -155px -5px
        
        p
          background: #fff
          color: #333
          font-size: 14px
          line-height: 20px
          margin: 0
          padding: 12px 40px 40px 20px
          position: relative
          z-index: 2
        
        em,
        .reply
          display: block
          float: left
          font: 12px DinMedium, sans
          line-height: 20px
          padding: 0 5px
          margin: 10px 0 0
          
        em
          background: #eee
          color: #999
          font-size: 12px
          
        .reply
          background: #EBDFC4
          +border_radius(0)
          color: #917000
          text-decoration: none
          
          &:hover
            background: #6F2B3D
            color: #fff
        
        &:hover
        
          .avatar
            +box_shadow(0 0 15px rgba(#000,.5))
            border-color: #999
        
          .actions
          
            a
              +opacity(.3)
              
              &:hover
                +opacity(1)
    
      >ol
        margin: 0 0 0 30px
    
    form
      background: #EBDFC4
      border-right: 22px solid #EBDFC4
      margin: 0 15px 0 72px
      position: relative
      padding: 5px
      
      &:before
        border-left: 10px solid transparent
        border-top: 10px solid #EBDFC4
        content: ''
        height: 0
        position: absolute
        left: -10px
        top: 10px
        width: 0
        z-index: 3
      
      .avatar
        background: #ddd
        border: 1px solid #eee
        position: absolute
        top: 0
        left: -62px
        z-index: 1
        
        img
          border: 1px solid #fff
          display: block
      
      textarea
        background: #fff
        border: 1px solid #BCA767
        display: block
        font-size: 14px
        height: 21px
        left: 5px
        line-height: 20px
        max-width: 100%
        padding: 5px 10px
        margin: 0
        +transition(height .2s linear, color .2s linear)
        width: 100%
      
      &:hover textarea,
      textarea:focus,
      textarea.open
        color: #333
        height: 80px
        
        ~ button,
        ~ input,
        ~ label
          display: block
    
      button
        +border_radius(0)
        display: none
        float: none
        font: 12px DinMedium, sans
        height: auto
        line-height: 20px
        margin: 5px 0 0
        padding: 0 5px
      
      input
        bottom: 20px
        display: none
        height: 1px
        margin: 0
        padding: 0
        position: absolute
        right: -5px
        width: 1px
        z-index: 0
        
        &:checked + label:before
          background-position: -155px -5px
      
      label
        bottom: 5px
        display: none
        font: 12px DinMedium, sans
        line-height: 20px
        padding: 0 5px 0 0
        position: absolute
        right: 0
        
        &:before
          background: image-url('application/icons.png') -185px -5px no-repeat #EBDFC4
          bottom: 0
          content: ''
          height: 20px
          margin: 5px 0 0 -25px
          position: absolute
          right: -20px
          width: 20px
          z-index: 2
  
  
@import theme
@import footer