@import mixins

body
  background: image-url('main/bg.png') 0 70px repeat-x #fff
  font-family: DinLight, sans
  
  strong
    font-family: DinMedium, sans

#pitch
  font-size: 18px
  margin: 25px auto 0
  width: 950px
  text-align: left
  
  a
    color: #be4124
    padding: 0 5px
    text-decoration: underline
    
    &:hover
      background: #eee
      border: none
      +border_radius(5)
      +box_shadow(0 0 25px #999)
      color: #e83309
      text-decoration: none
  
#content
  background: image-url('main/block.png') top center no-repeat
  position: relative
  margin: 55px 0 0
  min-height: 310px
  z-index: 1
  
#homebox
  background: image-url('main/homebox.png') top center no-repeat
  height: 360px
  left: 0
  position: absolute
  right: 0
  top: -21px
  z-index: 2
  
  ol
    left: 50%
    margin: 0 0 0 -360px
    position: absolute
    top: 60px
    width: 720px
    
    li
      color: #666
      float: left
      font-size: 14px
      height: 133px
      margin: 0 2px 0 4px
      overflow: hidden
      padding: 15px 30px 0 15px
      position: relative
      text-align: left
      +transition(color .1s linear)
      width: 129px
    
      h2
        color: #1668a3
        font-family: DinMedium, sans
        font-size: 18px
        padding: 0 0 10px
        +transition(color .2s linear)
      
      em
        bottom: -18px
        color: #ccc
        font-family: DinMedium, sans
        font-size: 80px
        position: absolute
        right: -6px
        +transition(bottom .2s linear, color .1s linear)
        
      &:nth-child(1) em
        content: '1'

      &:nth-child(2) em
        content: '2'

      &:nth-child(3) em
        content: '3'

      &:nth-child(4) em
        content: '4'
        right: 6px
      
      &:hover
        color: #000
        +transition(color .1s linear)
      
        h2
          color: #be4124
          +transition(color .1s linear)
      
        em
          bottom: 0
          color: #be4124
          +transition(bottom .1s linear, color .1s linear)

  form
    color: #a89db3
    height: 101px
    margin: 239px auto 0
    padding: 20px 30px
    position: relative
    text-align: left
    width: 900px
  
    &:after
      background: image-url('bar/shadow.png') top center no-repeat
      content: ''
      height: 70px
      left: 0
      pointer-events: none
      position: absolute
      right: 0
      top: 122px
    
    .pitch
      border-left: 2px solid #544762
      font-size: 13px
      left: 570px
      padding: 5px 0 5px 20px
      position: absolute
      top: 40px
      
      strong
        color: #fff
        font-family: DinMedium, sans
        font-size: 18px
        display: block
      
      a
        color: #6cc0fc
        text-decoration: underline
        
        &:hover
          color: #e95c3a
    
    h2
      color: #fff
      font-family: DinMedium, sans
      font-size: 18px
      line-height: 25px
      
    input
      +bg_gradient(#cdcdcd,#fdfdfd)
      border: 1px solid #46345a
      +border_radius(5)
      color: #999
      float: left
      height: 30px
      line-height: 30px
      padding: 0 10px
      width: 420px
      
      &:focus,
      &:hover
        color: #333
    
    button
      +bg_gradient(#d24723,#792b28)
      +border_radius(5)
      color: #f8d5bb
      float: left
      font-family: Malbeck, serif
      font-size: 16pt
      height: 30px
      line-height: 30px
      letter-spacing: 1px
      margin: 0 0 0 5px
      padding: 0
      text-decoration: none
      text-transform: lowercase
      width: 70px
      
      &:hover
        +bg_gradient(#e05c2e,#9e3834)
        color: #fff
    
    .url
      background: image-url('main/icon-link.png') center left no-repeat
      clear: both
      font-size: 13px
      line-height: 25px
      padding: 0 0 0 30px
      
      strong
        color: #6cc0fc
        font-size: 15px
        height: 20px
        
        kbd
          color: #fff
    
    img
      pointer-events: none
      position: absolute
      right: -40px
      top: -149px
      +transition(right .2s linear)
  
  &:hover
  
    form
      
      img
        right: -58px
        +transition(right .2s linear)
    
#home
  background: image-url('main/bg.png') 0 0 repeat-x #fff
  margin: 263px 0 0
  min-height: 220px
  padding: 90px 0 0
  
  h2
    color: #251634
    font-size: 18px
    margin: 0 0 15px
    
    strong
      font-family: DinMedium, sans
  
  .col1
    left: 50%
    margin: 0 0 0 -480px
    position: absolute
    text-align: left
    width: 300px
    
    ul
      +border_radius(5)
      +box_shadow(0 -4px 3px rgba(#ccc,.5))
      margin: 0 0 30px
      
      li
        background: #eee
        +bg_gradient(#fff,#eee)
        border-top: 1px solid #ccc
        border-bottom: 1px solid #fff
        color: #666
        font-size: 14px
        line-height: 17px
        min-height: 20px
        overflow: hidden
        padding: 15px 10px
        position: relative
        +transition(color .2s linear)
        
        &:first-child
          +border_radius(5,5,0,0)
        
        &:last-child
          background: image-url('bar/bg.png') top center repeat-x #3d2753
          +border_radius(0,0,5,5)
          padding: 0
          
          a
            background: image-url('main/icon-gear.png') 10px center no-repeat
            +border_radius(0,0,5,5)
            border-top: 1px solid #fff
            color: #fff
            display: block
            font-size: 18px
            height: 40px
            line-height: 40px
            padding: 0 0 0 45px
            +transition(background-position .1s linear, padding .1s linear)
            
            &:hover
              background: image-url('main/icon-gear.png') 15px center no-repeat rgba(red, .2)
              padding: 0 0 0 55px
              +transition(background .1s linear, padding .1s linear)
      
        h3
          color: #1668a3
          font-family: DinMedium, sans
          font-size: 20px
          margin: 0 0 10px
          +transition(color .2s linear)
        
        &:hover
          color: #000
          +transition(color .1s linear)
          
          h3
            color: #be4124
            +transition(color .1s linear)
  
  .col2
    margin: 0 -480px 0 0
    position: absolute
    right: 50%
    text-align: left
    width: 630px
    
    ul
      +border_radius(5)
      +box_shadow(0 -4px 3px rgba(#ccc,.5))
      margin: 0 0 30px
    
      li
        background: #eee
        +bg_gradient(#fff,#eee)
        border-top: 1px solid #ccc
        border-bottom: 1px solid #fff
        color: #666
        font-size: 14px
        line-height: 17px
        min-height: 20px
        overflow: hidden
        padding: 10px
        position: relative
        +transition(color .2s linear)
        
        &:first-child
          +border_radius(5,5,0,0)
        
        cite,
        time
          border-right: 2px solid #e2e2e2
          color: #1668a3
          display: block
          font-family: DinMedium, sans
          font-size: 12px
          float: left
          margin: -5px 5px -5px 0
          padding: 5px 0
          
        cite
          width: 100px
        
        time
          width: 50px
        
        a
          color: #be4124
          padding: 0 3px
          text-decoration: underline
          
          &:hover
            background: #be4124
            +border_radius(3)
            +box_shadow(0 0 15px #ccc)
            color: #fff
            text-decoration: none
          
          &.comment
            background: #999
            +box_shadow(none)
            height: 20px
            padding: 0
            position: absolute
            right: 10px
            text-indent: -500em
            top: 10px
            +transition(background .2s linear)
            width: 20px
            
            &:after
              background: image-url('main/icon-comment.png') 0 0 no-repeat
              content: ''
              height: 30px
              left: -5px
              position: absolute
              top: -5px
              width: 30px
              z-index: 2
            
            &:hover
              background: #2d7cb4
              +transition(background .1s linear)
        
        &:last-child
          background: image-url('bar/bg.png') top center repeat-x #3d2753
          +border_radius(0,0,5,5)
          color: #a89db5
          font-size: 13px
          padding: 10px
          
          strong
            color: #fff
            font-family: DinMedium, sans
          
          a
            color: #fff
            font-family: DinMedium, sans
            
            &:hover
              +box_shadow(0 0 5px #000)
          
          .meta
            float: right
            
            strong
              color: inherit