body
  background: image-url('main/bg.png') 0 70px repeat-x #fff
  font-family: DinLight, sans
  
  strong
    font-family: DinMedium, sans

#pitch
  font-size: 18px
  margin: 25px auto 0
  width: 960px
  text-align: left
  
  a
    color: #be4124
    text-decoration: underline
    
    &:hover
      color: #e62b00
  
#content
  background: image-url('main/block.png') top center no-repeat
  margin: 25px 0 0
  min-height: 450px