%h2
  %font{ color: '#333' }= "Hello #{@resource.is_a?(User) ? @resource.display_name : @resource.email}!"
%p
  Your new Tabard&trade; Admin account has been created.
%p
  Before you start,
  %strong= (link_to 'set your password here', edit_password_url(@resource, reset_password_token: @resource.reset_password_token, subdomain: "secure"), style: 'color: #BE4124') + '.'
  Once your password is set, you will be able to login.
%p
  = image_tag(@resource.google_authenticator_qrcode_url, :alt => 'Google Authenticator QRCode')