- # TODO Doug, This needs to be updated with the message for a new admin user setup message.
%p
  Hello #{@resource.email}!
%p A Crumblin Admin has created an Admin account for you.
%p= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p You can not login till set your password.