%p
  %strong= "Hello #{@resource.is_a?(User) ? @resource.display_name : @resource.email}!"
%p Your password has been changed! If you made this change then you can ignore this email. Otherwise You GOT HAXED!