%h2
  %font{ color: '#333' }= "Hello #{@resource.is_a?(User) ? @resource.display_name : @resource.email}!"
%p This is a notification that your Tabard account password has been changed. If you changed your password you can ignore this email. If not please use the password reset feature to change your password.