%h2
  %font{ color: '#333' }= "Hello #{@resource.is_a?(User) ? @resource.display_name : @resource.email}!"
%p A request has been made to change your password. To complete the request, follow the link below.
%p
  %strong= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @resource.reset_password_token, protocol: (Rails.env.development? ? "http://" : "https://")), style: 'color: #BE4124'
%p If you did not make this request, please ignore this email.
%p Your password won't change until you access the link above and create a new one.