%p
  %strong= "Hello #{@resource.display_name}!"
%p
  An admin has reset your password.
%p
  You will need to
  = (link_to 'change your password here', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)) + '.', :style => 'color: #BE4124'
  Once your password is set, you will be able to login.