- # TODO Doug, This needs to be updated with the message for all Crumblin passwords being reset by the admin.
%p
  Hello #{@resource.email}!
%p A Crumblin Admin has reset your password. You can change your password using the following link.
%p= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p You will not be able to login till you change your password.
