<%= div_for text_question do %>
  <h3>
    <%= text_question.content %> 
      <span class='actions'>
      	<%= link_to( 'Edit', edit_text_question_path(text_question)) %>
        <%= link_to( 'Delete', text_question, :confirm => 'Are you sure?', :method => :delete) %>
      </span>
  </h3>
<% end %>