= form_for(@teamspeak) do |f|
  - if @teamspeak.errors.any?
    #error_explanation
      %h2
        = pluralize(@teamspeak.errors.count, "error")
        prohibited this teamspeak from being saved:
      %ul
        - @teamspeak.errors.full_messages.each do |msg|
          %li= msg
  .actions
    = f.submit
