%h1 Listing teamspeaks
%table
  %tr
    %th
    %th
    %th
  - @teamspeaks.each do |teamspeak|
    %tr
      %td= link_to 'Show', teamspeak
      %td= link_to 'Edit', edit_teamspeak_path(teamspeak)
      %td= link_to 'Destroy', teamspeak, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Teamspeak', new_teamspeak_path
