%h1 Listing pages
%table
  %tr
    %th Title
    %th
    %th
    %th
  - @pages.each do |page|
    %tr
      %td= link_to( 'Show', page)
      %td= (logged_in? and current_user.can_update(page)) ? link_to( 'Edit', edit_page_path(page)) : "No Edit Permissions"
      %td= (logged_in? and current_user.can_delete(page)) ? link_to( 'Delete', page, :confirm => 'Are you sure?', :method => :delete) : "No Delete Permissions"
%br/
= (logged_in? and current_user.can_create("Page")) ? link_to( 'New Page', new_page_path) : "No Create Permissions"
