%fieldset
  %ol
    - if not f.object.persisted?
      = f.input :name
    = f.input :slogan
    = f.input :is_accepting_members, :label => "Accepting New Members"
    = f.input :email_notice_on_application