- percent = number_to_percentage 100.0 * community.current_number_of_users / (community.max_number_of_users), precision: 1
- max = pluralize(community.max_number_of_users, 'Member', 'Members')+' Max'
= render 'shared/percentage_bar', min: '0 Members', max: max, percent: percent, value: community.current_number_of_users