- title "New Community"

#body
  %h1 Create a community

  = simple_form_for @community, :html => {:novalidate => true} do |f|
    %fieldset
      %ol
        = f.input :name, :hint => 'This can never be changed.', :input_html => { :maxlength => Community::MAX_NAME_LENGTH }
        = f.input :slogan, :input_html => { :maxlength => Community::MAX_SLOGAN_LENGTH }
      %p
        %button{ :type => 'submit' } Create Community