- title "New Community"

#body
  %h1 Create a community

  = simple_form_for @community, :html => {:novalidate => true} do |f|
    = render 'fields', :f => f
    %p.submit
      = f.button :submit, 'Create Community'