%fieldset
  %ol
    = f.input :name, :label => 'Name'
    = f.input :supported_game_id, :label => 'Game', :collection => current_community.supported_games.collect { |c| c = [c.full_name, c.id]}, :as => :select, :wrapper_html => { :class => 'select' }