%p#bcrumb
  = link_to 'Discussion Spaces', discussion_spaces_path
  = link_to @discussion_space.name, @discussion_space
  %span Edit
  
%h1= 'Editing "' + @discussion_space.name + '"'

= render :partial => 'form', :locals => {:button_text => "Save"}