@import mixins

#content
  background: transparent
  bottom: 0
  left: 0
  margin: 0
  min-height: 580px
  min-width: 980px
  position: absolute
  right: 0
  top: 70px

#flash + #content
  top: 110px

#homebox
  left: 50%
  margin: -260px 0 0 -480px
  padding: 20px 0
  position: absolute
  text-align: left
  top: 50%
  width: 960px
  
  h1,
  h2,
  p.subtext
    overflow: hidden
    padding: 0
    text-shadow: 0 1px 1px #fff
  h1,
  h2
    color: #5a3971
    font-size: 35px
    height: 40px
    line-height: 40px
  p.subtext
    color: #7e93a2
    font-size: 18px
    height: 20px
    line-height: 20px
  
  .slideshow
    position: relative
    width: 620px
    ul
      background: #ccc
      height: 360px
      left: 0
      margin: 20px 0 0
      padding: 0
      position: relative
      width: 620px
      li
        height: 360px
        left: 0
        +opacity(0)
        position: absolute
        top: 0
        +transition(opacity 1s linear)
        width: 620px
        img
          display: block
          height: 360px
          left: 0
          +opacity(0)
          position: absolute
          top: 0
          +transition(opacity 1s linear)
          width: 620px
          z-index: 1
        p
          background: #000
          bottom: 0
          color: #bbb
          height: 55px
          left: 0
          line-height: 55px
          +opacity(0)
          padding: 0 100px 0 25px
          position: absolute
          right: 0
          z-index: 2
      li.current
        +opacity(1)
        +transition(none)
        img
          +opacity(1)
        p
          +opacity(.8)
    .nav
      bottom: 15px
      height: 10px
      line-height: 10px
      margin: -3px
      padding: 10px 0
      position: absolute
      right: 25px
      z-index: 4
      a
        background: #777
        +border_radius(5)
        display: block
        float: left
        height: 10px
        margin: 0 0 0 7px
        +transition(background .4s linear)
        width: 10px
        &:hover
          background: #D3562D
          +transition(none)
        &.current
          background: #fff
          cursor: default
  
  form
    bottom: 0
    font-size: 13px
    margin: 20px 0
    position: absolute
    right: 0
    top: 0
    width: 320px
    fieldset
      background: #ccc
      bottom: 0
      height: 350px
      padding: 10px 0 0
      position: absolute
      width: 320px
      >ol > li
        padding: 5px 15px 0
        input[type="text"],
        input[type="email"],
        input[type="password"]
          background: #eee
          border: 1px solid #aaa
          display: block
          padding: 7px 10px
          width: 268px
          &:focus
            background: #fff
            border-color: #5189A9
        //#user_gamer_tag,
        #user_password
          width: 148px
        input:-moz-placeholder
          color: #aaa
        input::-webkit-input-placeholder
          color: #aaa
        .hint
          font-size: 11px
          &:before
            content: '\27A5\00A0'
      .select
        background: #eee
        border: 1px solid #aaa
        float: left
        margin: 5px -10px 0 15px
        padding: 7px 10px
        position: relative
        z-index: 3
        &:before
          content: attr(data-placeholder)
          color: #aaa
        &:after
          border: 5px solid transparent
          border-top-color: #aaa
          content: ''
          position: absolute
          right: 7px
          top: 12px
          z-index: 1
        ul
          background: transparent
          border: 1px solid transparent
          border-top: 0
          bottom: 2px
          left: -1px
          max-height: 182px
          overflow: hidden
          position: absolute
          right: -1px
          top: 2px
          z-index: 2
          >li
            text-overflow: ellipsis
            position: relative
            input
              left: -500em
              position: absolute
            label
              border-top: 1px solid #ccc
              display: none
              padding: 5px 10px
              &:hover
                background: #5C98B9
                +bg_gradient(#6AA6C8,#5189A9)
                border-top-color: #5189A9
                color: #fff
                text-shadow: 0 -1px 1px #22506b
            input:checked + label
              background: #eee
              border-top: 0
              color: #666
              cursor: default
              display: block
              left: 0
              position: absolute
              right: 20px
              top: 0
              text-shadow: 0 1px 1px #fff
        &:hover ul
          background: #fff
          border-color: #aaa
          bottom: auto
          +box_shadow(0 0 5px rgba(0,0,0,.2))
          overflow: scroll
          overflow-x: hidden
          top: 100%
          >li label
            display: block
          >li:first-child label
            border-top-width: 0 !important
          >li input:checked + label
            border-top: 1px solid #ccc
            color: #999
            position: static
      .month
        width: 108px
      .day
        width: 43px
      .year
        width: 63px
      p.help
        clear: both
        cursor: pointer
        font-size: 12px
        line-height: 16px
        padding: 5px 15px 0
        text-decoration: underline
        &:hover
          color: #000
      p.terms
        bottom: 65px
        font-size: 12px
        left: 15px
        line-height: 16px
        overflow: hidden
        position: absolute
        right: 15px
        a
          color: #000
          text-decoration: underline
        input
          left: -500em
          position: absolute
        label
          display: block
          padding: 0 0 0 30px
        label:before
          background: #eee
          border: 1px solid #aaa
          color: #5587A7
          content: ''
          font: 20px Picara
          height: 20px
          left: 0
          line-height: 18px
          position: absolute
          text-align: center
          top: 0
          width: 20px
        label:hover:before
          background: #fff
          border-color: #5488A8
          color: #BD4028
        input:checked + label:before
          content: '\F000'
      p.submit
        background: #7f93a2
        border-top: 1px solid #657c8e
        bottom: 0
        height: 54px
        line-height: 55px
        position: absolute
        width: 320px
        button
          border: 0
          height: 35px
          line-height: 35px
          margin: 0
          position: absolute
          right: 10px
          top: 10px