@import mixins

body:not(.qstring)
  #content
    background: transparent
    h1
      display: none
    #body #searchbox
      +box_shadow(0 0 100px #999)
      left: 50%
      margin: -10px 0 0 -250px
      position: fixed
      top: 50%
      width: 500px
      #search
        width: 370px
      button
        width: 80px
    footer
      bottom: 0
      left: 0
      margin: 0
      position: fixed
      right: 0
      width: auto
      &:before
        display: none

#body
  ol.results
    li
      clear: both
      margin: 0
      padding: 0 0 30px
      position: relative
      &:before
        display: none !important
      &:after
        content: '.'
        clear: both
        display: block
        height: 0
        visibility: hidden
      h3
        color: #251533
        font-size: 16px
        margin-left: -2px
        padding: 0 0 10px
      q
        font-size: 14px
      &.user_profile,
      &.character_proxy
        >a
          background: transparent !important
          +box_shadow(0 0 10px rgba(#000,.2))
          +border_radius(0)
          display: block
          float: left
          height: 42px
          margin: 0 5px 0 0
          padding: 0
          +transition(box-shadow .2s linear)
          width: 42px
          img
            border: 1px solid #fff
            display: block
            float: left
            height: 40px
            width: 40px
          &:hover
            +box_shadow(0 0 15px rgba(#000,.3))
        .communities
          display: block
          a
            background: #e3e3e3
            color: #666
            font-size: 12px
            text-decoration: none
            &:hover
              background: #BE4124
              color: #fff
      &.user_profile + .character_proxy
        margin-top: -10px
      &.character_proxy
        padding: 0 0 20px 40px
        &:before
          border: 1px dotted #ccc
          border-right: 0
          border-top: 0
          display: block !important
          height: 25px
          content: ''
          left: 18px
          position: absolute
          top: -18px
          width: 7px
        + .character_proxy:before
          top: -83px
          height: 90px
      &.community
        q
          display: block
          margin: -5px 0 0