@import mixins
@import application/reset
@import application/core
@import application/bar

body
  background: image-url('main/bg.png') 50% 71px repeat-x #fff
  color: #777
  min-width: 980px
  padding: 70px 0 0

  em
    font-style: italic
  
  strong
    color: #000
    
  strong.omg
    color: #A33C33
    text-transform: uppercase
  
  .alignleft
    clear: left
    float: left
    margin: 0 10px 10px 0
  
  .alignright
    clear: right
    float: right
    margin: 0 0 10px 10px
  
  img.alignleft,
  img.alignright
    +border_radius(3)
  
  hr
    border-top: 1px solid #ccc
    margin: 15px 0
    visibility: visible
  
button,
.button,
#body button,
#body .button
  background: #A23826
  +bg_gradient(#d24723,#792b28)
  color: #f8d5bb
  &.read span:before
    content: '\F107'
  &:focus,
  &:hover
    background: #BE4931
    +bg_gradient(#e05c2e,#9e3834)
    +box_shadow(0 0 10px rgba(#000,.2))
    color: #fff

#content
  background: image-url('application/block.png') top center no-repeat
  position: relative
  margin: 20px 0 0
  min-height: 310px
  z-index: 2
  
#submenu
  line-height: 30px
  position: absolute
  top: 0
  right: 0
  z-index: 2
  a
    background: #999
    +border_radius(2)
    color: #fff !important
    display: block
    float: left
    font-family: inherit
    font-size: 13px
    height: 20px
    line-height: 20px
    margin: 0 0 0 5px
    padding: 0 10px
    text-decoration: none !important
    text-shadow: 0 1px 1px #666
    &:hover,
    &:focus
      background: #333
    &.current
      background: #ccc
      cursor: default
  
body.index.communities #submenu .all,
body.index.wows #submenu .wow,
body.index.swtors #submenu .swtor,
body.index.minecrafts #submenu .minecraft
  background: #999
  color: #fff
  cursor: default
  padding: 0 6px
  text-decoration: none

#body
  left: 50%
  line-height: 20px
  margin: 40px 0 0 -450px
  padding: 0 0 135px
  position: absolute
  text-align: left
  width: 900px
  
  a:not(.button)
    +border_radius(2)
    color: #3E7797
    text-decoration: underline
    &:hover
      color: #AA391F
  
  h1
    color: #5a3971
    font-size: 35px
    letter-spacing: -1px
    line-height: 40px
    padding: 0 0 15px
    text-shadow: 0 1px 1px #fff
  
  h2
    color: #367BB1
    font-size: 24px
    line-height: 28px
    padding: 20px 0 10px 0
    &:first-child
      padding-top: 0
    
  h3
    color: #367BB1
    font-size: 18px
    padding: 20px 0 10px 0
    line-height: 20px
    &:first-child
      padding-top: 0

  p
    padding: 10px 0
  
  blockquote
    background: #ddd
    +bg_gradient(#eeeeee,#dddddd)
    border: 1px solid #ccc
    +border_radius(3)
    margin: 10px 0
    padding: 5px 20px
    
  ol
    padding: 15px 0
    
    li
      counter-increment: li
      margin: 0 20px
      position: relative
      
      &:before
        +border_radius(2)
        content: counter(li)
        color: #227FB5
        font-size: 11px
        height: 15px
        line-height: 15px
        left: -40px
        padding: 0 3px
        position: absolute
        text-align: right
        top: 2px
        width: 30px
  
  ul
    padding: 15px 0
    
    li
      margin: 0 20px
      position: relative
      
      &:before
        border-bottom: 4px solid transparent
        border-left: 4px solid #ccc
        border-top: 4px solid transparent
        content: ''
        height: 0
        left: -10px
        position: absolute
        top: 7px
        width: 0
    
  li > p
    padding: 10px 0 0
    
    &:first-child,
    &:only-child
      padding-top: 0
  
  li > blockquote
    margin: 10px 0 0
    
    &:first-child,
    &:only-child
      margin-top: 0
  
  
  // Forms
  
  label
    color: #000
    font-size: 16px
  li label + h2
    padding: 5px 0 0
    + dfn.hint
      padding-top: 0
  
  input[type="url"],
  input[type="email"],
  input[type="text"],
  input[type="password"],
  textarea
    background: #eee
    +bg_gradient(#dddddd,#eeeeee)
    +box_shadow(0 0 3px rgba(#000,.2))
    border-color: #fff
    
    &:focus
      background: #d7eaf8
      +box_shadow(0 0 8px #2d7cb4)
      +bg_gradient(#f2f8fd,#d7eaf8)
      color: #333
  
  textarea
    height: 200px
      
  input[type="checkbox"],
  input[type="radio"]
    
    + label:before
      background: #eee
      +bg_gradient(#dddddd,#eeeeee)
      border-color: #fff
      +box_shadow(0 0 3px #ddd)
    
    &:focus + label:before
      background: #d7eaf8
      +box_shadow(0 0 8px #2d7cb4)
      +bg_gradient(#f2f8fd,#d7eaf8)
    
    &:checked

      + label:after
        background: #ddd
        +bg_gradient(#7a569e,#51346e)
        border-color: #ddd
        +box_shadow(0 0 9px #999)
      
      &:focus + label,
      &:hover + label,
      + label:hover
              
        &:after
          background: #A03A31
          +bg_gradient(#CD462A,#A03932)
  
  .select
    background: #eee
    +bg_gradient(#dddddd,#eeeeee)
    border-color: #fff
    +box_shadow(0 0 3px rgba(#000,.2))
    &:before
      color: #aaa
    &:after
      border-top-color: #aaa
    ul > li
      &.warn label
        color: #AA381D
      label
        border-top-color: #ddd
        color: #666
        .avatar
          background: #C7B2A3
          border-color: #fff
          +box_shadow(0 0 5px rgba(#000,.2))
        &:hover
          background: #5C98B9
          +bg_gradient(#6AA6C8,#5189A9)
          border-top-color: #5189A9
          color: #fff
          text-shadow: 0 -1px 1px #22506b
      input:checked + label
        background: #eee
        +bg_gradient(#dddddd,#eeeeee)
        color: #666
        text-shadow: 0 1px 1px #fff
    &:hover ul
      background: #fff
      border-color: #fff
      +box_shadow(0 0 5px rgba(0,0,0,.2), 0 5px 10px -5px rgba(0,0,0,.5) inset)
      >li input:checked + label
        border-top-color: #ccc
        color: #999
  
  fieldset
    
    h1
      padding-top: 30px
  
    .help
      clear: both
      cursor: pointer
      display: inline-block
      font-size: 13px
      margin: 0 0 10px
      padding: 0
      text-decoration: underline
      &:hover
        color: #AA391F
    
    .terms
      background: #c9d6df
      +border_radius(3)
      clear: both
      margin: 10px 0
      padding: 15px 20px
      &.with-errors
        border: 1px solid #A93720
        mark.error
          +border_radius(0,0,3,3)
          display: block
          margin: 10px -20px -15px
          padding: 5px 10px
      label
        color: #333
        display: block
        font-size: 13px
        line-height: 15px
        padding: 0 0 0 40px
        text-indent: 0
  
  // Tables
  
  table
    +border_radius(3)
    margin: 0 0 15px
    
    td,
    tr
      
      &.pitch p
        border-left: 1px solid #ccc
        font-size: 14px
        margin: 0
        padding: 10px 0 10px 15px
        width: 400px !important
  
    thead
      text-align: left
    
      th
        background: #2d7cb4
        +bg_gradient(#4192cb,#1c679c)
        border-bottom: 1px solid #fff
        color: #fff
        padding: 10px
        text-align: left
        white-space: nowrap
        
        h2, h3
          color: #fff
          padding: 0
        
        a
          color: #fff !important
          white-space: nowrap
          
          &:hover
            background: #A13A30 !important
        
        &:first-child
          +border_radius(3,0,0,0)
        
        &:last-child
          +border_radius(0,3,0,0)
        
        &:only-child
          +border_radius(3,3,0,0)
        
        &.check a
          background: transparent !important
          border: none
          padding: 0 3px !important
          text-decoration: none
          &:before
            content: '\F000'
            font: 2em Picara
          &:hover
            background: #A13A30 !important
        
        a.sortable
          
          &.current
            background: #1a4e73 !important
            border: 1px solid #4A99D0
            padding: 0 7px !important
            text-decoration: none !important
          
          &.asc:after
            content: ' \2193'
          
          &.desc:after
            content: ' \2191'
          
          &:hover
            background: #A13A30 !important
  
    tbody

      tr th
        background: #bbb
        +bg_gradient(#cccccc,#aaaaaa)
        border-bottom: 1px solid #999
        border-right: 1px solid #999
        border-top: 1px solid #fff
        padding: 5px 10px
      
      tr td
        background: #eee
        border-bottom: 1px solid #ddd
        border-top: 1px solid #fff
        padding: 5px 10px
        width: 100%
      
      tr:nth-child(even) td
        background: #fff

      tr td
        
        &.check
          border-right: 1px #ccc solid
          padding: 5px 32px 5px 5px
          text-align: center
          width: 0
          
          label
            position: absolute
            
            &:before
              +box_shadow(0 0 10px rgba(#000,.3))
      
        &.compact
          padding: 5px 10px
          text-align: center
          width: 0
        
        &.actions
          padding: 5px
          white-space: nowrap
          div
            position: relative
            a
              background: #aaa
              +border_radius(3)
              display: block
              float: left
              height: 30px
              padding: 0
              position: relative
              margin: 0 0 0 5px
              text-indent: -500em
              +transition(background-color .2s linear, box-shadow .2s linear)
              width: 30px
              &:after
                color: #fff
                display: block
                font: 30px Picara
                height: 30px
                left: 0
                line-height: 25px
                +opacity(.99)
                position: absolute
                text-align: center
                text-indent: 0
                text-shadow: 0 -1px 1px #666
                top: 0
                width: 30px
              &.apply:after
                content: '\F30B'
              &.close:after
                content: '\F001'
              &.comment:after
                content: '\F201'
              &.delete:after
                content: '\F103'
              &.edit:after
                content: '\F007'
              &.statement:after
                content: '\F30A'
              &.recruit:after
                content: '\F30B'
              &.remove:after
                content: '\F001'
              &.upgrade:after
                content: '\F202'
              &.view:after
                content: '\F003'
              &:hover
                background: #222
                &[meta]:before
                  background: rgba(#251634,.8)
                  +border_radius(3)
                  color: #fff
                  content: attr(meta)
                  font-size: 13px
                  height: 30px
                  line-height: 30px
                  margin: 0 5px 0 0
                  padding: 0 10px
                  position: absolute
                  right: 100%
                  text-indent: 0
                  white-space: nowrap
        
        a
          white-space: nowrap
          
        time
          display: block
          font-size: 12px
          white-space: nowrap
        
        h3
          padding: 0 15px 0 0
        
        ol,
        ul
          padding-bottom: 0
          padding-top: 0

      tr.heading th,
      tr.heading td
        background: #b7d1e4
        border: 0
        border-bottom: 3px solid #8cb5d2
        color: #000
        padding-top: 30px
        h3
          color: #000
          padding: 0

      tr.subtotal th,
      tr.subtotal td
        background: #ccc
        border-bottom: 3px solid #000
        color: #000
      
      &.read
      
        td,
        th
          +bg_gradient(#dddddd,#cccccc)
          border-bottom-color: #bbb
          
          &.check
            border-right-color: #bbb
          
          a
            color: #261232
            
            &:hover
              background: #BD4028
              color: #fff
    
      &.unread
      
        td,
        th
          +bg_gradient(#ffffff,#eeeeee)
      
      &.private h3 a
        color: #666
    
    tfoot
    
      td
        background: #2B2B2B
        border-top: 8px solid #000
        color: #ddd
        line-height: 30px
        padding: 10px
        position: relative
        
        &:first-child
          +border_radius(0,0,0,3)
        
        &:last-child
          +border_radius(0,0,3,0)
        
        &:only-child
          +border_radius(0,0,3,3)
        
        button:hover,
        .button:hover
          +box_shadow(0 0 10px #000)
        
        h2, h3
          color: #fff
          padding: 0
    
    + table
      margin-top: 30px
  
  .sidelinks
    border-left: 1px solid #ccc
    padding: 20px 30px
    position: absolute
    right: 30px
    top: 60px
    width: 340px
  
  .document
    background: #eee
    +bg_gradient(#eeeeee,#f9f9f9)
    border: 1px solid #fff
    +border_radius(3)
    +box_shadow(0 0 3px rgba(#000,.2))
    margin: 0 0 20px
    padding: 0 0 30px
    width: 900px
    
    &.plain
      background: transparent
      border: 0
      +box_shadow(none)
      margin: -10px -20px
    
    h1,
    h2,
    h3
      color: #251533
      font-size: 24px
      padding: 20px 20px 0
    
    .alignleft,
    .alignright
      clear: none
    
    p,
    ol,
    ul,
    li,
    blockquote
      clear: both
    
    img.alignleft
      display: block
      margin: 10px 30px 20px 0
    
    img.alignright
      display: block
      margin: 10px 0 20px 30px
    
    p
      padding: 20px 20px 0
    
    ol,
    ul
      padding: 20px 40px 0
      
    ol li
      margin-top: 20px
      
      &:first-child
        margin-top: 0
    
    blockquote
      margin: 20px 20px 0
      
      p
        padding: 15px 0
    
    li > p
      padding: 10px 0 0
      
      &:first-child,
      &:only-child
        padding-top: 0
    
    li > blockquote
      margin: 10px 0 0
      
      &:first-child,
      &:only-child
        margin-top: 0
    
    .scroll
      +bg_gradient(#dddddd,#ffffff)
      +border_radius(3,3,0,0)
      margin: 0 0 -40px
      overflow: scroll
      overflow-x: hidden
      padding: 10px 0 30px
  
    .accept
      background: #ccc
      +bg_gradient(#bbbbbb,#dddddd)
      +border_radius(0,0,3,3)
      border-top: 1px solid #999
      height: 26px
      margin: 40px 0 -30px
      padding: 10px
      position: relative
      
      &:before
        border-bottom: 1px solid #999
        +bg_gradient(rgba(#eee,0),rgba(#999,.5))
        content: ''
        height: 20px
        left: 0
        pointer-events: none
        position: absolute
        right: 0
        top: -21px
      
      label,
      button
        float: left
      
      button
        margin: -3px 0 0 20px
      
      mark
        background: #A43D33
        +border_radius(3)
        color: #fff
        float: right
        padding: 3px 6px
  
    + dfn.hint
      margin: -20px 0 20px
  
  fieldset
  
    h1,
    h2,
    h3
      clear: both
    
  form > p.accept,
  fieldset > p.accept
    background: #ccc
    +bg_gradient(#bbbbbb,#dddddd)
    +border_radius(3)
    margin: 10px 0 20px
    padding: 10px 10px 10px 45px
    position: relative
    
    label
      text-indent: 0
    
    input,
    label:before,
    label:after
      margin-left: -35px
    
  p.submit
    +bg_gradient(#eeeeee,#ffffff)
    border-top: 1px solid #ccc
    +border_radius(3,3,0,0)
    +box_shadow(0 -5px 5px rgba(#000,.1))
    margin: 30px 0
    padding: 20px
    position: relative
    
    &.busy
      
      &:before
        background: image-url('application/busy.gif') center center no-repeat
        content: ''
        height: 30px
        left: 0
        position: absolute
        right: 0
        top: 0
      
      .button
        visibility: hidden
    
    .secondary
      display: block
      float: right
      font-size: 13px
      line-height: 30px
      padding: 0 10px
  
  .col2
    
    &:after
      clear: both
      content: '.'
      display: block
      height: 0
      visibility: hidden  
  
    .col,
    article
      float: left
      width: 432px
      
      &:first-of-type
        margin-right: 36px
      
      >ul li
        font-size: 14px
        line-height: 15px
        margin-bottom: 10px
  
  .col3
    padding: 35px 0 0
    margin: 0 auto
    width: 960px
    
    &:after
      clear: both
      content: '.'
      display: block
      height: 0
      visibility: hidden
    
    .col,
    article
      background: #fff
      +border_radius(3,3,0,0)
      +box_shadow(0 -5px 5px rgba(#000,.1))
      float: left
      height: 100%
      margin: 0 15px
      padding: 10px 35px 35px
      width: 230px
      
      &:first-child
        margin-left: 0
      
      &:last-child
        margin-right: 0
      
      h2
        font-size: 20px
        line-height: 23px
        position: relative
        mark
          background: #367BB1
          +border_radius(10)
          color: #fff
          font-size: 12px
          height: 20px
          line-height: 20px
          padding: 0 5px
          position: absolute
          right: -25px
          top: 0
      
      .imglink
        background: transparent
        display: block
        height: 120px
        overflow: hidden
        padding: 0
        width: 230px
        
        img
          background: #000
          display: block
          margin: -27px 1px
          
      img.icon
        height: 48px
        margin: 10px 10px 0 -10px
        width: 48px
  
  #searchbox
    background: #51425B
    button
      margin: 0 0 10px

.status_code #body

  .col3 article
    width: 210px
  
  .browsers article
    background: #eee
    +bg_gradient(#eeeeee,#ffffff)
    border-top: 1px solid #ccc
    text-align: center
    
    > h2
      font-size: 30px
      height: 60px
      padding-bottom: 0
    
      span
        display: block
        font-size: 15px
    
    > dfn
      display: block
    
    > a
      background: transparent
      display: block
      margin: 10px 0
      padding: 10px
      
      img
        display: block
        margin: 0 auto
      
      &:hover
        background: #ccc

body.features,
body.intro,
body.pricing
  #content
    background: transparent
  #body
    left: auto
    margin: 0 auto
    position: relative
    width: 960px
    h1
      padding-top: 40px

body.pricing
  #body .col3
    padding-top: 10px
    article.basic:before
      right: -30px
    article.upgrade:before
      left: -30px
    h2
      padding-top: 20px
  .price
    border-bottom: 1px solid #ccc
    height: 60px
    margin: 10px 0
    em,
    strong
      display: block
      float: left
      height: 50px
      line-height: 50px
      padding: 0 10px
      text-align: center
    em
      font-size: 14px
    strong
      background: #5A3971
      +border_radius(30)
      color: #fff
      font-size: 30px
      min-width: 40px

body.registrations #new_user
  .password
    input
      width: 269px
    mark.error
      width: 271px
  .selects
    height: 50px
    &.with-errors
      height: 74px
    .select
      position: absolute
      top: 34px
    .month
      left: 0
    .day
      left: 132px
    .year
      left: 209px
    mark.error
      +border_radius(3)
      bottom: 0
      position: absolute

body.sessions

  #content
    background: transparent
  
  #body
    background: #6a5c73
    +border_radius(3)
    +box_shadow(0 0 30px #999)
    color: #C0DAEB
    margin: -130px 0 0 -200px
    overflow: hidden
    padding: 30px
    position: fixed
    top: 50%
    +transition(border .3s linear)
    width: 340px
    z-index: 2
    h1
      color: #fff
      font-size: 30px
      padding: 0
      text-shadow: 0 -2px 1px #000
    form
      width: auto
      fieldset li
        clear: none
        min-height: 32px
        padding: 5px 0 0
      input
        color: #444
        width: 318px
        &:-moz-placeholder
          color: #aaa
        &::-webkit-input-placeholder
          color: #aaa
      .boolean
        float: left
        margin-top: 3px
        input,
        label
          width: auto
        label
          color: #fff
          float: left
          text-shadow: 0 -1px 1px #000
      input,
      .boolean label:before
        +box_shadow(0 0 5px #000 !important)
      .submit
        float: right
      button
        +box_shadow(0 0 5px #504758)
        margin: 5px 0 0
      p.help
        clear: both
        padding: 10px 0 0
        text-align: right
        a
          background: transparent
          color: #ccc1d4
          font-size: 13px
          text-decoration: underline
          text-shadow: 0 -1px 1px #504758
          &:hover
            color: #fff
    div.help
      background: #fff
      +border_radius(2)
      bottom: 0
      left: 400px
      padding: 30px
      position: absolute
      top: 0
      +transition(left .3s linear)
      z-index: 3
      width: 340px
      h1
        color: #5a3971
        padding: 0 0 20px
        text-shadow: 1px 1px 1px #fff
      a.close
        background: #aaa
        +border_radius(3)
        height: 30px
        overflow: hidden
        padding: 0
        position: absolute
        right: 10px
        text-indent: -500em
        top: 10px
        width: 30px
        &:before
          color: #fff
          content: '\F001'
          height: 30px
          font: 2.5em Picara
          left: 0
          line-height: 25px
          position: absolute
          text-align: center
          text-indent: 0
          text-shadow: 0 -1px 1px #666
          top: 0
          width: 30px
        &:hover
          background-color: #BF4220
          color: #fff
      .sidelinks
        border: 0
        padding: 0
        position: static
        li:before
          border-left-color: #aaa
        li:first-child
          display: none
    &.with-help div.help
      left: 0
    
  #footer
    bottom: 0
    position: fixed
    z-index: 1

form.new_user,
form.new_user_profile,
form.new_character,
form.edit_user,
form.edit_user_profile,
form.edit_character
  width: 432px


// PERCENTAGE BAR

.percentage
  background: #eee
  border-color: #ccc
  +box_shadow(0 5px 10px rgba(0,0,0,.3) inset)
  .value
    background: #0F81B6
    border-color: #0085B9
    +box_shadow(0 5px 10px #5CB9DC inset)
    color: #fff
    text-shadow: 0 -1px 1px #000


// JQUERY UI

.ui-autocomplete
  background: #D7EAF8
  border: 1px solid #fff
  border-top: 0
  +border_radius(0,0,3,3)
  color: #09558a
  font-size: 13px
  padding: 4px 6px
  text-align: left
  li
    position: relative
    a
      +border_radius(2)
      display: block
      height: 20px
      line-height: 20px
      margin: 2px 0
      padding: 0 4px
      &.ui-state-hover,
      &.ui-state-focus
        background: #3679B3
        color: #fff
        *
          color: #fff
  li.with-avatar,
  &.with-avatars li
    background: image-url('application/avatar@20.png') 0 0 no-repeat
    a
      margin-left: 25px
      img
        left: 0
        position: absolute
        top: 0

blockquote.card-on-file img
  float: left
  margin: -14px 15px 0 -9px

#invoice
  .heading .button
    float: left
    font-size: 13px
    height: 20px
    line-height: 20px !important
    margin: -2px 10px 0 0
    padding: 0 10px


@import application/footer

#footer
  color: #999 !important
  a
    background: transparent !important
    color: #999 !important
    &:hover
      background: transparent !important
      color: #BE4124 !important
      text-decoration: underline !important