@import mixins

html,
body
  height: 100%
  overflow: hidden
  
#bar

  &:before
    +bg_gradient(rgba(#000,.5),rgba(#000,0))
  
  .logo
    left: 10px
    margin: 0
    
#mailboxes
  background: #666
  bottom: 0
  left: 0
  position: fixed
  top: 70px
  width: 80px

#inbox
  background: red
  left: 80px
  position: absolute
  top: 70px
  width: 300px

#message
  background: green
  left: 380px
  overflow: hidden
  position: fixed
  right: 0
  top: 70px