@import mixins

html,
body
  height: 100%
  overflow: hidden
  
#bar
  background-position: 0 0
  min-width: 1px

  &:before
    +bg_gradient(rgba(#000,.5),rgba(#000,0))
    border-top: 1px solid #46335A
  
  &:after
    background-position: -100px 0
  
  .logo
    left: 15px
    margin: 0
  
  >ul.menu
    left: 177px
    margin: 0
  
  >ul.characters
    margin: 0
    right: 70px
  
  a.avatar
    margin: 0
    right: 20px

#mailbox-menu
  background: #444
  +bg_gradient(#555,#333)
  border-right: 1px solid #333
  bottom: 0
  +box_shadow(0 0 10px rgba(#000,.7))
  left: 0
  padding: 0
  position: fixed
  text-align: center
  top: 70px
  width: 59px
  z-index: 5
  
  dt
    border-bottom: 1px solid #000
    color: #999
    font: 13px DinLight, sans
    margin: 0 0 20px
    padding: 10px 0 5px
  
  a,
  button
    background: image-url('application/icons.png') no-repeat #333
    border: 1px solid #333
    +border_radius(30)
    +box_shadow(0 0 15px #888)
    display: block
    height: 30px
    +opacity(.7)
    overflow: hidden
    margin: 0 auto 10px
    padding: 0
    text-decoration: none
    text-indent: -100em
    width: 30px
    +transition(box-shadow .2s linear, border .2s linear)
    
    &:hover
      border: 1px solid #000
      +box_shadow(0 0 20px #ccc)
      +opacity(1)
      
      &[meta]
                
        &:before
          background: #A23B31
          border: 1px solid #CFA893
          +border_radius(5)
          +box_shadow(-5px 0 15px rgba(#000,.7))
          color: #F8D5BB
          content: attr(meta)
          font: 13px DinLight
          height: 30px
          left: 68px
          letter-spacing: 0
          line-height: 30px
          padding: 0 10px
          position: absolute
          text-indent: 0
          text-transform: none
          white-space: nowrap
          z-index: 5
        
        &:after
          border: 5px solid transparent
          border-right: 5px solid #CFA893
          content: ''
          height: 0
          margin: 10px 0
          position: absolute
          right: -9px
          width: 0
          z-index: 6
  
  dd
  
    &.inbox
    
      a,
      button
        background-position: -270px -30px
    
    &.sent
    
      a,
      button
        background-position: -300px -30px
    
    &.trash
    
      a,
      button
        background-position: -240px -30px
  
    &.compose
    
      a,
      button
        background-position: -120px -30px
    
    &.move
    
      a,
      button
        background-position: -210px -30px
    
    &.delete
    
      a,
      button
        background-position: -30px -30px
    
    &.current
    
      a,
      button
        background-color: #2D7CB4
        border-color: #5099cc
        +box_shadow(0 0 20px #ccc)
        +opacity(1)
  
#mailbox
  background: #999
  border-right: 1px solid #fff
  bottom: 0
  +box_shadow(inset -10px 0 10px rgba(#000,.2))
  left: 60px
  overflow: scroll
  overflow-x: hidden
  padding: 12px 0 8px
  position: absolute
  text-align: left
  top: 70px
  width: 320px
  
  >p
    color: #444
    font: 14px DinLight, serif
    padding: 15px
  
  >dl
    
    dt
      color: #fff
      font: 18px DinMedium, serif
      padding: 15px 15px 5px
  
    dd
      background: #eee
      +bg_gradient(#ccc,#fff)
      +border_radius(3)
      border-top: 1px solid #fff
      border-bottom: 1px solid #666
      margin: 0 5px 1px
      padding: 10px 10px 10px 30px
      position: relative
      +transition(box-shadow .2s linear)
      z-index: 2
        
      &:before
        background: #A03B32
        border: 1px solid #fff
        +border_radius(10)
        content: ''
        height: 8px
        left: 9px
        position: absolute
        top: 36px
        width: 8px
      
      &.selected
        +bg_gradient(#dae9f3,#fff)
      
      &.read
      
        &:before
          display: none
      
      &.open
        
        &:before
          background: #2D7CB4
          border: 0
          border-left: 2px solid #CDEAFF
          +border_radius(60,0,0,60)
          +box_shadow(0 0 15px #666)
          color: #CDEAFF
          content: '›'
          display: block
          font-size: 30px
          height: auto
          left: auto
          letter-spacing: 1px
          line-height: 70px
          margin: -36px 0 0
          padding: 0 0 0 5px
          position: absolute
          right: -5px
          text-align: center
          top: 50%
          width: 30px
          z-index: 5
        
        &:after
          bottom: 0
          content: ''
          left: 30px
          position: absolute
          right: 0
          top: 0
          z-index: 4
        
        h3,
        time,
        .author,
        .avatar,
        .body
          +opacity(.3)
      
      time
        color: #A03B32
        font: 12px DinMedium, serif
        position: absolute
        right: 10px
        text-align: right
        top: 10px
        width: 50px
      
      h3
        color: #3f2656
        font: 17px DinMedium, serif
        padding: 0 50px
        
        a:before
          bottom: 0
          content: ''
          left: 30px
          position: absolute
          right: 0
          top: 0
          z-index: 3
      
      .avatar
        background: #999
        border: 1px solid #fff
        +border_radius(5)
        height: 40px
        left: 30px
        position: absolute
        top: 10px
        width: 40px
        z-index: 2
      
      p.meta
        background-color: #bbb
        +bg_gradient(#aaa,#ccc)
        border: 1px solid #aaa
        +border_radius(10)
        height: 16px
        left: 5px
        position: absolute
        text-indent: -100em
        top: 10px
        width: 16px
        z-index: 4
        
        label
          background: transparent
          border: 0
          +border_radius(10)
          height: 14px
          left: 1px
          position: absolute
          top: 1px
          +transition(background .2s linear)
          width: 14px
          
          &:hover
            background: #A23B30
        
        input:checked + label
          background: #3D2454 !important
      
      p.author
        color: #327BB4
        font: 13px DinLight, serif
        padding: 0 0 10px 50px
        
        strong
          font-family: DinMedium, serif
      
      p.body
        color: #666
        font: 13px DinLight, serif
      
      &.sent
        padding-left: 10px
        
        .avatar
          left: 10px
        
      &:hover
        +box_shadow(0 0 50px rgba(#000,.5))
        z-index: 3

#message
  background: image-url('main/bg.png') 0 0 repeat-x #fff
  border-left: 1px solid #fff
  bottom: 0
  +box_shadow(0 0 10px rgba(#000,.7))
  left: 380px
  overflow: scroll
  overflow-x: hidden
  position: fixed
  right: 0
  text-align: left
  top: 70px
  z-index: 4
  
  header
    padding: 5px 0 0
    position: relative
  
    .actions
      background: #bbb
      border: 1px solid #999
      +border_radius(0,0,0,10)
      +box_shadow(0 0 5px rgba(#000,.3))
      border-right: 0
      border-top: 0
      padding: 9px 20px 6px 6px
      position: fixed
      right: 0
      top: 70px
      +transition(padding .1s linear, border .2s linear, box-shadow .2s linear)
      z-index: 6
      
      a
        +bg_gradient(#d24723,#792b28)
        border: 1px solid #aaa
        +border_radius(5)
        color: #f8d5bb
        display: inline-block
        font-size: 13px
        line-height: 22px
        padding: 0 7px
        text-decoration: none
        +transition(border .2s linear, box-shadow .2s linear)
        
        &:hover
          +bg_gradient(#e05c2e,#9e3834)
          border-color: #ccc
          +box_shadow(0 0 10px #aaa)
          color: #fff
      
      &:hover
        border-color: #666
        +box_shadow(0 0 20px rgba(#000,.7))
        padding: 19px 20px 6px 6px
    
    h1
      +bg_gradient(#fff,#eee)
      border-bottom: 1px solid #fff
      color: #2B77AD
      font: 21px DinMedium
      margin: 0
      padding: 10px 20px
      position: relative
        
      &:after
        border-bottom: 1px solid #aaa
        bottom: 0
        content: ''
        left: 0
        position: absolute
        right: 0
    
    h2
      background: #eee
      border-bottom: 1px solid #fff
      color: #644b83
      font: 13px DinLight
      margin: 0
      padding: 7px 20px 7px 17px
      position: relative
      
      &:after
        border-bottom: 1px solid #aaa
        bottom: 0
        content: ''
        left: 0
        position: absolute
        right: 0
      
      a
        +border-radius(3)
        color: #A33C32
        font: 14px DinMedium
        padding: 0 3px
        
        &:hover
          background: #A33C32
          color: #fff
      
      time
        color: #A33C32
        font: 14px DinMedium
    
    dl
      background: #eee
      border-bottom: 1px solid #888
      +border_radius(0,0,10,10)
      +box_shadow(0 0 15px #999)
      padding: 7px 20px 7px 17px
      
      dt,
      dd
        color: #644b83
        display: inline
        font: 14px DinLight
              
        a
          +bg_gradient(#ccc,#ddd)
          border: 1px solid #ccc
          +border-radius(3)
          color: #644b83
          font: 13px DinMedium
          padding: 1px 4px
          +transition(background .2s linear)
          
          &:hover
            background: #A33C32
            border-color: #A33C32
            color: #fff
  
  article
    background: #eee
    +bg_gradient(#ccc,#fff)
    font: 15px DinLight
    line-height: 20px
    margin: -10px 0 0
    min-height: 310px
    padding: 50px 40px 40px
    
    p
      padding: 0 0 1em
      
    ul
      padding: 0 2em 1em
      
      li
        list-style: square
    
    ol
      padding: 0 2em 1em
      
      li
        list-style: decimal
  
  &.compose
    left: 70px
    
    header
      margin: 0
      
      >fieldset
      
        >ul
          background: #eee
          border-bottom: 1px solid #888
          +border_radius(0,0,10,10)
          +box_shadow(0 0 15px #999)
          padding: 15px 10px 5px
          
          >li
            color: #644b83
            margin-right: 200px
      
            >label
              background: #ddd
              +bg_gradient(#ccc,#eee)
              border: 1px solid #ccc
              border-right-color: #eee
              +border_radius(5,0,0,5)
              font: 14px DinMedium
              height: 30px
              line-height: 30px
              margin: 0 -90px 0 0
              padding: 0 10px
              position: absolute
              right: 100%
            
            >input
              background: #fff
              border: 1px solid #ccc
              +border_radius(0,5,5,0)
              font: 18px DinLight
              height: 30px
              line-height: 30px
              padding: 0 10px
              position: relative
              margin: 0 0 5px 80px
              width: 100%
              z-index: 4
            
            ul
              margin: 0 -195px -5px 0
              padding: 0 0 0 80px
            
              &:after
                clear: both
                content: ' '
                display: block
                height: 0
                visibility: hidden
            
              li
              
                label
                  display: none
                  +bg_gradient(#cddae4,#b1bfcb)
                  border: 1px solid #bacbd8
                  +border-radius(3)
                  color: #3b5a72
                  float: left
                  font: 13px DinMedium
                  margin: 0 5px 5px 0
                  padding: 1px 4px
                  white-space: nowrap
                  
                  &:after
                    background: #778a98
                    +border-radius(3)
                    color: #fff
                    content: '\2716'
                    float: right
                    margin: 0 -2px 0 6px
                    padding: 0 3px
                  
                  &:hover
                  
                    &:after
                      background: #A33C32
                
                input
                  left: -500em
                  position: absolute
                  
                  &:checked + label
                    display: block
    
    article
      background: #fff
      +border_radius(5)
      bottom: 20px
      +box_shadow(0 0 15px #ccc)
      left: 20px
      min-height: 0
      padding: 10px 10px 10px 20px
      position: absolute
      top: 130px
      right: 20px
      
      &:before
        +bg_gradient(#fff,rgba(#fff,0))
        +border_radius(10,10,0,0)
        content: ''
        height: 20px
        left: 0
        position: absolute
        right: 0
        top: 0
      
      &:after
        +bg_gradient(rgba(#fff,0),#fff)
        +border_radius(0,0,10,10)
        border-bottom: 15px solid #fff
        bottom: -15px
        content: ''
        height: 20px
        left: 0
        position: absolute
        right: 0
      
      textarea
        background: transparent
        +border_radius(10)
        color: #644B83
        font: 18px DinLight
        height: 100%
        line-height: 25px
        margin: -10px 0
        padding: 15px 0
        width: 100%
    
    aside
    
      ul
        background: #327BB4
        +border_radius(0,0,5,5)
        left: 90px
        position: absolute
        right: 108px
        top: 83px
        z-index: 3
      
        li
        
          label
            border-top: 1px solid #1F699E
            color: #CCEAFF
            cursor: pointer
            display: none
            font: 13px DinLight, sans
            padding: 5px 10px
            
            &:hover
              background: #4E98D0
              color: #fff
          
          &.first,
          &:first-child
            
            label
              padding: 10px 10px 5px
          
          &.last,
          &:last-child
            
            label
              +border_radius(0,0,5,5)
    
    button
      border-color: #ddd
      +box_shadow(0 0 10px #999)
      +border_radius(6)
      font-size: 30px
      height: 67px
      padding: 0
      position: absolute
      right: 20px
      top: 20px
      width: 80px
      z-index: 3
      
      &:hover,
      &:focus
        border-color: #fff
        +box_shadow(0 0 20px #333)