- title "Adding Game | #{current_community.name}"
- content_for :footer do
  = javascript_include_tag 'community_games'

%h1 Add a Community Game

= simple_form_for @community_game, html: {novalidate: true} do |f|
  %fieldset
    %ol
      = f.input :game_name, input_html:{ data: {autocomplete_source: autocomplete_community_games_url} }
      %li
        %button{ type: 'submit' } Add this game