- title 'Sign in'

- content_for :header do
  %meta{ name: "robots", content: "noindex" }

%h1 Log in to Tabard

= simple_form_for(resource, as: resource_name, url: session_url(resource_name, subdomain: "secure")) do |f|
  %fieldset
    %ol
      = f.input :email, label: false, placeholder: 'Email'
      = f.input :password, label: false, placeholder: 'Password'
      = f.input :validation_code, label: false, placeholder: 'Code', autocomplete: :off
      %li.submit
        %button{ type: 'submit' } Login

%script{ type: 'text/javascript' }
  :plain
    jQuery(document).ready(function($){ $('#admin_user_email').focus(); });