= simple_form_for support_ticket, url: support_url(subdomain: false), html: {novalidate: true} do |f|
  = f.input :body, wrapper_tag: :p, label: 'Describe your issue in detail'
  %p
    %button{ type: 'submit' } Create Support Ticket