- title 'Customer Support'

#body
  %h1 Customer Support
  -unless user_signed_in?
    %p
      For now, please direct all support issues to
      = link_to 'support@crumblin.com', 'mailto:support@crumblin.com'
  -else
    %h2 Create A New Ticket
    = render 'form', :support_ticket => SupportTicket.new
    %hr
    %h2 Your Support Tickets
    %h3 Pending Review
    %p
      =current_user.pending_support_tickets.to_yaml
    %h3 In Progress
    %p
      =current_user.in_progress_support_tickets.to_yaml
    %h3 Closed
    %p
      =current_user.closed_support_tickets.to_yaml