- title "Editing Star Wars: The Old Republic Character"

%h1 Editing Star Wars: The Old Republic Character

= simple_form_for @swtor_character do |f|
  = render 'fields', :f => f, :swtor_character => @swtor_character
  %p.submit
    = f.button :submit, 'Update Character'