- title "Editing Star Wars: The Old Republic Character"

#body
  %h1 Editing Star Wars: The Old Republic Character

  = simple_form_for @swtor_character, :html => {:novalidate => true}  do |f|
    %fieldset
      %ol
        = render 'fields', :f => f, :swtor_character => @swtor_character
      %p.submit
        %button{ :type => 'submit' } Save character
        = link_to 'Remove Character', @swtor_character, :method => :delete, :confirm => 'This cannot be undone. Are you sure you want to remove this character?', :class => 'secondary'

  = render 'shared/user_account_links'