- title "New Star Wars: The Old Republic Character"

= javascript_include_tag "swtor_characters"

#body
  %h1 New Star Wars: The Old Republic Character
  
  = simple_form_for @swtor_character do |f|
    %fieldset
      %ol
        = render 'fields', :f => f, :swtor_character => @swtor_character
        %li
          %button{ :type => 'submit' } Create character