@import mixins

#bar
  background: image-url('bar/bg.png') top center repeat-x #000
  color: #a89db4
  height: 70px
  left: 0
  min-width: 980px
  position: fixed
  right: 0
  top: 0
  z-index: 91

  .logo
    background: image-url('bar/logo.png') 0 100% no-repeat
    height: 66px
    left: 50%
    overflow: hidden
    margin: 0 0 0 -480px
    position: absolute
    text-indent: -500em
    top: 0
    width: 229px
    
  .dashboard
    position: absolute
    right: 50%
    margin: 0 -410px 0 0
    top: 0
    width: 150px
    >li
      list-style: inline
      a
        display: block
        float: left
        height: 60px
        overflow: hidden
        padding: 0
        position: relative
        text-indent: -500em
        width: 50px
        &:before
          color: #fff
          content: ''
          font: 3em Picara
          height: 50px
          left: 0
          line-height: 50px
          +opacity(.55)
          position: absolute
          right: 0
          text-indent: 0
          top: 10px
        &[meta]:after
          background: #B23D22
          +border_radius(8)
          content: attr(meta)
          color: #eeddcb
          font-size: 11px
          height: 16px
          line-height: 16px
          min-width: 8px
          padding: 0 5px
          position: absolute
          right: 5px
          text-align: center
          text-indent: 0
          text-shadow: 0 -1px 1px #8D0700
          top: 7px
        &:hover
          &:before
            +opacity(1)
          &:after
            background: #e45431
            color: #fff
      &.calendar a:before
        content: '\F206'
      &.notice a:before
        content: '\F207'
      &.envelope a:before
        content: '\F100'
  
  .menu
    height: 30px
    line-height: 30px
    margin: 0 -480px 0 0
    position: absolute
    right: 50%
    text-align: right
    top: 20px
    >li
      display: inline
      position: relative
      >a,
      >span
        color: #ccc
        display: block
        float: left
        height: 33px
        font-size: 14px
        line-height: 30px
        margin: 0 5px
        padding: 0 10px
        position: relative
        text-shadow: 0 -1px 1px #000
        z-index: 92
      >span
        +border_radius(2,2,0,0)
        cursor: default
      >ul
        right: 5px
        top: -999em
      &:hover
        >a,
        >span
          color: #fff
          +transition(background .1s linear)
          z-index: 94
        >span
          background: #CF4527
        >ul
          +opacity(1)
          top: 33px
          a
            padding-bottom: 10px
            padding-top: 10px
      .button
        background: #3F7696
        border: 0
        +box_shadow(0 1px 2px #000)
        color: #fff
        font-size: 16px
        margin: 0 0 0 15px
        text-shadow: 0 -1px 1px #22506b
        &:hover
          background: #5288a8
      &.signup .button
        background: #B63E25
        text-shadow: 0 -1px 1px #9F0400
        &:hover
          background: #C24B2D
  
  .avatar
    background: #000
    border: 9px solid #000
    +border_radius(2,2,0,0)
    height: 42px
    margin: 0 -480px 0 0
    position: absolute
    right: 50%
    top: 9px
    width: 42px
    z-index: 95
    img
      background: #666
      border: 1px solid #000
      +box_shadow(0 0 5px #666)
      height: 40px
      left: 0
      position: absolute
      top: 0
      width: 40px
      z-index: 2
    >ul
      right: -9px
    &:hover
      border-color: #CF4527
      img
        border: 1px solid #d1b188
        outline: 1px solid #782A2A
      >ul
        +opacity(1)
        top: 35px
        a
          padding-bottom: 10px
          padding-top: 10px
  
  .menu > li > ul,
  .avatar > ul
    background: #CF4527
    +bg_gradient(#CF4527,#A03931)
    +border_radius(2,0,2,2)
    +box_shadow(-3px 5px 5px rgba(#000, .3))
    padding: 10px
    position: absolute
    +opacity(0)
    text-align: left
    top: -500em
    +transition(opacity .1s linear)
    z-index: 1
    a
      border-bottom: 1px solid #862D20
      color: #e9d9c4
      display: block
      font-size: 12px
      line-height: 15px
      padding: 0 50px 0 30px
      position: relative
      text-shadow: 0 -1px 1px #862D20
      +transition(padding .1s linear)
      white-space: nowrap
      &:after
        background: #993528
        color: #d1b188
        font: 2em Picara
        height: 25px
        left: 0
        line-height: auto
        +opacity(.9)
        position: absolute
        text-align: center
        top: 5px
        width: 25px
      &.current
        background: #993528
      &:hover
        background: #862D20
        color: #fff
        &:after
          background: transparent
          color: #fff
    li:last-child a
      border-bottom: 0

    &.communities a:after
      content: '\F500'

    li.add a:after
      content: '\F002'
    li.logout a:after
      content: '\F001'
    li.profile a:after
      content: '\F200'
    li.settings a:after
      content: '\F204'
    li.subscriptions a:after
      content: '\F00E'

body.signed_in #bar .menu
  margin: 0 -250px 0 0

body.top_level.index #bar .menu .signup,
body.sessions.new #bar .menu .login
  display: none