// Flash Messages

#flash
  left: 0
  margin: -5px 0 20px
  position: relative
  right: 0
  
  li
    background: #eee
    +bg_gradient(#ddd,#fff)
    border-bottom: 1px solid rgba(#fff,.2)
    border-left: 1px solid #fff
    border-right: 1px solid #fff
    border-top: 0
    +box_shadow(inset 0 0 5px rgba(#000,.2))
    color: #251634
    font: 16px DinMedium
    height: 0
    line-height: 0
    margin: 0 auto
    overflow: hidden
    padding: 0 40px
    position: relative
    text-align: left
    +transition(color .2s linear, box-shadow .2s linear)
    width: 878px
    z-index: 88
    
    &:before
      background: image-url('application/icons.png') no-repeat
      content: ''
      height: 30px
      left: 5px
      margin: -15px 0 0
      +opacity(.9)
      position: absolute
      top: 50%
      width: 30px
    
    &.busy
      
      &:after
        background: image-url('application/busy.gif') center center no-repeat rgba(#000,.5)
        bottom: 0
        content: ''
        left: 0
        position: absolute
        right: 0
        top: 0
    
    &:last-child
      +border_radius(0,0,5,5)
      border-bottom: 1px solid #fff
      
      &:after
        +border_radius(0,0,5,5)
    
    &.alert
      +bg_gradient(#d73c31,#A13A32)
      color: #F6EAE9
      
      &:before
        background-position: -450px -30px
    
    &.success
      +bg_gradient(#4a95ca,#266c9e)
      color: #CDEAFF
      
      &:before
        background-position: -480px -30px
        
      &:hover
        color: #fff
    
    &.notice
      +bg_gradient(#c3a606,#ac9200)
      color: #F7F6E6
      
      &:before
        background-position: -60px -30px
        
      &:hover
        color: #fff
    
    &.announcement
      +bg_gradient(#74548e,#5f4078)
      color: #eae1f2
      
      &:before
        background-position: -450px -30px
      
      &:hover
        color: #fff
    
    .dismiss,
    .read
      background: #fff
      border: 1px solid rgba(#000,.5)
      +border_radius(4)
      +box_shadow(0 0 5px rgba(#000,.2))
      color: #000
      font-size: 12px
      line-height: 12px
      margin: -11px 0 0
      padding: 4px 5px
      position: absolute
      +opacity(.5)
      right: 10px
      top: 50%
      +transition(opacity .2s linear, box-shadow .2s linear, border .2s linear)
      
      &:before
        bottom: -10px
        content: ''
        left: -10px
        position: absolute
        right: -10px
        top: -10px
    
    .link
      
      &:before
        bottom: 0
        content: ''
        display: block
        left: 0
        position: absolute
        right: 40px
        top: 0
    
    .meta
      font: 13px DinLight, sans
    
    &:hover
      +box_shadow(inset 0 0 25px rgba(#fff,.2))
      z-index: 89
      
      &:before
        +opacity(1)
      
      .dismiss,
      .read
        +opacity(.7)
      
        &:hover
          border-color: #fff
          +box_shadow(0 0 15px rgba(#000,.4))
          +opacity(.9)


// Forms
#body
    
  button,
  .button
    border: 1px solid
    +border_radius(5)
    display: inline-block
    height: 30px
    line-height: 30px !important
    margin: 0 5px 0 0
    padding: 0 15px
    position: relative
    text-decoration: none
    +transition(box-shadow .2s linear)

  label
    font-family: DinMedium, sans
  
  input,
  textarea
    position: relative
    z-index: 2
  
  input[type="file"]
    display: block
    margin: 0 0 5px
  
  input[type="url"],
  input[type="email"],
  input[type="text"],
  input[type="password"],
  textarea
    +border_radius(5)
    border: 1px solid
    display: block
    line-height: 20px
    margin: 5px 0 0
    padding: 5px 10px
    +transition(box-shadow .2s linear)
    width: 410px
  
  input[type="checkbox"],
  input[type="radio"]
    height: 1px
    margin: 10px 0 0 5px
    position: absolute
    width: 1px
    z-index: 1
    
    + label
      display: block
      line-height: 24px
      margin: 0 0 5px
      position: relative
      text-indent: 34px
      z-index: 3
      
      &:before
        border: 1px solid
        +border_radius(5)
        content: ''
        height: 24px
        left: 0
        position: absolute
        top: 0
        width: 24px
    
    &:checked

      + label:after
        border: 1px solid
        +border_radius(20)
        content: ''
        height: 14px
        left: 5px
        position: absolute
        top: 5px
        width: 14px
        z-index: 2

  dfn.hint
    display: block
    font: 12px DinMedium, sans
    padding: 5px
    
    &:before
      content: '\2014\00A0'

  div.select
    float: left
    margin: 0 5px 0 0
    width: 435px
      
  .select
    height: 55px
    position: relative
  
    ul
      +border_radius(5)
      border: 1px solid
      display: block
      height: 0
      line-height: 30px
      margin: 5px 0 0
      overflow: hidden
      padding: 32px 1px 1px
      position: absolute
      +transition(box-shadow .2s linear)
      width: 428px
      z-index: 9
          
      &:before
        border: 5px solid transparent
        content: ''
        height: 0
        position: absolute
        right: 10px
        top: 13px
        width: 0
        z-index: 10
      
      li
        display: inline
        padding: 0
        position: static
        
        label
          +border_radius(5)
          border-top: 1px solid
          display: none
          font-family: DinMedium, sans
          line-height: 20px
          margin: 1px 0 0
          min-height: 20px
          padding: 5px 10px
          text-indent: 0
          
          &:before,
          &:after
            display: none
        
          .avatar
            border: 1px solid
            +border_radius(3)
            float: left
            margin: -1px 6px 3px -6px
        
        input
          left: -500em
          position: absolute
          
          &:checked + label
            background: transparent
            border-top-color: transparent
            display: block
            font-family: DinLight, sans
            height: 30px
            line-height: 30px
            overflow: hidden
            padding: 0 30px 0 10px
            position: absolute
            top: 0
            width: 388px
            z-index: 3
        
            .avatar
              margin: 4px 5px 4px -5px
  
      &:hover
        height: auto
        z-index: 11
        
        &:before
          z-index: 12
      
        li
        
          label
            display: block
            position: static
      
    .day ul
      left: 170px
      width: 80px
      
      input:checked + label
        width: 40px
    
    .month ul
      left: 0
      width: 150px
      
      input:checked + label
        width: 110px
    
    .year ul
      left: 270px
      width: 100px
      
      input:checked + label
        width: 60px
  
  fieldset
    
    &.full
      
      input[type="url"],
      input[type="email"],
      input[type="password"],
      input[type="text"],
      textarea
        width: 880px
    
    ol
      padding: 0
      
      li
        clear: both
        list-style: none
        margin: 15px 0

        >label,
        .select >label
        
          &:after
            content: '\A'
            white-space: pre
        
        &:before
          display: none
        
        &.short
          
          input
            width: 50px
        
        &.affected
          display: none
          
          .input
            display: none
  
  .field_with_errors
      
    > input,
    > textarea
      border-color: #A43D33 !important
    
    > mark.error
      background: #A43D33
      +border_radius(6,6,5,5)
      color: #fff
      display: block
      font-family: DinMedium, sans
      margin: -32px 0 0
      padding: 40px 10px 5px
      position: relative
      width: 412px
      z-index: 1
  
    &.select
      height: 85px
      
      ul
        border-color: #A43D33
        
      > .options
        margin-bottom: -55px
      
      > mark.error
        margin-top: 30px
      
    &.date
      
      > mark.error
        margin-top: 0
        width: 354px


// pop-up windows

#mask,
.wmd-prompt-background
  background: #000
  bottom: 0
  left: 0
  +opacity(.7)
  position: fixed
  right: 0
  top: 0
  z-index: 100

#modal,
.wmd-prompt-dialog
  background: #eee
  +bg_gradient(#ddd,#fff)
  border: 1px solid #fff
  +border_radius(10)
  +box_shadow(0 0 50px #000)
  left: 50%
  position: fixed
  margin: -100px 0 0 -250px
  min-height: 148px
  text-align: left
  top: 50%
  width: 498px
  z-index: 101
  
  h1,
  .wmd-prompt-question p b
    color: #367BB1
    display: block
    font: 20px DinMedium, serif
    margin: 20px 20px 0
    padding: 0
    
  .wmd-prompt-question p b
    margin: 0 0 -20px
  
  p
    color: #4B385C
    font: 16px DinLight, sans
    margin: 20px 20px 30px
    padding: 0
    
    a
      +border_radius(3)
      font-family: DinMedium, sans
      padding: 0 3px
      text-decoration: underline
      
      &:hover
        background: #4B385C
        color: #fff
        text-decoration: none
  
  textarea,
  input[type="text"],
  input[type="email"],
  input[type="password"]
    background: #eee
    +bg_gradient(#ddd,#eee)
    +border_radius(5)
    +box_shadow(0 0 3px #999)
    border: 1px solid #fff
    display: block
    line-height: 30px
    margin: 0 0 5px -10px
    padding: 0 10px
    +transition(box-shadow .2s linear)
    width: 456px
    
    &:focus
      background: #d7eaf8
      +box_shadow(0 0 8px #2d7cb4)
      +bg_gradient(#f2f8fd,#d7eaf8)
      color: #09558a
  
  .actions
    bottom: 10px
    position: absolute
    right: 10px
    
    button,
    input[type="button"]
      +bg_gradient(#d24723,#792b28)
      border: 1px solid #eee
      +border_radius(5)
      color: #f8d5bb
      display: inline-block
      float: left
      font-family: Malbeck, serif
      font-size: 16pt
      height: 30px
      line-height: 30px
      letter-spacing: 1px
      margin: 0 0 0 5px
      padding: 0 15px
      text-decoration: none
      text-transform: lowercase  
      +transition(box-shadow .2s linear)
      
      &:focus,
      &:hover
        +bg_gradient(#e05c2e,#9e3834)
        +box_shadow(0 0 10px #aaa)
        color: #fff
      
      &.cancel
        background: #777
        +bg_gradient(#888,#666)
        color: #eee
        
        &:focus,
        &:hover
          +bg_gradient(#999,#777)
          color: #fff

  &.prompt
    padding: 0 0 20px
    
.wmd-prompt-dialog
  
  form
    padding: 0 0 40px

body.fluid

  #flash
    
    li
      border-left: 0
      border-right: 0
      width: auto