// Flash Messages

#flash
  left: 0
  margin: -5px 0 20px
  position: relative
  right: 0
  
  li
    background: #eee
    +bg_gradient(#ddd,#fff)
    border-bottom: 1px solid rgba(#fff,.2)
    border-left: 1px solid #fff
    border-right: 1px solid #fff
    border-top: 0
    +box_shadow(inset 0 0 5px rgba(#000,.2))
    color: #251634
    font: 16px DinMedium
    height: 0
    line-height: 0
    margin: 0 auto
    overflow: hidden
    padding: 0 40px
    position: relative
    text-align: left
    +transition(color .2s linear, box-shadow .2s linear)
    width: 878px
    z-index: 88
    
    &:before
      background: image-url('application/icons.png') no-repeat
      content: ''
      height: 30px
      left: 5px
      margin: -15px 0 0
      +opacity(.9)
      position: absolute
      top: 50%
      width: 30px
    
    &.busy
      
      &:after
        background: image-url('application/busy.gif') center center no-repeat rgba(#000,.5)
        bottom: 0
        content: ''
        left: 0
        position: absolute
        right: 0
        top: 0
    
    &:last-child
      +border_radius(0,0,5,5)
      border-bottom: 1px solid #fff
      
      &:after
        +border_radius(0,0,5,5)
    
    &.alert
      +bg_gradient(#d73c31,#A13A32)
      color: #F6EAE9
      
      &:before
        background-position: -450px -30px
    
    &.success
      +bg_gradient(#4a95ca,#266c9e)
      color: #CDEAFF
      
      &:before
        background-position: -480px -30px
        
      &:hover
        color: #fff
    
    &.notice
      +bg_gradient(#c3a606,#ac9200)
      color: #F7F6E6
      
      &:before
        background-position: -60px -30px
        
      &:hover
        color: #fff
    
    &.announcement
      +bg_gradient(#74548e,#5f4078)
      color: #eae1f2
      
      &:before
        background-position: -450px -30px
      
      &:hover
        color: #fff
    
    .dismiss,
    .read
      background: #fff
      border: 1px solid rgba(#000,.5)
      +border_radius(4)
      +box_shadow(0 0 5px rgba(#000,.2))
      color: #000
      font-size: 12px
      line-height: 12px
      margin: -11px 0 0
      padding: 4px 5px
      position: absolute
      +opacity(.5)
      right: 10px
      top: 50%
      +transition(opacity .2s linear, box-shadow .2s linear, border .2s linear)
      
      &:before
        bottom: -10px
        content: ''
        left: -10px
        position: absolute
        right: -10px
        top: -10px
    
    .link
      
      &:before
        bottom: 0
        content: ''
        display: block
        left: 0
        position: absolute
        right: 40px
        top: 0
    
    .meta
      font: 13px DinLight, sans-serif
    
    &:hover
      +box_shadow(inset 0 0 25px rgba(#fff,.2))
      z-index: 89
      
      &:before
        +opacity(1)
      
      .dismiss,
      .read
        +opacity(.7)
      
        &:hover
          border-color: #fff
          +box_shadow(0 0 15px rgba(#000,.4))
          +opacity(.9)


// Forms
    
button,
.button,
#body button,
#body .button
  border: 1px solid transparent
  +border_radius(5)
  display: inline-block
  height: 30px
  line-height: 30px !important
  margin: 0 5px 0 0
  padding: 0 15px
  position: relative
  text-decoration: none
  +transition(box-shadow .2s linear)
  
  span
    display: block
    margin: 0 -15px
    padding: 0 15px 0 40px
    position: relative
    
    &:before
      background: image-url('application/icons.png') no-repeat
      content: ''
      height: 30px
      left: 0
      position: absolute
      top: 0
      width: 30px
  
#body

  label
    font-family: DinMedium, sans-serif
  
  input,
  textarea
    position: relative
    z-index: 2
  
  input[type="file"]
    display: block
    margin: 0 0 5px
  
  input[type="url"],
  input[type="email"],
  input[type="text"],
  input[type="password"],
  textarea
    +border_radius(5)
    border: 1px solid transparent
    display: block
    line-height: 20px
    margin: 5px 0 0
    padding: 5px 10px
    +transition(box-shadow .2s linear)
    width: 410px
  
  input[type="checkbox"],
  input[type="radio"]
    height: 1px
    margin: 15px 0 0 10px
    position: absolute
    width: 1px
    z-index: 1
    
    + label
      display: block
      line-height: 24px
      margin: 0 0 5px
      position: relative
      text-indent: 34px
      z-index: 3
      
      &:before
        border: 1px solid transparent
        +border_radius(5)
        content: ''
        height: 24px
        left: 0
        position: absolute
        top: 0
        width: 24px
        
      &:after
        border: 1px solid transparent
        +border_radius(20)
        content: ''
        height: 14px
        left: 5px
        position: absolute
        top: 5px
        width: 14px
        z-index: 2

  dfn.hint
    display: block
    font: 12px DinMedium, sans-serif
    padding: 5px
    
    &:before
      content: '\2014\00A0'

  div.select
    float: left
    margin: 0 5px 0 0
    width: 435px
      
  .select
    height: 55px
    position: relative
    
    >label
      padding-bottom: 5px
  
    ul
      +border_radius(5)
      border: 1px solid transparent
      display: block
      height: 0
      line-height: 30px
      overflow: hidden
      padding: 30px 1px 1px
      position: absolute
      +transition(box-shadow .2s linear)
      width: 428px
      z-index: 9
          
      &:before
        border: 5px solid transparent
        content: ''
        height: 0
        position: absolute
        right: 10px
        top: 13px
        width: 0
        z-index: 10
      
      li
        display: inline
        padding: 0
        position: static
        
        label
          +border_radius(5)
          border-top: 1px solid transparent
          display: none
          font-family: DinMedium, sans-serif
          line-height: 20px
          margin: 1px 0 0
          min-height: 20px
          padding: 5px 10px
          text-indent: 0
          
          &:before,
          &:after
            display: none
        
          .avatar
            border: 1px solid transparent
            +border_radius(3)
            float: left
            margin: -1px 6px 3px -6px
        
        img.avatar
          width: 20px
        
        input
          left: -500em
          position: absolute
          
          &:checked + label
            background: transparent
            border-top-color: transparent
            display: block
            font-family: DinLight, sans-serif
            height: 28px
            line-height: 28px
            overflow: hidden
            padding: 0 30px 0 10px
            position: absolute
            top: 0
            width: 388px
            z-index: 3
        
            .avatar
              margin: 3px 5px 3px -5px
  
      &:hover
        height: auto
        z-index: 11
        
        &:before
          z-index: 12
      
        li
        
          label
            display: block
            position: static
      
    .day ul
      left: 170px
      width: 80px
      
      input:checked + label
        width: 40px
    
    .month ul
      left: 0
      width: 150px
      
      input:checked + label
        width: 110px
    
    .year ul
      left: 270px
      width: 100px
      
      input:checked + label
        width: 60px
  
  .slider,
  .slider_with_none
    border: 1px solid transparent
    +border_radius(5)
    height: 30px
    margin: 0 0 10px
    overflow: hidden
    position: relative
    +transition(box-shadow .2s linear)
    
    ul
      padding: 0
      
      li
        padding: 0
        display: inline
        
    label
      border: 1px solid transparent
      +border_radius(4)
      font: 12px DinMedium, sans-serif
      height: 24px
      left: 2px
      line-height: 24px
      margin: 2px
      overflow: hidden
      padding: 0 9px 0 0 !important
      position: absolute !important
      text-align: right !important
      text-indent: 0 !important
      top: 2px
      +transition(background .2s linear)
      
      &:before,
      &:after
        display: none

    input
      margin: 0 0 0 -500em
  
  .slider
    width: 280px
  
    li
    
      &:nth-child(1) label
        width: 55px
        z-index: 5
      
      &:nth-child(2) label
        width: 125px
        z-index: 4
        
      &:nth-child(3) label
        width: 195px
        z-index: 3
        
      &:nth-child(4) label
        width: 265px
        z-index: 2
        
  .slider_with_none
    width: 305px
    
    > label
      padding: 0 !important
      width: 25px
      text-align: center !important
      z-index: 6 !important
    
    li
      
      &:nth-child(1) label
        width: 80px
        z-index: 5
        
      &:nth-child(2) label
        width: 150px
        z-index: 4
        
      &:nth-child(3) label
        width: 220px
        z-index: 3
        
      &:nth-child(4) label
        width: 290px
        z-index: 2  
  
  fieldset
    
    &.full
      
      input[type="url"],
      input[type="email"],
      input[type="password"],
      input[type="text"],
      textarea
        width: 880px
    
    ol
      padding: 0
      
      li
        clear: both
        list-style: none
        margin: 15px 0

        >label,
        .select >label
        
          &:after
            content: '\A'
            white-space: pre
        
        &:before
          display: none
        
        &.short
          
          input
            width: 50px
        
        &.affected
          display: none
          
          .input
            display: none
  
  .field_with_errors
      
    > input,
    > textarea
      border-color: #A43D33 !important
    
    > mark.error
      background: #A43D33
      +border_radius(6,6,5,5)
      color: #fff
      display: block
      font-family: DinMedium, sans-serif
      margin: -32px 0 0
      padding: 40px 10px 5px
      position: relative
      width: 412px
      z-index: 1
  
    &.select
      height: 85px
      
      ul
        border-color: #A43D33
        
      > .options
        margin-bottom: -55px
      
      > mark.error
        margin-top: 30px
      
    &.date
      
      > mark.error
        margin-top: 0
        width: 354px


// Comments

#body

  .comments,
  .activities
  
    li.comment
      border-bottom: 1px solid
      list-style: none
      min-width: 500px
      padding: 0
      position: relative
    
      blockquote
        background: transparent
        border: 0
        margin: 0
        min-height: 88px
        padding: 0 15px 10px 92px
        position: relative
        +transition(margin .2s linear)
        z-index: 3
        
        &:before
          border-bottom: 1px solid
          bottom: 15px
          content: ''
          left: 92px
          position: absolute
          right: 15px
          z-index: 3
        
        .avatar
          border: 1px solid
          border-right: 0
          height: 62px
          left: 10px
          +opacity(1)
          position: absolute
          top: 10px
          +transition(box-shadow .2s linear, opacity 1s linear)
          width: 61px
          
          &:before
            background: image-url('application/comment-shadow.png') 0 0 no-repeat
            border-right: 20px solid
            content: ''
            height: 101px
            position: absolute
            right: -20px
            top: -14px
            width: 18px
          
          &:after
            border-left: 10px solid transparent
            border-top: 10px solid
            content: ''
            height: 0
            position: absolute
            right: 0
            top: 10px
            width: 0
          
          >img
            border: 1px solid
            border-right: 0
            display: block
            height: 60px
            width: 60px
        
        .meta
          border-bottom: 1px solid
          font-size: 12px
          line-height: 15px
          overflow: hidden
          padding: 5px 0 3px 0
          position: relative
          z-index: 4
          
          a
            font-family: DinMedium, sans-serif
            position: relative
            text-decoration: none
            
            &[meta]:hover
              
              &:before
                +border_radius(3)
                content: attr(meta)
                font-size: 12px
                height: 15px
                left: 0
                line-height: 15px
                padding: 5px 10px
                position: absolute
                text-indent: 0
                top: -30px
                white-space: nowrap
              
              &:after
                border: 5px solid transparent
                border-left: 0
                border-top: 5px solid
                content: ''
                height: 0
                left: 10px
                position: absolute
                top: -5px
                width: 0
            
            &.expand
              +border_radius(3)
              display: none
            
            &.collapse
              +border_radius(3)
        
        >.actions
          position: absolute
          right: 15px
          top: -5px
          z-index: 4
          
          >a
            background: image-url('application/icons.png') no-repeat
            +border_radius(0)
            +box_shadow(none)
            display: block
            float: none
            height: 20px
            overflow: hidden
            +opacity(0)
            margin: 5px 0 0
            padding: 0
            text-indent: -500em
            +transition(opacity .2s linear)
            width: 20px
            
            &:hover
              +opacity(1)
            
            &.unlock
              display: none
        
        p
          font-size: 14px
          line-height: 20px
          margin: 0
          padding: 12px 40px 40px 0
          position: relative
          word-wrap: break-word
          z-index: 2
          
          .body
            display: block
        
        em,
        .reply
          display: block
          float: left
          font: 12px DinMedium, sans-serif
          line-height: 20px
          padding: 0 5px
          margin: 10px 0 0
          
        em
          font-size: 12px
          
        .reply
          +border_radius(0)
          text-decoration: none
        
        &:hover .actions a
          +opacity(.3)
          
          &:hover
            +opacity(1)
      
      ol
        margin: 0 0 0 20px
        position: relative
        
        >li.collapsed >blockquote
          margin: 0 0 0 -62px
        
        .avatar
          background-size: 40px 40px
          height: 42px
          margin-left: 20px
          width: 41px
          
          &:after
            border-left-width: 8px
            border-top-width: 8px
            top: 8px
          
          >img
            height: 40px
            width: 40px
      
      &.owned >blockquote >.meta a[meta]
        +border_radius(3)
      
      &.locked
        
        .reply
          display: none !important
          
        .actions a
          display: none
          
        >blockquote >.actions .unlock
          display: block
        
      &.removed
        
        >blockquote
          
          &:before
            bottom: auto
            top: 62px
          
          >p
          
            .reply
              display: none
        
          >.actions
            .edit,
            .delete,
            .lock,
            .unlock
              display: none
          
          >.avatar
            +box_shadow(none)
      
      &.replying >blockquote
        
        >p .reply
          display: none
        
        >form
        
          &.open textarea,
          textarea:hover
            height: 80px
            
          button,
          >input,
          >label
            display: block
      
      &.editing
        
        >blockquote
          min-height: 0
          
          >p
          
            .body,
            .reply
              display: none
          
          >.actions
            display: none
          
          >form
            margin: -40px 0 12px 0
            
            &:before
              display: none
      
            .profile
              display: none
            
            textarea
              height: 80px
              
            button,
            >input,
            >label
              display: block
      
      &.collapsed
        
        >blockquote
          margin: 0 0 0 -82px
          min-height: 0
          
          &:before
            display: none
          
          .meta
          
            .collapse
              display: none
            
            .expand
              display: inline
          
          .avatar
            +opacity(0)
            +transition(none)
          
          .meta
            margin-left: 1px
            
          >p,
          >form,
          .actions
            display: none
        
        >ol
          display: none
      
      form
        margin: -10px 0 12px 62px


// Activities

#body

  .activities
    font-size: 14px
    margin: 0
    padding: 0
    
    li
      margin: 10px 0 0
      padding: 10px 0
      position: relative
      
      &:before
        display: none
      
      &:after
        border-top: 1px solid
        content: ''
        left: 0
        position: absolute
        right: 0
        top: -10px
        z-index: 4
      
      a
        white-space: nowrap
      
      &:first-child,
      &.page + .page,
      &.page_space + .page_space,
      &.discussion + .discussion,
      &.discussion_space + .discussion_space,
      &.supported_game + .supported_game,
      &.user_profile + .user_profile,
      &.community + .community,
      &.character_proxy + .character_proxy,
      &.comment + .comment
        border-top: 0
        margin: -10px 0 0
        padding: 0 0 10px
        
        &:after
          display: none
      
      &.comment
        border-bottom: 0
        padding: 10px 0
        
        >blockquote
          min-height: 68px
          padding: 0 0 10px 82px
          
          &:before
            border-bottom: 0
          >p
            
            >.reply,
            >em
              display: none
        
          >.meta
            font-size: 1em
          
          >.actions
            right: 0
        
        + .activity
          margin-top: 0
        
    *[meta]:hover
      position: relative
      z-index: 5
      
      &:before
        border: 1px solid
        +border_radius(3)
        content: attr(meta)
        font: 12px DinMedium, sans-serif
        height: 12px
        left: 0
        padding: 5px 10px
        position: absolute
        top: -32px
        white-space: nowrap
        z-index: 2
      
      &:after
        background: transparent
        border: 3px solid
        border-bottom-color: transparent
        border-right-color: transparent
        content: ''
        left: 10px
        position: absolute
        top: -8px
        z-index: 3


// pop-up windows

#mask,
.wmd-prompt-background
  background: #000
  bottom: 0
  left: 0
  +opacity(.7)
  position: fixed
  right: 0
  top: 0
  z-index: 100

#modal,
.wmd-prompt-dialog
  background: #eee
  +bg_gradient(#ddd,#fff)
  border: 1px solid #fff
  +border_radius(10)
  +box_shadow(0 0 50px #000)
  left: 50%
  position: fixed
  margin: -100px 0 0 -250px
  min-height: 148px
  text-align: left
  top: 50%
  width: 498px
  z-index: 101
  
  h1,
  .wmd-prompt-question p b
    color: #367BB1
    display: block
    font: 20px DinMedium, serif
    margin: 20px 20px 0
    padding: 0
    
  .wmd-prompt-question p b
    margin: 0 0 -20px
  
  p
    color: #4B385C
    font: 16px DinLight, sans-serif
    margin: 20px 20px 30px
    padding: 0
    
    a
      +border_radius(3)
      font-family: DinMedium, sans-serif
      padding: 0 3px
      text-decoration: underline
      
      &:hover
        background: #4B385C
        color: #fff
        text-decoration: none
  
  textarea,
  input[type="text"],
  input[type="email"],
  input[type="password"]
    background: #eee
    +bg_gradient(#ddd,#eee)
    +border_radius(5)
    +box_shadow(0 0 3px #999)
    border: 1px solid #fff
    display: block
    line-height: 30px
    margin: 0 0 5px -10px
    padding: 0 10px
    +transition(box-shadow .2s linear)
    width: 456px
    
    &:focus
      background: #d7eaf8
      +box_shadow(0 0 8px #2d7cb4)
      +bg_gradient(#f2f8fd,#d7eaf8)
      color: #09558a
  
  .actions
    bottom: 10px
    position: absolute
    right: 10px
    
    button,
    input[type="button"]
      +bg_gradient(#d24723,#792b28)
      border: 1px solid #eee
      +border_radius(5)
      color: #f8d5bb
      display: inline-block
      float: left
      font-family: Malbeck, serif
      font-size: 16pt
      height: 30px
      line-height: 30px
      letter-spacing: 1px
      margin: 0 0 0 5px
      padding: 0 15px
      text-decoration: none
      text-transform: lowercase  
      +transition(box-shadow .2s linear)
      
      &:focus,
      &:hover
        +bg_gradient(#e05c2e,#9e3834)
        +box_shadow(0 0 10px #aaa)
        color: #fff
      
      &.cancel
        background: #777
        +bg_gradient(#888,#666)
        color: #eee
        
        &:focus,
        &:hover
          +bg_gradient(#999,#777)
          color: #fff

  &.prompt
    padding: 0 0 20px

#modal
  padding: 0 0 20px

.wmd-prompt-dialog form
  padding: 0 0 40px

body.fluid

  #flash
    
    li
      border-left: 0
      border-right: 0
      width: auto