@import mixins

body.fluid
  background: #fff !important
  min-width: 0
  overflow-x: hidden
  
  &:before,
  &:after
    display: none !important
    
  #content,
  #header,
  #body
    background: #fff
    min-height: 0 !important
    min-width: 0 !important
    
    &:before,
    &:after
      display: none !important
  
  #header
    display: none

  #bar
    background-position: 0 0
    height: 69px
    min-width: 1px
    .logo
      left: 5px
      margin: 0
    .menu
      left: auto
      margin: 0 !important
      right: 230px
      ul
        right: 5px
    >ul.dashboard
      margin: -2px 0 0
      right: 79px
    .communities
      margin: 0
      right: 213px
    .avatar
      margin: 0
      right: 10px

  #flash
    margin-top: -1px
    li
      border-left: 0
      border-right: 0
      +border_radius(0)
      
      &:last-child
        border-bottom-color: #000
        +border_radius(0)

  #body
    +box_shadow(none)
    position: static
    
  .editor
    background: #aaa
    border-right: 1px solid #666
    bottom: -30px
    +box_shadow(0 0 30px rgba(#000,.5))
    left: 60px
    overflow: hidden
    padding: 30px
    position: fixed
    right: 45%
    top: 69px
    z-index: 4
    
    #wmd-fields
      bottom: 0
      left: 60px
      overflow: hidden
      position: fixed
      top: 85px
      right: 45%
      
      fieldset
        bottom: 0
        left: 30px
        position: absolute
        right: 0
        top: 0
        
        ol
          bottom: 0
          left: 0
          margin: -10px 0 0
          padding: 10px 0 0
          position: absolute
          right: 0
          top: 0
        
          li
            margin-right: 43px
            
            label
              display: inline-block
          
            &.wmd-panel
              bottom: 30px
              left: 0
              position: absolute
              right: 0
              top: 60px
              
              &.with-errors
                bottom: 59px
              
              textarea
                height: 100%
                max-height: 100%
                max-width: 100%
            
            + li + .wmd-panel
              top: 120px
            
            &.with-errors
            
              + .wmd-panel
                top: 109px
                
              + li +.wmd-panel
                top: 149px
              
              mark.error
                margin-right: -22px
                width: auto
        
        input,
        textarea
          width: 100%
    
  #wmd-preview
    background: #fff
    bottom: 200px
    left: 55%
    margin: -10px 0 0
    padding: 40px 40px 30px
    position: absolute
    right: 0
    top: 0 !important
    z-index: 3
  
  .sidemenu a,
  .sidemenu button,
  .wmd-button,
  #content #body .sidemenu a,
  #content #body .sidemenu button,
  #content #body .sidemenu .wmd-button
    background: #333
    +border_radius(30)
    +box_shadow(0 0 15px #888)
    display: block
    height: 32px
    +opacity(.7)
    margin: 0 14px 10px
    padding: 0
    position: relative
    text-decoration: none
    text-indent: -100em
    width: 32px
    +transition(background .1s linear, box-shadow .2s linear, border .2s linear)
    &:after
      color: #fff
      font: 2.5em Picara
      height: 32px
      left: 0
      line-height: 25px
      position: absolute
      text-align: center
      text-indent: 0
      text-shadow: 0 -1px 1px #000
      top: 0
      width: 32px
    &:hover
      background: #fff
      +box_shadow(0 0 20px #000)
      +opacity(.99)
      &:after
        color: #000
        text-shadow: none
      &[meta]:before,
      &[title]:before
        background: #000
        +border_radius(0,3,3,0)
        color: #fff
        font-size: .8em
        height: 30px !important
        left: 45px !important
        line-height: 30px
        margin: 0
        padding: 0 10px
        position: absolute
        text-indent: 0
        text-transform: none
        top: auto  !important
        width: auto  !important
        white-space: nowrap
        z-index: 15
      &[meta]:before
        content: attr(meta) !important
      &[title]:before
        content: attr(title) !important
    
    &.wmd-save
      background-color: #2D7CB4
      border-color: #1c6293
      +opacity(1)
      &:after
        content: '\F000'
      &:hover
        border-color: #4594cc
    
  .wmd-spacer:before
    display: none !important
  
  .sidemenu
    background: #444
    +bg_gradient(#555555,#333333)
    border-right: 1px solid #333
    bottom: 0
    +box_shadow(0 0 10px rgba(#000,.7))
    left: 0
    margin: -10px 0 0
    padding: 10px 0 0
    position: fixed
    text-align: center
    top: 69px
    width: 59px
    z-index: 5
      
    dt
      border-bottom: 1px solid #000
      color: #999 !important
      font-size: .8em !important
      margin: 0 0 20px
      padding: 10px 0 5px !important
    
    #wmd-button-bar
      ul
        height: 100%
        padding: 0
        li
          left: 0 !important
          list-style: none
          &:before
            display: none
          &.wmd-button
            cursor: pointer
            height: 30px
            margin-top: -5px
            position: relative
            &#wmd-bold-button:after
              content: '\F300'
            &#wmd-italic-button
              display: none
              &:after
                content: '\F301'
            &#wmd-link-button:after
              content: '\F305'
            &#wmd-quote-button:after
              content: '\F308'
            &#wmd-code-button
              display: none
              &:after
                content: '\F309'
            &#wmd-image-button:after
              content: '\F307'
            &#wmd-ulist-button:after
              content: '\F304'
            &#wmd-olist-button:after
              content: '\F303'
            &#wmd-heading-button:after
              content: '\F302'
            &#wmd-hr-button
              display: none
              &:after
                content: '\F008'
            &#wmd-undo-button
              display: none
              &:after
                content: '\F004'
            &#wmd-redo-button
              display: none
              &:after
                content: '\F003'
            &#wmd-help-button:after
              content: '\F005'
      
    dd
      padding: 0 !important
      &.cinch
        a,
        button
          margin: -5px 14px 15px
      &.toggle
        a:after,
        button:after
          content: '\F000'
      &.cancel
        a:after,
        button:after
          content: '\F00A'
      &.inbox
        a:after,
        button:after
          content: '\F101'
      &.sent
        a:after,
        button:after
          content: '\F102'
      &.trash
        a:after,
        button:after
          content: '\F103'
      &.compose
        a:after,
        button:after
          content: '\F30B'
      &.move
        a:after,
        button:after
          content: '\F103'
      &.unread
        a:after,
        button:after
          content: '\F106'
      &.read
        a:after,
        button:after
          content: '\F107'
      &.destroy
        a:after,
        button:after
          content: '\F105'
      &.current
        a,
        button
          background: #227FB5
          +box_shadow(0 0 20px #000)
          +opacity(.99)
          &:after
            color: #fff
      &.list a:after
        content: '\F008'
      &.new a:after
        content: '\F002'
      &.week a:after
        content: '\F008'
      &.month a:after
        content: '\F009'

  &.subdomains.pages
    #wmd-fields
      bottom: 30px
    #footer
      bottom: 0
      left: 60px
      margin: 0
      padding: 10px 5px
      position: fixed
      right: 45%
      width: auto
      z-index: 999
      &:before
        display: none
      p
        color: #666
        a
          color: #666 !important
          &:hover
            color: #A1392D !important