#footer
  background: #fff
  +border_radius(3)
  bottom: 0
  font-family: DinMedium, sans
  font-size: 11px
  left: 0
  +opacity(0)
  padding: 5px
  position: fixed
  +transition(opacity .2s linear)
  z-index: 99
  
  &:hover
    +opacity(.5)