@import mixins

#footer
  bottom: 0
  clear: both
  left: 50%
  margin: 0 0 0 -480px
  padding: 20px 0
  position: absolute
  text-align: center
  width: 960px
  &:before
    background: image-url('bar/shadow.png') 50% 0 no-repeat transparent
    bottom: 0
    content: ''
    left: 0
    +opacity(.2)
    position: absolute
    right: 0
    top: 0
    z-index: 1
  p
    font-size: .75em
    line-height: 15px
    padding: 0 !important
    position: relative
    z-index: 2
  a
    text-decoration: underline