@font-face {
    font-family: 'Picara';
    src: url("../picara.eot");
    src: url("../picara.eot?#iefix") format('embedded-opentype'),
         url("../picara.woff") format('woff'),
         url("../picara.ttf") format('truetype'),
         url("../picara.svg#Picara") format('svg');
    font-weight: normal;
    font-style: normal;
}