%ul#flash
  - if defined? current_user.unread_announcements
    - current_user.unread_announcements.each do |discussion|
      %li{ :class => 'announcement' }
        = truncate discussion.body, :length => 100, :separator => ' '
  - if !!flash[:alert]
    %li.alert
      :markdown
        #{flash[:alert]}
  - if !!flash[:messages]
    - flash[:messages].each do |message|
      %li{ :class => message[:class] }
        :markdown
          #{message[:body]}