%li.announcement
  = link_to (truncate announcement.body, :length => 100, :separator => ' '), announcement_url(announcement, :subdomain => announcement.subdomain), :class => 'link'
  %span.meta= "— #{announcement.community_name}"
  = link_to '✔', announcement_url(announcement, :subdomain => announcement.subdomain, :format => :js), 'data-type' => :text, :remote => true, :class => 'read'