%li.announcement
  = link_to (truncate announcement.name, :length => 100, :separator => ' '), announcement_url(announcement, :subdomain => announcement.subdomain), :class => 'link'
  %span.meta= "— #{announcement.community_name}"
  - unless defined? announcement.body and announcement.body.length > 0
    = link_to '✔', announcement_url(announcement, :community_id => announcement.community.id, :format => :js), 'data-type' => :text, :remote => true, :class => 'read'