- if !!flash[:alert] or !!flash[:error] or !!flash[:notice] or !!flash[:success]
  %ul#flash
    - if !!flash[:alert]
      %li.alert
        :markdown
          #{flash[:alert]}
    - if !!flash[:error]
      %li.alert
        :markdown
          #{flash[:error]}
    - if !!flash[:notice]
      %li.notice
        :markdown
          #{flash[:notice]}
    - if !!flash[:success]
      %li.success
        :markdown
          #{flash[:success]}