#mailbox_list
  %p= link_to "Compose", new_sent_path
  %p
    %strong Mailboxes
  %ul
    %li= link_to "Inbox", inbox_path
    %li= link_to "Sent", sent_messages_path
    %li= link_to "Trash", trash_path