%fieldset
  %ol
    = f.input :name, :label => 'Name'
    = f.input :game_id, :label => 'Game (optional)', :collection => collection_with_blank(current_community.games), :as => :radio, :wrapper_html => { :class => 'select' }