%fieldset
  %ol
    = f.input :name, input_html: { maxlength: PageSpace::MAX_NAME_LENGTH }
    = f.input :community_game_id, label: 'Game', collection: [['— None —','']].concat(current_community.community_games.includes(:community).collect {|c| c = [c.smart_name, c.id]}), as: :radio_buttons, wrapper_html: { class: 'select with-label' }
