- title "Editing Page Space | #{current_community.name}"

%h1 Editing Page Space

= simple_form_for @page_space, :html => {:novalidate => true} do |f|
  = render 'fields', :f => f
  %p.submit
    = f.button :submit, 'Save Changes'