- title "Page Spaces | #{current_community.name}"

#actions.actions
  - if can? :create, PageSpace
    = link_to 'Add', new_page_space_path, :class => 'new', :meta => 'Create a new page space'

%h1 Page Spaces

- if @page_spaces.any?
  = render "table", :page_spaces => @page_spaces

-else
  %p There are no page spaces.
  - if can? :create, PageSpace
    %p= link_to 'New Space', new_page_space_path, :class => 'button'